<div style="font-family:arial;font-size:12px;" ng-init="init();"></div>

<script type="text/ng-template" id="modalContact.html">
	<div class="modal-header">
    	<h3 class="modal-title">Kontakt</h3>
    </div>
    <div class="modal-body">
		<div class="row">
    		<div class="col-xs-7 form-group">
				<label>Telefon/mail:</label>
				<input class='form-control input-xs' type='text' ng-model="editRow.electronicAddresses"/>
			</div>
			<div class="col-xs-5 form-group">
			</div>
		</div>
		<div class="row">
    		<div class="col-xs-7 form-group">
				<label>Napomena:</label>
				<textarea class="form-control input-sm" rows="3" cols="120" ng-model="editRow.electronicAddresses"></textarea>
			</div>
			<div class="col-xs-5 form-group">
			</div>
		</div>
	</div>
    <div class="modal-footer">
    	<button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div> 
</script>
<script type="text/ng-template" id="modalDelete.html">
	<div class="modal-header">
		<h3 class="modal-title">Autorizacija</h3>
	</div>
	<div class="modal-body">
		<div class="row">
    		<div class="col-xs-7 form-group">
				<label>Admin lozinka:</label>
				<input class='form-control input-xs' type='text'/>
			</div>
			<div class="col-xs-5 form-group">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
	    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div> 
</script>	
	
	
<div style="width:1000px;">
	<button title="Pospremi podatke" ng-click="save()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-floppy-save" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Pospremi</span>
  		</span>
	</button>
	<button title="Pošalji e-mail" ng-click="emailIt()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-envelope" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> E-Mail</span>
  		</span>
	</button>
	<button title="Kopiraj osobu u međuspremnik" ng-click="copy()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-arrow-up" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Kopiraj</span>
  		</span>
	</button>
	<button title="Zalijepi podatke iz međuspremnika" ng-click="paste()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-arrow-down" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Zalijepi</span>
  		</span>
	</button>
	<button title="Izvezi osobu" ng-click="exportIt()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-export" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Export</span>
  		</span>
	</button>
	<button ng-click="openModalDelete('modalDelete.html')" style="position:relative;float:right;" title="Obriši osobu" ng-click="" type="button" class="btn btn-danger btn-xs">
  		<span class="glyphicon glyphicon-trash" aria-hidden="true">
  			<span  style="font-family:arial;font-size:12px;"> Delete</span>
  		</span>
	</button>
</div>
<div ng-include="'views/clientsTabs.html'"></div>	
<div growl></div>
<div style="width:1000px;">
		<div class="row">
    		<div class="col-xs-3 form-group">
				<div class="row">
    				<div class="col-xs-1 form-group">
					</div>
    				<div class="col-xs-6 form-group">
    					<label>Broj</label>
						<input class="form-control input-xs" ng-model="editRow.clientNo" type="text" />
					</div>
					<div class="col-xs-5 form-group">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-1 form-group">
					</div>
    				<div class="col-xs-10 form-group">
						<label>Naziv osobe</label>
						<input class="form-control input-xs" ng-model="editRow.clientName" style="width:100%;" type="text" />
					</div>
					<div class="col-xs-1 form-group">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-1 form-group">
					</div>
    				<div class="col-xs-6 form-group">
    					<label>Tip osobe</label>
						<select class="form-control input-xs" ng-model="editRow.category1Id" ng-options="value._id as value.label for value in selectClientTypes">
						</select>
					</div>
					<div class="col-xs-5 form-group">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-1 form-group">
					</div>
					<div class="col-xs-10 form-group">
						<label>Tip klijenta</label><br>
						<div class="btn-group"  ng-repeat="clientType in allClientTypes track by clientType._id">
			    			<div class="checkbox col-xs-4 ">
			      				<label><input type="checkbox" ng-model="clientType.value">{{clientType.name}}</label>
			    			</div>
						</div>
					</div>
					<div class="col-xs-1 form-group">
					</div>
				</div>
			</div>					
			
			<div class="col-xs-9 form-group">
				<div class="row">
					<div class="col-xs-3 form-group">
						<label>Popust</label>
						<select class="form-control input-xs">
							<option>0%</option>
							<option>10%</option>
							<option>20%</option>
							<option>30%</option>
							<option>40%</option>
							<option>50%</option>
							<option>60%</option>
							<option>70%</option>
							<option>80%</option>
							<option>90%</option>
							<option>100%</option>
						</select>
					</div>
					<div class="col-xs-9 form-group">
						<label>Napomena:</label>
						<textarea class="form-control input-sm" rows="3" cols="120" ng-model="editRow.electronicAddresses"></textarea>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-4 form-group">
						<label>Ime</label>
						<input class="form-control input-xs" ng-model="editRow.firstName" type="text" />
					</div>
					<div class="col-xs-4 form-group">
						<label>Prezime</label>
						<input class="form-control input-xs" ng-model="editRow.lastName" type="text" />
					</div>
					<div class="col-xs-4 form-group">
						<label>Naziv tvrtke</label>
						<input class="form-control input-xs" ng-model="editRow.companyName" type="text" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 form-group">
						<label>Odjel</label>
						<input class="form-control input-xs" ng-model="editRow.dept" type="text" />
					</div>
					<div class="col-xs-4 form-group">
						<label>Funkcija</label>
						<input class="form-control input-xs" ng-model="editRow.func" type="text" />
					</div>
					<div class="col-xs-4 form-group">
						<label>OIB</label>
						<input class="form-control input-xs" ng-model="editRow.vatId" type="text" />
					</div>	
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-6 form-group">
						<div class="row">
							<div class="col-xs-9 form-group">
								<label>Ulica</label>
								<input class="form-control input-xs" ng-model="editRow.homeAddress.street" type="text" />
							</div>
							<div class="col-xs-3 form-group">
								<label>K/BR</label>
								<input class="form-control input-xs" ng-model="editRow.homeAddress.nr" type="text" />
							</div>
						</div>			
						<div class="row">
							<div class="col-xs-3 form-group">
								<label>Pošt. br.</label>
								<input class="form-control input-xs" ng-model="editRow.homeAddress.zip" type="text" />
							</div>
							<div class="col-xs-6 form-group">
								<label>Mjesto</label>
								<input class="form-control input-xs" ng-model="editRow.homeAddress.stateProvince" type="text" />
							</div>
							<div class="col-xs-3 form-group">
								<label>Država</label>
								<input class="form-control input-xs text-uppercase" type="text" ng-model="editRow.countryId.iso2" maxlength="2" required="required" country-iso2-validate/>
							</div>
						</div>
					</div>
					<div class="col-xs-6 form-group">
						<table class="resizable table table-hover">
							<thead>
								<tr>
									<th>
										<label>Telefon/mail</label>
									</th>
									<th>
										<label>Napomena</label>
									</th>
									<th>
										<label>Kategorija</label>
									</th>
									<th>
										<label></label>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="address in editRow.electronicAddresses track by address._id" ng-dblclick="openModalContact('modalContact.html', contact)">
									<td>
										<span>{{ address.address }}</span>
									</td>
									<td>
										<span>{{ address.comment }}</span>
									</td>
									<td>
										<span>{{ address.categoryId.name }}</span>
									</td>
									<td>
										<span>
											<a  tc-confirmation="deleteContact(contact)" href="" item="contact"  tc-message="Brisanje!" ><span style="float:right;" title="Obriši" class="ui-icon ui-icon-trash"></span></a>
										</span>
									</td>
								</tr>
							</tbody>
						</table>
						<button  title="Dodaj3" ng-click="openModalContact('modalContact.html')" class="btn btn-default btn-xs" style="float:right;">
  							<span class="glyphicon glyphicon-plus" aria-hidden="true">
  								<span style="font-family:arial;font-size:12px;"> Dodaj</span>
 							</span>
						</button>					
					</div>
				</div>
			</div>
		</div>		
</div>