<div style="font-family:arial;font-size:12px;" ng-init="init();"></div>

<script type="text/ng-template" id="modalApplicant.html">
	<div class="modal-header">
		<h3 class="modal-title">Prijavitelj</h3>
    </div>
    <div class="modal-body">
		Tip:<input class='form-control input-xs text-uppercase' style='width:50%;' type='text' ng-model="editRow.category4Id.domain"/>
		Tvrtka:<input class='form-control input-xs' style='width:100%;' type='text' ng-model="editRow.companyName"/>
		Odjel:<input class='form-control input-xs' style='width:100%;' type='text' ng-model="editRow.dept"/>
		Osoba:<input class='form-control input-xs' style='width:100%;' type='text' ng-model="editRow.contact"/>
		Referenca:<input class='form-control input-xs' style='width:100%;' type='text' ng-model="editRow.reference"/>
    </div>
    <div class="modal-footer">
    	<button class="btn btn-primary" ng-click="ok()">OK</button>
    	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div> 
</script>

<div style="width:1000px;">
	<button title="Pospremi podatke" ng-click="save()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-floppy-save" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Pospremi</span>
  		</span>
	</button>
	<button title="Pošalji e-mail" ng-click="emailIt()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-envelope" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> E-Mail</span>
  		</span>
	</button>
	<button title="Kopiraj osobu u međuspremnik" ng-click="copy()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-arrow-up" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Kopiraj</span>
  		</span>
	</button>
	<button title="Zalijepi podatke iz međuspremnika" ng-click="paste()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-arrow-down" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Zalijepi</span>
  		</span>
	</button>
	<button title="Izvezi osobu" ng-click="exportIt()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-export" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Export</span>
  		</span>
	</button>
	<button style="position:relative;float:right;" title="Obriši osobu" ng-click="deleteIt()" type="button" class="btn btn-danger btn-xs">
  		<span class="glyphicon glyphicon-trash" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Delete</span>
  		</span>
	</button>
</div>
<div ng-include="'views/tabs.html'"></div>	
<div growl></div>
<div id="mainDiv" ng-class="{disabled: !locked}">
	<table width="1000px" >
		<tr>
			<td bgcolor="#e7e7e7">	
				<table width="1000px" bgcolor="#BDBDBD" style="padding-right:10px;">
					<tr>
						<td width="200px">
							<label>Broj predmeta:</label>
						</td>
						<td width="700px">
							<label>Naziv patenta:</label>
						</td>
						<td width="100px">
							<label>Država:</label>
						</td>
					</tr>
					<tr>
						<td width="200px">
							<input class="form-control input-xs" style="width:90%;" type="text" ng-model="editRow.caseNo" readonly/>
						</td>
						<td width="700px">
							<input class="form-control input-xs" style="width:97%;" type="text" ng-model="editRow.caseName" readonly/>
						</td>
						<td width="100px">
							<input class="form-control input-xs text-uppercase" style="width:100%;" type="text" ng-model="editRow.countryId.iso2" maxlength="2" readonly/>
						</td>
					</tr>
				</table>
				<table width="1000px" style="padding-right:10px;">
					<tr>
						<td width="200px">
							<input type="checkbox" readonly>Odustajanje/Prestanak:
						</td>
						<td width="800px">
							<input class="form-control input-xs" style="width:100%;" type="text" ng-model="editRow.terminationReason" readonly/>
						</td>
					</tr>
				</table>
				<table width="1000px">
					<tr>
						<td width="1000px">
							<br>
							<label>Prijavitelj/izumitelj:</label>
						</td>
					</tr>
					<tr>				
						<td width="1000px">
							<table class="resizable table table-hover" style="width:1000px;">
								<thead>
									<tr>
										<th>
											<label>Tip</label>
										</th>
										<th>
											<label>Tvrtka</label>
										</th>
										<th>
											<label>Odjel</label>
										</th>
										<th>
											<label>Osoba</label>
										</th>
										<th>
											<label>Referenca</label>
										</th>
										<th>
											<label></label>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="applicant in editRow.clients track by applicant._id" ng-dblclick="openModalApplicant('modalApplicant.html', applicant)">
										<td>
											<span>{{ applicant.category4Id.domain }}</span>
										</td>
										<td>
											<span>{{ applicant.companyName }}</span>
										</td>
										<td>
											<span>{{ applicant.dept }}</span>
										</td>
										<td>
											<span>{{ applicant.contact }}</span>
										</td>
										<td>
											<span>{{ applicant.reference }}</span>
										</td>
										<td>
											<span>
												<a  tc-confirmation="deleteApplicant(applicant)" href="" item="applicant"  tc-message="Brisanje!" ><span style="float:right;" title="Obriši" class="ui-icon ui-icon-trash"></span></a>
												<a ng-click="listLabels(applicant)" href="" ><span style="float:right;" title="PRIKAŽI" class="ui-icon ui-icon-script"></span></a>
											</span>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<button  title="Dodaj2" ng-click="openModalApplicant('modalApplicant.html')" class="btn btn-default btn-xs" style="float:right;">
  								<span class="glyphicon glyphicon-plus" aria-hidden="true">
  									<span style="font-family:arial;font-size:12px;"> Dodaj</span>
  								</span>
							</button>
						</td>
					</tr>
				</table>
				<table width="1000px">
					<tr>
						<td width="100px"></td>
						<td width="600px"></td>
						<td width="300px"></td>
					</tr>
					<tr>
						<td style="text-align:top;padding-right:10px;text-align:right;">
							<label>Tvrtka:</label><br>
							<label>Matični broj:</label><br>
							<label>Popust:</label><br>
							<label>Odjel:</label><br>
							<label>Kontakt osoba:</label><br>
							<label>Adresa:</label><br>
							<label>Mjesto:</label><br>
							<label>Telefon:</label><br>
							<label>Faks:</label><br>
							<label>Internet:</label><br>
							<label>Država:</label><br>
						</td>
						<td style="text-align:top;padding-right:10px;text-align:left;">
							<label>&nbsp;{{ clientsRow.companyName }}</label><br>
							<label>&nbsp;{{ clientsRow.vatId }}</label><br>
							<label>&nbsp;{{ clientsRow.category4Id.domain }}</label><br>
							<label>&nbsp;{{ clientsRow.dept }}</label><br>
							<label>&nbsp;{{ clientsRow.contact }}</label><br>
							<label>&nbsp;{{ clientsRow.homeAddress.street }}</label><br>
							<label>&nbsp;{{ clientsRow.homeAddress.city }}</label><br>
							<label>&nbsp;{{ clientsRow.electronicAddresses.categoryId }}</label><br>
							<label>&nbsp;{{ clientsRow.electronicAddresses.categoryId }}</label><br>
							<label>&nbsp;{{ clientsRow.electronicAddresses.categoryId }}</label><br>
							<label>&nbsp;{{ clientsRow.homeAddress.countryId.iso2 }}</label><br>
						</td>
						<td style="vertical-align:top;">
							<button title="Ispis kuverte" ng-click="" type="button" class="btn btn-default btn-xs">
  								<span class="glyphicon glyphicon-print" aria-hidden="true"></span>
							</button>
							<button title="Ispis naljepnice" ng-click="" type="button" class="btn btn-default btn-xs">
  								<span class="glyphicon glyphicon-print" aria-hidden="true"></span>
							</button>
							<select name="decision" style="width:15%;">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
							<span>
								<select name="decision" style="width:15%;">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</span>
							<br>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
</div>