<div class="navbar navbar-default"  style="margin:0;padding:0;">
	<ul class="nav navbar-nav">
   		<li ng-class="getClass('/clientsEdit2')">
   			<a href="#/clientsEdit2/{{id}}">
   				<span>Osoba/Tvrtka</span>
   			</a>
   		</li>
		<li ng-class="getClass('/contactsSearch')">
			<a href="#/contactsSearch/{{id}}">
				<span>Kontakti</span>
			</a>
		</li>
	</ul>
</div>
