<!-- <div ng-include="'views/menu.html'"></div> -->
<div ng-init="init()" >
	<script type="text/ng-template" id="modalClubEdit.html">
	    <form id="clubEditForm" novalidate ng-init="init()"  > 
			<div class="modal-header">
		    	<h3 class="modal-title">Main competition</h3>
		    </div>
		    <div class="modal-body" >
		    	<div class="row">
		    		<div class="col-xs-4 form-group">
						<label>Code/abbrv.*</label>
						<input class='form-control input-xs' name="code" ng-model="editRow.code" type='text'  />
					</div>
					<div class="col-xs-6 form-group">
						<label>Name</label>
						<input class='form-control input-xs' name="name" ng-model="editRow.name"  type="text"/>
					</div>
				</div>
		    	<div class="row">
					<div class="col-xs-10 form-group">
						<label>Country*</label>
						<input class="form-control input-xs"  name="country" type="text" typeahead="value as value.nameLocal for value in getCountrys($viewValue)" ng-model="editRow.country"/>
					</div>
				</div>
			</div>
		    <div class="modal-footer">
		    	<button  type="submit" class="btn btn-primary" >Save</button>
		        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		    </div> 
	    </form>
	</script>
	<div growl></div>
	<div class="tc-simple-toolbar">
		<button type="button" class="btn btn-default btn-xs" ng-click="openModalClub()"> 
			<span class="glyphicon glyphicon-folder-open" aria-hidden="true">
				<span > New</span>
			</span>
		</button>
 		<span style="display:inline-block;width:50px;">&nbsp;</span>
  		<button type="button" class="btn btn-default btn-xs" ng-click="addPair()"> 
			<span class="glyphicon glyphicon-plus" aria-hidden="true">
				<span> Add criteria</span>
			</span>	
		</button>
		<button type="button" class="btn btn-default btn-xs" ng-click="search()"> 
			<span class="glyphicon glyphicon-search" aria-hidden="true">
				<span> Search</span>
			</span>
		</button>
	</div>

	<div class="row">
		<div ng-repeat="pair in searchPairs" class="col-xs-15">
	    	<div class="col-2 col-sm-5 col-md-3 col-lg-2 col-xs-11 panel panel-primary" >	
	    		<div class="row" >
	    			<div class="col-xs-9 form-group tc-min-margin">
          				<select ng-model="pair.key" ng-options="opt as opt.label for opt in searchOptions" class="form-control input-xs min-margin" ></select>
					</div>
           			<div class="col-xs-2 form-group tc-min-margin">
               			<button  type="button" class="btn btn-default btn-xs min-nmargin" ng-click="deletePair($index)"> 
		    				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>	
					</div>
				</div>	
				<div class="row">		
					<div class="col-xs-11 form-group tc-min-margin">   
	       				<input  ng-model="pair.value" type="text"  class="form-control input-xs"/>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<!--  <td style="vertical-align: top;"></td>-->
		<table class="resizable table table-hover">
			<thead>
				<tr>
					<th />	
						<span>
							<button type="button" class="btn btn-default btn-xs" ng-click="$parent.prevPage(paging);search()"> 
								<span class="glyphicon glyphicon-step-backward" aria-hidden="true">
								</span>
							</button>
							<button type="button" class="btn btn-default btn-xs" ng-click="$parent.nextPage(paging);search()"> 
								<span class="glyphicon glyphicon-step-forward" aria-hidden="true">
								</span>
							</button>
						</span>
					<th>
						<label>Code</label>
					</th>
					<th>
						<label>Name</label>
					</th>
					<th>
						<label>Country</label>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in rows | orderBy:predicate:reverse" >
					<td>
						<span >
							<input type="checkbox" ng-click="select(row._id)" name="group" />
							<button type="button" id="deleteRow" ng-click="deleteConfirm( row)" class="btn btn-default btn-xs"> 
								<span class="glyphicon glyphicon-remove" aria-hidden="true">
								</span>
							</button>
							<button type="button" class="btn btn-default btn-xs" ng-click="openModalClub(row);"> 
								<span class="glyphicon glyphicon-edit" aria-hidden="true">
								</span>
							</button>
						</span>
					</td>		
					<td>{{ row.code }}</td>
					<td>{{ row.name }}</td>
					<td>{{ row.country.nameLocal}}</td>		
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
  		Selected: {{selected}}
	</div>
</div>
