<!-- <div ng-include="'views/menu.html'"></div> -->
<div ng-init="init()" ng-enter="search()">
	<script type="text/ng-template" id="modalTimesEdit.html">
		<form id="timesEditForm" novalidate ng-init="init()"  > 
			<div class="modal-header">
    			<h5 class="modal-title">Times for: {{editRow.competitor.fullName}} </h5>
    		</div>
			<div class="modal-body" style="padding-top:2px;">
    			<div class="row" ng-repeat="row in editRow.breaks | orderBy : 'no'">
					<div class="col-xs-2 form-group tc-times-row" >
						<label ng-show="row.no==1">&nbsp</label><br ng-show="row.no==1" />
						<span>Time {{row.no}}</span>
					</div>					
					<div class="col-xs-1 form-group  tc-times-row">
						<label ng-show="row.no==1" class="tc-times-labels">Start h.</label>
						<input class='form-control input-xs' name="startHrs" ng-model="row.startHrs" type='text'  />
					</div>
					<div class="col-xs-1 form-group  tc-times-row">
						<label ng-show="row.no==1" class="tc-times-labels">min</label>
						<input class='form-control input-xs' name="startMin" ng-model="row.startMin"  type='text' />
					</div>
					<div class="col-xs-1 form-group  tc-times-row">
						<label ng-show="row.no==1" class="tc-times-labels">sec</label>
						<input class='form-control input-xs' name="startSec" ng-model="row.startSec"  type='text' />
					</div>

					<div class="col-xs-1 form-group  tc-times-row">
						<label ng-show="row.no==1" class="tc-times-labels">Finish&nbsp;h.</label>
						<input class='form-control input-xs' name="finishHrs" ng-model="row.finishHrs" type='text'  />
					</div>
					<div class="col-xs-1 form-group  tc-times-row">
						<label ng-show="row.no==1" class="tc-times-labels">min</label>
						<input class='form-control input-xs' name="finishMin" ng-model="row.finishMin"  type='text' />
					</div>
					<div class="col-xs-1 form-group  tc-times-row">
						<label ng-show="row.no==1" class="tc-times-labels">sec</label>
						<input class='form-control input-xs' name="finishSec" ng-model="row.finishSec"  type='text' />
					</div>					
				</div>    
			</div>
		    <div class="modal-footer">
		    	<button  type="submit" class="btn btn-primary" tc-message="Save">Save</button>
		        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
		    </div> 			
    	</form>
	</script>

	<script type="text/ng-template" id="modalSolutionsEdit.html">
		<form id="solutionsEditForm" novalidate ng-init="init()"  > 
			<div class="modal-header">
    			<h5 class="modal-title">Solutions for: {{editRow.competitor.fullName}} </h5>
    		</div>
			<div class="modal-body" style="padding-top:2px;">
    			<div class="row" ng-repeat="row in editRow.breaks | orderBy : 'no'" ng-keyup="timesEnter($event)">
					<div class="col-xs-2 form-group tc-times-row" >
						<label ng-show="row.no==1">&nbsp</label><br ng-show="row.no==1" />
						<span>Time {{row.no}}</span>
					</div>					
					<div class="col-xs-1 form-group  tc-times-row">
						<label ng-show="row.no==1" class="tc-times-labels">Start h.</label>
						<input class='form-control input-xs' name="startHrs" ng-model="row.startHrs" type='text'  />
					</div>
					<div class="col-xs-1 form-group  tc-times-row">
						<label ng-show="row.no==1" class="tc-times-labels">min</label>
						<input class='form-control input-xs' name="startMin" ng-model="row.startMin"  type='text' />
					</div>
					<div class="col-xs-1 form-group  tc-times-row">
						<label ng-show="row.no==1" class="tc-times-labels">sec</label>
						<input class='form-control input-xs' name="startSec" ng-model="row.startSec"  type='text' />
					</div>

					<div class="col-xs-1 form-group  tc-times-row">
						<label ng-show="row.no==1" class="tc-times-labels">Finish&nbsp;h.</label>
						<input class='form-control input-xs' name="finishHrs" ng-model="row.finishHrs" type='text'  />
					</div>
					<div class="col-xs-1 form-group  tc-times-row">
						<label ng-show="row.no==1" class="tc-times-labels">min</label>
						<input class='form-control input-xs' name="finishMin" ng-model="row.finishMin"  type='text' />
					</div>
					<div class="col-xs-1 form-group  tc-times-row">
						<label ng-show="row.no==1" class="tc-times-labels">sec</label>
						<input class='form-control input-xs' name="finishSec" ng-model="row.finishSec"  type='text' />
					</div>					
				</div>    
				<div class="row" class="results">
					<div class="col-xs-6 form-group tc-results">
						<div class="row" ng-repeat="row in editRow.solutions.slice(0,sliceIt) | orderBy : 'task.orderNo'"  >
							<div class="col-xs-2">{{row.task.type}}.{{row.task.no}}</div>
							<div class="col-xs-6 form-group" ng-show="row.task.type=='ST'" >
								<div class="row">
									<div class="col-xs-3">Time1</div>
									<div class="col-xs-3" ng-keyup="enterTime($event, row)">
										<input class='form-control input-xs' ng-model="row.time"  type="text" />
									</div>
									<div class="col-xs-3">Time2</div>
									<div class="col-xs-3">
										<input class='form-control input-xs' ng-model="row.time2"  type="text" />
									</div>
									<div class="col-xs-12">
										<div class="row" ng-repeat="tc in row.tcSolutions | orderBy : 'no'"  >
											<div class="col-xs-1  tc-min-padding">{{tc.no}}</div>
										    <div class="col-xs-2  tc-min-padding">
										    	<input class='form-control input-xs' ng-model="tc.solution"  type="text" ng-keyup="enterSolution($event, $index, null, tc)"/>
										    </div>
											<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : tc.solution=='A'}">A</div>
											<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : tc.solution=='B'}">B</div>
											<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : tc.solution=='C'}">C</div>
											<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : tc.solution=='D'}">D</div>
											<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : tc.solution=='E'}">E</div>
											<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : tc.solution=='F'}">F</div>
											<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : tc.solution=='Z'}">Z</div>
											<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : tc.solution=='X'}">X</div>		
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-6" ng-show="row.task.type=='CP'" >
								<div class="row" >
									<div class="col-xs-1  tc-min-padding"></div>
									<div class="col-xs-2  tc-min-padding">
										<input class='form-control input-xs' ng-model="row.solution"  type="text" ng-keyup="enterSolution($event, $index, row)"/>
									</div>
									<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : row.solution=='A'}">A</div>
									<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : row.solution=='B'}">B</div>
									<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : row.solution=='C'}">C</div>
									<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : row.solution=='D'}">D</div>
									<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : row.solution=='E'}">E</div>
									<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : row.solution=='F'}">F</div>
									<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : row.solution=='Z'}">Z</div>
									<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : row.solution=='X'}">X</div>
								</div>	
							</div>
						</div>
					</div>
					<div class="col-xs-6 form-group tc-results">
						<div class="row" ng-repeat="row in editRow.solutions.slice(sliceIt,29) | orderBy : 'task.orderNo'"  >
							<div class="col-xs-2">{{row.task.type}}.{{row.task.no}}</div>
							<div class="col-xs-6 form-group" ng-show="row.task.type=='ST'" >
								<div class="row">
									<div class="col-xs-3">Time1</div>
									<div class="col-xs-3">
										<input class='form-control input-xs' ng-model="row.time"  type="text" />
									</div>
									<div class="col-xs-3">Time2</div>
									<div class="col-xs-3">
										<input class='form-control input-xs' ng-model="row.time2"  type="text" />
									</div>
									<div class="col-xs-12">
										<div class="row" ng-repeat="tc in row.tcSolutions | orderBy : 'no'"  >
											<div class="col-xs-1  tc-min-padding">{{tc.no}}</div>
										    <div class="col-xs-2  tc-min-padding">
										    	<input class='form-control input-xs' ng-model="tc.solution"  type="text" ng-keyup="enterSolution($event, $index, null, tc)"/>
										    </div>
											<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : tc.solution=='A'}">A</div>
											<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : tc.solution=='B'}">B</div>
											<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : tc.solution=='C'}">C</div>
											<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : tc.solution=='D'}">D</div>
											<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : tc.solution=='E'}">E</div>
											<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : tc.solution=='F'}">F</div>
											<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : tc.solution=='Z'}">Z</div>
											<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : tc.solution=='X'}">X</div>		
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-6" ng-show="row.task.type=='CP'" >
								<div class="row" >
									<div class="col-xs-1  tc-min-padding"></div>
									<div class="col-xs-2  tc-min-padding">
										<input class='form-control input-xs' ng-model="row.solution"  type="text" ng-keyup="enterSolution($event, $index, row)"/>
									</div>
									<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : row.solution=='A'}">A</div>
									<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : row.solution=='B'}">B</div>
									<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : row.solution=='C'}">C</div>
									<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : row.solution=='D'}">D</div>
									<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : row.solution=='E'}">E</div>
									<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : row.solution=='F'}">F</div>
									<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : row.solution=='Z'}">Z</div>
									<div class="col-xs-1 tc-min-padding" ng-class="{'tc-solution' : row.solution=='X'}">X</div>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		    <div class="modal-footer">
		    	<button  type="submit" class="btn btn-primary" tc-message="Save">Save</button>
		        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
		    </div> 			
    	</form>
	</script>
	<div class="bs-example">
	    <ul class="nav nav-tabs">
	        <li ><a href="#/{{eventCode}}/{{competitionCode}}/runSearch">Stages</a></li>
	        <li class="active"><a href="#/{{eventCode}}/{{competitionCode}}/cmpCmrEdit">Competitors</a></li>
	        <li ng-hide="!getMarkedItem('markedRun')">
	        	<a href="#/{{eventCode}}/{{competitionCode}}/{{getMarkedItem('markedRun').code}}/startTimes">Start times</a>
	        </li>
	        <li ng-show="getMarkedItem('markedRun')"><a  href="#/{{eventCode}}/{{competitionCode}}/{{getMarkedItem('markedRun').code}}/ranking">Ranking</a>
	        </li>
	        <li ng-show="!getMarkedItem('markedRun')" >
	        	<a href="#/{{eventCode}}/{{competitionCode}}/ranking">Ranking</a>
	        </li>
	    </ul>
	</div>
	<form id="addCmpCmr" novalidate>
		<div class="row">
    		<div class="col-xs-5 form-group">
				<label>Competitor*</label>
				<input class="form-control input-xs"  name="competitor" type="text" typeahead="value as value.fullName for value in getCompetitors($viewValue)" ng-model="editRow.competitor"/>
			</div>
			<div class="col-xs-5 form-group">
				<label>Category*</label>
				<select class="form-control input-xs"  name="category" type="text" ng-options="value as value.name for value in gategorys" ng-model="editRow.category" >
				</select>
			</div>
			<div class="col-xs-2 form-group">
				<label>Group</label>
				<input class="form-control input-xs"  name="group" type="text" ng-model="editRow.group" /> 
			</div>
		</div>
		<div class="row" >
			<div class="col-xs-2 form-group">
				<label>Para*</label>
				<input type="checkbox" class="form-control input-xs" ng-model="editRow.para" name="para" />
			</div>
			<div class="col-xs-5 form-group" >
				<label>Para type</label>
				<select class="form-control input-xs" ng-model="editRow.paraType" name="paraType" ng-options="value as value.name for value in paraTypes">
				</select>
			</div>
			<div class="col-xs-5 form-group" >
				<label>&nbsp;</label><br/>
				<button type="submit" class="btn btn-default btn-xs" > 
					<span class="glyphicon glyphicon-plus" aria-hidden="true"> Save competitor</span>
				</button>
			</div>
		</div>
	</form>	
	<div>
  			<button type="button" class="btn btn-default btn-xs" ng-click="addPair()"> 
				<span class="glyphicon glyphicon-plus" aria-hidden="true"> Add criteria</span>
			</button>
			<button type="button" class="btn btn-default btn-xs" ng-click="search()"> 
				<span class="glyphicon glyphicon-search" aria-hidden="true">
					<span> Search</span>
				</span>
			</button>
			<span style="display:inline-block;width:175px;">&nbsp;</span>
				<button type="button" class="btn btn-default btn-xs" ng-click="editRow={};"> 
					<span class="glyphicon glyphicon-folder-open" aria-hidden="true"> New</span>
				</button>

					<div class="row" >
						<div ng-repeat="pair in searchPairs" class="col-xs-15">
					    	<div class="col-2 col-sm-5 col-md-3 col-lg-2 col-xs-11 panel panel-primary" >	
					    		<div class="row" >
					    			<div class="col-xs-9 form-group tc-min-margin">
			            				<select ng-model="pair.key" ng-options="opt as opt.label for opt in searchOptions" class="form-control input-xs min-margin" ></select>
			            			</div>
			            			<div class="col-xs-2 form-group tc-min-margin">
						    			<button ng-hide="pair.key.required" type="button" class="btn btn-default btn-xs min-nmargin" ng-click="deletePair($index)"> 
						    				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
										</button>	
									</div>
								</div>	
									<div class="row">		
										<div class="col-xs-11 form-group tc-min-margin" ng-show="pair.key.typeahead=='competitors'">   
						       				<input  ng-model="pair.value" type="text"  class="form-control input-xs"  typeahead="value as value.fullName for value in getCollection('competitors','fullName',$viewValue)" />
										</div>
										<div class="col-xs-11 form-group tc-min-margin" ng-show="pair.key.typeahead=='categorys'">   
						       				<input  ng-model="pair.value" type="text"  class="form-control input-xs"  typeahead="value as value.name for value in getCollection('categorys','name',$viewValue)" />
										</div>
										<div class="col-xs-11 form-group tc-min-margin" ng-show="pair.key.typeahead=='countrys'">   
						       				<input  ng-model="pair.value" type="text"  class="form-control input-xs"  typeahead="value as value.nameLocal for value in getCollection('countrys','nameLocal',$viewValue)" />
										</div>
										<div class="col-xs-11 form-group tc-min-margin" ng-show="!pair.key.typeahead">   
						       				<input  ng-model="pair.value" type="text"  class="form-control input-xs"  />
										</div>
									</div>
		            		</div>
	        			</div>
	        		</div>


	<div class="row">
		<!--  <td style="vertical-align: top;"></td>-->
					<table class="resizable table table-hover" style="width:100%">
						<thead>
							<tr>
								<th>&nbsp;</th>		
								<th>
									First name
								</th>
								<th>
									Last name
								</th>
								<th>
									SI
								</th>
								<th>
									Start no.
								</th>
								<th>
									Country
								</th>
								<th>
									Category
								</th>		
								<th>Group</th>				
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in rows | orderBy:'startNo'" ng-click="setEditRow(row);">
								<td>
									<span >

										<button type="button" class="btn btn-default btn-xs" ng-click="openModalSolution(row)"> 
											<span class="glyphicon glyphicon-ok" aria-hidden="true"> Results
											</span>
										</button>
										<button type="button" class="btn btn-default btn-xs" ng-click="openModalTimes(row)"> 
											<span class="glyphicon glyphicon-ok" aria-hidden="true"> Times
											</span>
										</button>
									</span>
								</td>		
								<td>{{ row.competitor.firstName }}</td>
								<td>{{ row.competitor.lastName }}</td>
								<td>{{ row.competitor.siChipNo }}</td>
								<td><input ng-model="row.startNo" class="form-control input-xs" size="2"/></td>
								<td>{{ row.competitor.country.localCode }}</td>
								<td>{{ row.category.name }}</td>	
								<td>{{ row.group }}</td>	
								<td style="width:200px">
									<button type="button" class="btn btn-default btn-xs" ng-click="deleteConfirm('Removing competitor! '+row.competitor.fullName+ ' Are you sure?', 'cmpCmrs', row._id, rows, $index);$event.preventDefault();$event.stopPropagation();"> 
										<span class="glyphicon glyphicon-remove" aria-hidden="true">
										</span>
									</button>
									<button type="button" class="btn btn-default btn-xs" ng-click="save(row);">
										<span class="glyphicon glyphicon-ok" aria-hidden="true">
											Applay
										</span>
									</button>
									{{row.info}}
								</td>
							</tr>
						</tbody>
					</table>
	</div>
	</div>
	<div>
  		Selected: {{selected}}
	</div>
</div>
