<!-- <div ng-include="'views/menu.html'"></div> -->
<div ng-init="init()" >
	<script type="text/ng-template" id="modalSolutionsEdit.html">
		<form id="solutionsEditForm" novalidate ng-init="init()"  > 
			<div class="modal-header">
    			<h3 class="modal-title">Solutions for: {{editRow.competitor.fullName}} </h3>
    		</div>
			<div class="modal-body" >
    			<div class="row">
					<div class="col-xs-2 form-group">
						<label>Start hrs</label>
						<input class='form-control input-xs' name="startHrs" ng-model="editRow.startHrs" type='text'  />
					</div>
					<div class="col-xs-2 form-group">
						<label>min</label>
						<input class='form-control input-xs' name="startMin" ng-model="editRow.startMin"  type='text' />
					</div>
					<div class="col-xs-2 form-group">
						<label>sec</label>
						<input class='form-control input-xs' name="startSec" ng-model="editRow.startSec"  type='text' />
					</div>

					<div class="col-xs-2 form-group">
						<label>Finis hrs</label>
						<input class='form-control input-xs' name="finishHrs" ng-model="editRow.finishHrs" type='text'  />
					</div>
					<div class="col-xs-2 form-group">
						<label>min</label>
						<input class='form-control input-xs' name="finishMin" ng-model="editRow.finishMin"  type='text' />
					</div>
					<div class="col-xs-2 form-group">
						<label>sec</label>
						<input class='form-control input-xs' name="finishSec" ng-model="editRow.finishSec"  type='text' />
					</div>					
				</div>    
				<div class="row">
					<div class="col-xs-6 form-group">
						<label>Start time</label>
						<input class='form-control input-xs' name="startTime" ng-model="editRow.startTime"  type='text' />
					</div>	
					<div class="col-xs-6 form-group">
						<label>Finish time</label>
						<input class='form-control input-xs' name="finishTime" ng-model="editRow.finishTime"  type='text' />
					</div>
				</div>	
				<div class="row">
					<table class="resizable table table-hover">
						<tbody>
							<tr ng-repeat="row in editRow.solutions.slice(0,14) | orderBy : 'task.orderNo'" ng-keyup="enterSolution($event, $index)" >
								<td>{{row.task.no}}.{{row.task.type}}</td>
								<td ng-show="row.task.type=='ST'" >
									<input  ng-model="row.time"  type="text" />
									<table>
										<tr ng-repeat="tc in row.tcSolutions | orderBy : 'no'">
											<td>{{tc.no}}</td>
										    <td><input ng-model="tc.solution"  type="text" /></td>
											<td ng-class="{'tc-solution' : tc.solution=='a'}">A</td>
											<td ng-class="{'tc-solution' : tc.solution=='b'}">B</td>
											<td ng-class="{'tc-solution' : tc.solution=='c'}">C</td>
											<td ng-class="{'tc-solution' : tc.solution=='d'}">D</td>
											<td ng-class="{'tc-solution' : tc.solution=='e'}">E</td>
											<td ng-class="{'tc-solution' : tc.solution=='f'}">F</td>
											<td ng-class="{'tc-solution' : tc.solution=='z'}">Z</td>
											<td ng-class="{'tc-solution' : tc.solution=='x'}">X</td>		
										</tr>
									</table>
								</td>
								<td ng-show="row.task.type=='CP'" >
									<table>
										<tr>
											<td><input  ng-model="row.solution"  type="text" /></td>
											<td ng-class="{'tc-solution' : row.solution=='a'}">A</td>
											<td ng-class="{'tc-solution' : row.solution=='b'}">B</td>
											<td ng-class="{'tc-solution' : row.solution=='c'}">C</td>
											<td ng-class="{'tc-solution' : row.solution=='d'}">D</td>
											<td ng-class="{'tc-solution' : row.solution=='e'}">E</td>
											<td ng-class="{'tc-solution' : row.solution=='f'}">F</td>
											<td ng-class="{'tc-solution' : row.solution=='z'}">Z</td>
											<td ng-class="{'tc-solution' : row.solution=='x'}">X</td>
										</tr>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		    <div class="modal-footer">
		    	<button  type="submit" class="btn btn-primary" tc-message="Save">Pospremi</button>
		        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		    </div> 			
    	</form>
	</script>
	<div class="bs-example">
	    <ul class="nav nav-tabs">
	        <li ><a href="#/{{eventCode}}/{{competitionCode}}/runSearch">Stages</a></li>
	        <li class="active"><a href="#/{{eventCode}}/{{competitionCode}}/cmpCmrEdit">Competitors</a></li>
	    </ul>
	</div>
	<form id="addCmpCmr" novalidate>
		<div class="row">
    		<div class="col-xs-7 form-group">
				<label>Competitor*</label>
				<input class="form-control input-xs"  name="competitor" type="text" typeahead="value as value.fullName for value in getCompetitors($viewValue)" ng-model="editRow.competitor"/>
			</div>
			<div class="col-xs-5 form-group">
				<label>Category*</label>
				<select class="form-control input-xs"  name="category" type="text" ng-options="value as value.name for value in gategorys" ng-model="editRow.category" >
				</select>
			</div>
		</div>
		<div class="row" >
			<div class="col-xs-2 form-group">
				<label>Para*</label>
				<input type="checkbox" class="form-control input-xs" ng-model="editRow.para" name="para" />
			</div>
			<div class="col-xs-5 form-group" >
				<label>Para type</label>
				<select class="form-control input-xs" ng-model="editRow.paraType" name="paraType" ng-options="value as value.name for value in paraTypes">
				</select>
			</div>
			<div class="col-xs-5 form-group" >
				<label>&nbsp;</label><br/>
				<button type="submit" class="btn btn-default btn-xs" > 
					<span class="glyphicon glyphicon-plus" aria-hidden="true"> Save competitor</span>
				</button>
			</div>
		</div>
	</form>	
	<div>
  			<button type="button" class="btn btn-default btn-xs" ng-click="addPair()"> 
				<span class="glyphicon glyphicon-plus" aria-hidden="true"> Add criteria</span>
			</button>
			<button type="button" class="btn btn-default btn-xs" ng-click="search()"> 
				<span class="glyphicon glyphicon-search" aria-hidden="true">
					<span> Search</span>
				</span>
			</button>
			<span style="display:inline-block;width:375px;">&nbsp;</span>
				<button type="button" class="btn btn-default btn-xs" ng-click="editRow={};"> 
					<span class="glyphicon glyphicon-folder-open" aria-hidden="true"> New</span>
				</button>


					<div class="row">
						<div ng-repeat="pair in searchPairs" class="col-xs-15">
					    	<div class="col-2 col-sm-5 col-md-3 col-lg-2 col-xs-11 panel panel-primary" >	
					    		<div class="row" >
					    			<div class="col-xs-9 form-group tc-min-margin">
			            				<select ng-model="pair.key" ng-options="opt as opt.label for opt in searchOptions" class="form-control input-xs min-margin" ></select>
			            			</div>
			            			<div class="col-xs-2 form-group tc-min-margin">
						    			<button  type="button" class="btn btn-default btn-xs min-nmargin" ng-click="deletePair($index)"> 
						    				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
										</button>	
									</div>
								</div>	
									<div class="row">		
										<div class="col-xs-11 form-group tc-min-margin" ng-show="pair.key.typeahead=='competitors'">   
						       				<input  ng-model="pair.value" type="text"  class="form-control input-xs"  typeahead="value as value.fullName for value in getCollection('competitors','fullName',$viewValue)" />
										</div>
										<div class="col-xs-11 form-group tc-min-margin" ng-show="pair.key.typeahead=='categorys'">   
						       				<input  ng-model="pair.value" type="text"  class="form-control input-xs"  typeahead="value as value.name for value in getCollection('categorys','name',$viewValue)" />
										</div>
										<div class="col-xs-11 form-group tc-min-margin" ng-show="!pair.key.typeahead">   
						       				<input  ng-model="pair.value" type="text"  class="form-control input-xs"  />
										</div>
									</div>
		            		</div>
	        			</div>
	        		</div>


	<div class="row">
		<!--  <td style="vertical-align: top;"></td>-->
					<table class="resizable table table-hover">
						<thead>
							<tr>
								<th>&nbsp;</th>		
								<th>
									Last name
								</th>
								<th>
									First name
								</th>
								<th>
									SI
								</th>
								<th>
									Start no.
								</th>
								<th>
									Category
								</th>						
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in rows | orderBy:predicate:reverse" ng-click="setEditRow(row);">
								<td>
									<span >
										<input type="checkbox" ng-click="select(row._id)" name="group" />

										<button type="button" class="btn btn-default btn-xs" ng-click="openModalSolution(row)"> 
											<span class="glyphicon glyphicon-ok" aria-hidden="true"> Results
											</span>
										</button>
									</span>
								</td>		
								<td>{{ row.competitor.lastName }}</td>
								<td>{{ row.competitor.firstName }}</td>
								<td>{{ row.competitor.siChipNo }}</td>
								<td>{{ row.competitor.startNo }}</td>
								<td>{{ row.category.name }}</td>		
								<td>
									<button type="button" class="btn btn-default btn-xs" ng-click="deleteConfirm('Removing competitor! '+row.competitor.fullName+ ' Are you sure?', 'cmpCmrs', row._id, rows, $index);"> 
										<span class="glyphicon glyphicon-remove" aria-hidden="true">
										</span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
	</div>
	</div>
	<div>
  		Selected: {{selected}}
	</div>
</div>
