<!-- <div ng-include="'views/menu.html'"></div> -->
<div ng-init="init()" >
	<script type="text/ng-template" id="modalCompetitorEdit.html">
	    <form id="competitorEditForm" novalidate ng-init="init()"  > 
		<div class="modal-header">
	    	<h3 class="modal-title">Competitor/team entry</h3>
	    </div>
	    <div class="modal-body" >
	    	<div class="row">
	    		<div class="col-xs-4 form-group">
					<label>Firts name*</label>
					<input class='form-control input-xs' name="firstName" ng-model="editRow.firstName" type='text'  />
				</div>
				<div class="col-xs-4 form-group">
					<label>Mid. name</label>
					<input class='form-control input-xs' name="midName" ng-model="editRow.midName"  type="text"/>
				</div>
				<div class="col-xs-4 form-group" >
					<label>Last name*</label>
					<input class='form-control input-xs' name="lastName" ng-model="editRow.lastName" type="text"/>
				</div>
			</div>
	    	<div class="row">
				<div class="col-xs-6 form-group">
					<label>Country*</label>
					<input class="form-control input-xs" name="country" ng-model="editRow.country" typeahead="value as value.nameLocal for value in getCountrys($viewValue)">
					</input>
				</div>
	    		<div class="col-xs-3 form-group">
					<label>Date of birth</label>
					<span class="input-group">
						<input type="text" class="form-control input-xs" name="dateOfBirth" datepicker-popup="dd.MM.yyyy" ng-model="editRow.dateOfBirth" is-open="openDateOfBirth" close-text="Close" />
				        <span class="input-group-btn">
				           	<button type="button" class="btn btn-default input-xs" ng-click="openDataPicker($event,'openDateOfBirth')">
				           		<i class="glyphicon glyphicon-calendar"></i>
				           	</button>
				        </span>
				    </span>
				</div>
				<div class="col-xs-3 form-group" >
					<label>Gender*</label>
					<select class="form-control input-xs" ng-model="editRow.gender" name="gender" ng-options="value for value in statesGender">
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 form-group">
					<label>Club</label>
					<select class="form-control input-xs" ng-model="editRow.club" ng-options="value._id as value.name for value in clubs">
					</select>
				</div>
				<div class="col-xs-3 form-group">
					<label>Start number*</label>
					<input class="form-control input-xs" ng-model="editRow.startNo" name="startNo" >
					</input>
				</div>

				<div class="col-xs-3 form-group" >
					<label>SI chip</label>
					<input class='form-control input-xs' name="siChipNo" ng-model="editRow.siChipNo" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 form-group">
					<label>Para*</label>
					<input type="checkbox" ng-model="editRow.para" name="para" />
				</div>
				<div class="col-xs-8 form-group" >
					<label>Para type</label>
					<select class="form-control input-xs" ng-model="editRow.paraType" name="paraType" ng-options="value._id as value.name for value in typesParaType">
					</select>
				</div>
			</div>
			<div class="row" >
				<div class="col-xs-4 form-group">
					<label>Type</label>
					<select class="form-control input-xs" ng-model="editRow.type" name="type" ng-options="value as value for value in statesCompetitorType">
					</select>
				</div>
				<div class="col-xs-8 form-group" >
					<label>Team</label>
					<input class="form-control input-xs" name="team" ng-model="editRow.team" typeahead="value as value.fullName for value in getTeams($viewValue)">
					</input>
				</div>
			</div>
		</div>
	    <div class="modal-footer">
	    	<button  type="submit" class="btn btn-primary" >Save</button>
	        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	    </div> 
	    </form>
	</script>
	<script type="text/ng-template" id="modalTeamMembersEdit.html">
	    <form id="teamMembersEditForm" novalidate ng-init="init()"  > 
		<div class="modal-header">
	    	<h3 class="modal-title">Team members entry</h3>
	    </div>
	    <div class="modal-body" >
	    	<div class="row">
	    		<div class="col-xs-6 form-group">
					<label>Competitor*</label>
					<input class='form-control input-xs' name="firstName" ng-model="editRow.competitor" type='text'  typeahead="value as value.fullName for value in getCompetitors($viewValue)" />
				</div>
				<div class="col-xs-3 form-group">
					<label>Country</label>
					<input class='form-control input-xs' name="midName" ng-model="editRow.competitor.country.nameInt"  type="text"readonly="true" />
				</div>
				<div class="col-xs-3 form-group" >
					<button type="button" id="deleteRow" ng-click="addMember()" class="btn btn-default btn-xs"> 
						<span class="glyphicon glyphicon-plus" aria-hidden="true">
						Add
						</span>
					</button>
				</div>
			</div>
	    	<div class="row">
				<table class="resizable table table-hover">
					<thead>
						<tr>	
							<th>
								Name
							</th>
							<th>
								Country
							</th>
							<th>SI</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in team.members2">
							<td>
								<span >
									<button type="button" id="deleteRow" ng-click="removeMember(row)" class="btn btn-default btn-xs"> 
										<span class="glyphicon glyphicon-remove" aria-hidden="true">
										</span>
									</button>
								</span>
							</td>		
							<td>{{ row.competitor.fullName }}</td>
							<td>{{ row.competitor.country.nameInt}}</td>	
							<td>{{ row.competitor.siChipNo }}</td>	
							<td><input class='form-control input-xs' size="1"  ng-model="row.no"  type="text"/></td>	
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	    <div class="modal-footer">
	    	<button  type="submit" class="btn btn-primary" >Save</button>
	        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	    </div> 
	    </form>
	</script>
	<div growl></div>
	<div class="tc-simple-toolbar">
		<button type="button" class="btn btn-default btn-xs" ng-click="openModalCompetitor()"> 
			<span class="glyphicon glyphicon-folder-open" aria-hidden="true">
				<span > New</span>
			</span>
		</button>
 		<span style="display:inline-block;width:50px;">&nbsp;</span>
  		<button type="button" class="btn btn-default btn-xs" ng-click="addPair()"> 
			<span class="glyphicon glyphicon-plus" aria-hidden="true">
				<span> Add criteria</span>
			</span>	
		</button>
		<button type="button" class="btn btn-default btn-xs" ng-click="search()"> 
			<span class="glyphicon glyphicon-search" aria-hidden="true">
				<span> Search</span>
			</span>
		</button>
	</div>

	<div class="row">
		<div ng-repeat="pair in searchPairs" class="col-xs-15">
	    	<div class="col-2 col-sm-5 col-md-3 col-lg-2 col-xs-11 panel panel-primary" >	
	    		<div class="row" >
	    			<div class="col-xs-9 form-group tc-min-margin">
          				<select ng-model="pair.key" ng-options="opt as opt.label for opt in searchOptions" class="form-control input-xs min-margin" ></select>
					</div>
           			<div class="col-xs-2 form-group tc-min-margin">
               			<button  type="button" class="btn btn-default btn-xs min-nmargin" ng-click="deletePair($index)"> 
		    				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>	
					</div>
				</div>	
				<div class="row">		
					<div class="col-xs-11 form-group tc-min-margin" ng-show="pair.key.typeahead=='countrys'">   
	       				<input  ng-model="pair.value" type="text"  class="form-control input-xs"  typeahead="value as value.nameLocal for value in getCollection('countrys','nameLocal',$viewValue)" />
					</div>
					<div class="col-xs-11 form-group tc-min-margin" ng-show="!pair.key.typeahead">   
	       				<input  ng-model="pair.value" type="text"  class="form-control input-xs"  />
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<!--  <td style="vertical-align: top;"></td>-->
		<table class="resizable table table-hover">
			<thead>
				<tr>
					<th>							
						<span>
							<button type="button" class="btn btn-default btn-xs" ng-click="$parent.prevPage(paging);search()"> 
								<span class="glyphicon glyphicon-step-backward" aria-hidden="true">
								</span>
							</button>
							<button type="button" class="btn btn-default btn-xs" ng-click="$parent.nextPage(paging);search()"> 
								<span class="glyphicon glyphicon-step-forward" aria-hidden="true">
								</span>
							</button>
						</span></th>		
					<th>
						<a href="" ng-click="reverse = predicate == 'lastName' && !reverse; predicate = 'lastNme'">Name</a>
					</th>
					<th>
						<a href="" ng-click="reverse = predicate == 'applyNo' && !reverse; predicate = 'applyNo'">Country</a>
					</th>
					<th>SI</th>
					<th>
						<a href="" ng-click="reverse = predicate == 'applyNo' && !reverse; predicate = 'applyNo'">Type</a>
					</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in rows | orderBy:predicate:reverse" ng-dblclick="openCompetitor(row);">
					<td>
						<span >
							<input type="checkbox" ng-click="select(row._id)" name="group" />
							<button type="button" id="deleteRow" ng-click="deleteConfirm( row)" class="btn btn-default btn-xs"> 
								<span class="glyphicon glyphicon-remove" aria-hidden="true">
								</span>
							</button>
							<button type="button" class="btn btn-default btn-xs" ng-click="openModalCompetitor(row);"> 
								<span class="glyphicon glyphicon-edit" aria-hidden="true">
								</span>
							</button>
						</span>
					</td>		
					<td>{{ row.fullName }}</td>
					<td>{{ row.country.nameInt}}</td>	
					<td>{{ row.siChipNo }}</td>	
					<td>{{ row.type}}</td>	
					<td><button ng-show="row.type==='Relay' || row.type==='Team'" type="button" ng-click="openModalTeamMembers(row)" class="btn btn-default btn-xs"> 
								<span class="glyphicon glyphicon-edit" aria-hidden="true">
								</span>
							</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
  		Selected: {{selected}}
	</div>
</div>

<script type="text/javascript">
	$('select').selectpicker();
</script>