<div ng-init="init();"/>

<script type="text/ng-template" id="modalContact2.html" >
	<div class="modal-header">
    	<h3 class="modal-title">Kontakt</h3>
    </div>
    <div class="modal-body" >
		<div style="width:1000px;">
  			<button type="button" class="btn btn-default btn-xs" ng-click="addPair()"> 
				<span class="glyphicon glyphicon-plus" aria-hidden="true">
					<span style="font-family:arial;font-size:12px;"> Dodaj</span>
				</span>
			</button>
			<button type="button" class="btn btn-default btn-xs" ng-click="search()"> 
				<span class="glyphicon glyphicon-search" aria-hidden="true">
					<span style="font-family:arial;font-size:12px;"> Potraži</span>
				</span>
			</button>
		</div>
		<div class="navbar navbar-default" ng-init="init();" style="margin:0;padding:0;">
			<ul class="nav navbar-nav">
   				<li ng-class="getClass('/clientsSearch')">
					<a href="">
						<span>Osobe</span>
					</a>
				</li>
			</ul>
		</div>
		<table width="100%" cellspacing="0" cellpadding="0" style="position:relative;">
			<tr>
				<td width="100%" bgcolor="#e7e7e7" style="position:relative;">
					<div style="margin-left:30px;font-family:arial;font-size:12px;">
						<div ng-init="init();" style="font-family:arial;font-size:12px;">
							<br>
							<div class="row">
								<div ng-repeat="pair in searchPairs" class="col-2 col-sm-5 col-md-3 col-lg-2 panel panel-primary">
					    			<span class="pull-right" >	
					    				<button style="position:relative;float:right;" type="button" class="btn btn-default btn-xs" ng-click="deletePair($index)"> 
											<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
										</button>
									</span>			
		            				<select style="width:80%;padding-right:50px;position:relative;float:left;" ng-model="pair.key" ng-options="opt as opt.label for opt in searchOptions" class="form-control input-xs" ></select>
		            				<br>
		            				<input  ng-model="pair.value" type="text"  class="form-control input-xs"/>
	        					</div>
	        				</div>
        				</div>
						<br>
					</div>
				</td>
			<tr>
			<tr style="position:relative;">
				<td bgcolor="#e7e7e7" style="position:relative;">
					<div style="width:100%;height:100%;overflow: auto;">
						<ul style="width:100%;margin:0; padding:0;list-style-type: none;font-size:11px;">
							<table class="resizable table table-hover">
								<thead>
									<tr>
										<th style="width:70px;">&nbsp;</th>		
										<th style="width:100px;">Ime</th>
										<th style="width:100px;">Prezime</th>
										<th style="width:200px;">Ime tvrtke</th>
										<th style="width:180px;">Odjel</th>
										<th style="width:100px;">Funkcija</th>
										<th>&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="row in clients track by row._id ">
										<td>
											<span style="float: left;width:70px;">
												<input type="checkbox" ng-click="select(row.id)" name="group" style="float:left;" id="{{row.id}}" />
												<a href="#/search" ng-click="remove()"><span title="OBRIŠI" style="float:left;" class="ui-icon ui-icon-trash"></span></a>
												<a href="#/" ng-click="openClient(row._id);" ><span title="UREDI" style="float:left;" class="ui-icon ui-icon-pencil"></span></a>
											</span>
										</td>		
										<td>{{ row.firstName }}</td>
										<td>{{ row.lastName }}</td>
										<td>{{ row.companyName }}</td>		
										<td>{{ row.dept }}</td>
										<td>{{ row.func }}</td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</ul>
					</div>
					<br>
					<div>
  						Odabir: {{selected}}
					</div>
				</td>
			</tr>
		</table>
	</div>
    <div class="modal-footer">
    	<button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div> 
</script>

<div style="width:1000px;">
	<button title="Pospremi podatke" ng-click="save()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-floppy-save" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Pospremi</span>
  		</span>
	</button>
	<button title="Pošalji e-mail" ng-click="emailIt()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-envelope" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> E-Mail</span>
  		</span>
	</button>
	<button title="Kopiraj osobu u međuspremnik" ng-click="copy()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-arrow-up" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Kopiraj</span>
  		</span>
	</button>
	<button title="Zalijepi podatke iz međuspremnika" ng-click="paste()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-arrow-down" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Zalijepi</span>
  		</span>
	</button>
	<button title="Izvezi osobu" ng-click="exportIt()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-export" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Export</span>
  		</span>
	</button>
</div>
<div ng-include="'views/clientsTabs.html'"></div>
<div style="width:1000px;">	
	<div class="row">
		<div class="col-xs-1 form-group">
		</div>
    	<div class="col-xs-3 form-group">
			<label>Broj</label>
			<input class="form-control input-xs" type="text" ng-model="editRow.clientNo" readonly/>
		</div>
		<div class="col-xs-4 form-group">
			<label>Naziv tvrtke</label>
			<input class="form-control input-xs" type="text" ng-model="editRow.companyName" readonly/>
		</div>
		<div class="col-xs-3 form-group">
			<label>Tip osobe</label>
			<input class="form-control input-xs" type="text" ng-model="editRow.category3Id" readonly/>
		</div>
		<div class="col-xs-1 form-group">
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-1 form-group">
		</div>
    	<div class="col-xs-11 form-group">
			<label>Kontakti</label>
			<table class="resizable table table-hover">		
				<thead>
					<tr>
						<th>
							<span>Ime</span>
						</th>
						<th>
							<span>Prezime</span>
						</th>
						<th>
							<span>Odjel</span>
						</th>
						<th>
							<span>Funkcija</span>
						</th>
						<th>
							<span>Napomena</span>
						</th>
						<th>
							<span></span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-dblclick="openModalContact('modalContact2.html', contact)">
						<td>
							<span>{{ contact.firstName }}</span>
						</td>
						<td>
							<span>{{ contact.lastName }}</span>
						</td>
						<td>
							<span>{{ contact.dept }}</span>
						</td>
						<td>
							<span>{{ contact.func }}</span>
						</td>
						<td>
							<span>{{ contact.electronicAddress }}</span>
						</td>
						<td>
							<span>
								<a  tc-confirmation="deleteContact(contact)" href="" item="contact"  tc-message="Brisanje!" ><span style="float:right;" title="Obriši" class="ui-icon ui-icon-trash"></span></a>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
			<button  title="Dodaj4" ng-click="openModalContact('modalContact2.html')" class="btn btn-default btn-xs" style="float:right;">
 				<span class="glyphicon glyphicon-plus" aria-hidden="true">
 					<span style="font-family:arial;font-size:12px;"> Dodaj</span>
 				</span>
			</button>
		</div>
	</div>
</div>