<div ng-init="init();"> 
	<script type="text/ng-template" id="modalCountries.html">
		<form id="countryEditForm" novalidate  > 
			<div class="modal-header">
		    	<h3 class="modal-title">Country</h3>
		    </div>
		    <div class="modal-body">
		    	<div class="row">
		    		<div class="col-xs-12 form-group">
						<label>Name*</label>
						<input class='form-control input-xs' name="nameInt" ng-model="editRow.nameInt" type='text'  />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 form-group">
						<label>Name*</label>
						<input class='form-control input-xs' name="nameLocal" ng-model="editRow.nameLocal" ng-required  />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3 form-group">
						<label>Iso2*</label>
						<input class='form-control input-xs' name="nameIso2" ng-model="editRow.iso2" ng-required  />
					</div>
					<div class="col-xs-3 form-group">
						<label>Iso3*</label>
						<input class='form-control input-xs' name="nameIso3" ng-model="editRow.iso3" ng-required  />
					</div>
					<div class="col-xs-3 form-group">
						<label>IOF code*</label>
						<input class='form-control input-xs' name="localCode" ng-model="editRow.localCode" ng-required  />
					</div>
					<div class="col-xs-3 form-group">
						<img width="48px"  ng-src="{{imageUrl}}" ></img>
					</div>			
				</div>
			</div>
		    <div class="modal-footer">
		    	<button type="submit" class="btn btn-primary" >OK</button>
		        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		    </div> 
	    </form>
	</script>

	<div class="navbar navbar-default navbar-xs" role="navigation">
		<ul class="nav navbar-nav">
	   		<li ng-class="getClass('/countriesSearch')">
	   			<a><span>Countries</span></a>
	   		</li>
		</ul>
		<button ng-click="openModalCountries('modalCountries.html')" class="btn btn-default btn-sm" >
	  		<span class="glyphicon glyphicon-folder-open" aria-hidden="true">
	  			<span> New</span>
	  		</span>										
	  	</button>
	  	<span style="display:inline-block;width:50px;">&nbsp;</span>
	  	<button type="button" class="btn btn-default btn-sm" ng-click="addPair()"> 
			<span class="glyphicon glyphicon-plus" aria-hidden="true">
				<span> Add creiteria</span>
			</span>
		</button>
		<button type="button" class="btn btn-default btn-sm" ng-click="search()"> 
			<span class="glyphicon glyphicon-search" aria-hidden="true">
				<span> Search</span>
			</span>
		</button>
	</div>

	<div class="row">
		<div ng-repeat="pair in searchPairs" class="col-xs-15">
	    	<div class="col-2 col-sm-5 col-md-3 col-lg-2 col-xs-11 panel panel-primary" >	
	    		<div class="row" >
	    			<div class="col-xs-9 form-group tc-min-margin">
        				<select ng-model="pair.key" ng-options="opt as opt.label for opt in searchOptions" class="form-control input-xs min-margin" ></select>
        			</div>
        			<div class="col-xs-2 form-group tc-min-margin">
		    			<button  type="button" class="btn btn-default btn-xs min-nmargin" ng-click="deletePair($index)"> 
		    				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>	
					</div>
				</div>	
				<div class="row">		
					<div class="col-xs-11 form-group tc-min-margin">   
        				<input  ng-model="pair.value" type="text"  class="form-control input-xs"/>
        			</div>
    			</div>
    		</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-15">
			<table class="resizable table table-hover">
				<thead>
					<tr>
						<th>
							<span>
								<button type="button" class="btn btn-default btn-xs" ng-click="$parent.prevPage(paging);search()"> 
									<span class="glyphicon glyphicon-step-backward" aria-hidden="true">
									</span>
								</button>
								<button type="button" class="btn btn-default btn-xs" ng-click="$parent.nextPage(paging);search()"> 
									<span class="glyphicon glyphicon-step-forward" aria-hidden="true">
									</span>
								</button>
							</span>
						</th>		
						<th>Name</th>
						<th>Local name</th>
						<th>ISO2</th>
						<th>ISO3</th>
						<th>Local code</th>
						<th>&nbsp;</th>	
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in countrys" ng-dblclick="openModalCountries('modalCountries.html', row)">
						<td>
							<span>
								<input type="checkbox" ng-click="select(row._id)" name="group" />
								<button type="button" class="btn btn-default btn-xs" ng-click="remove(row._id);"> 
									<span class="glyphicon glyphicon-remove" aria-hidden="true">
									</span>
								</button>
								<button type="button" class="btn btn-default btn-xs" > 
									<span class="glyphicon glyphicon-edit" aria-hidden="true">
									</span>
								</button>
							</span>
						</td>		
						<td>{{ row.nameInt }}</td>
						<td>{{ row.nameLocal }}</td>
						<td>{{ row.iso2 }}</td>		
						<td>{{ row.iso3 }}</td>
						<td>{{ row.localCode}}</td>
						<td><img ng-src="/pub/trailos/countrys/{{ row._id}}/flagImg"  width="24px"/></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div>
		Selection: {{selected}}
	</div>
</div>
