<!-- <div ng-include="'views/menu.html'"></div> -->
<div ng-init="init()" >
<script type="text/ng-template" id="modalEventEdit.html">
    <form id="eventEditForm" novalidate ng-init="init()"  > 
	<div class="modal-header">
    	<h3 class="modal-title">Main event</h3>
    </div>
    <div class="modal-body" >
    	<div class="row">
    		<div class="col-xs-4 form-group">
				<label>Code*</label>
				<input class='form-control input-xs' name="code" ng-model="editRow.code" type='text' ng-required  />
			</div>
			<div class="col-xs-8 form-group">
				<label>Name*</label>
				<input class='form-control input-xs' name="name" ng-model="editRow.name" ng-required  />
			</div>
		</div>
		<div class="row" >
			<div class="col-xs-12">
			</div>
			<div class="col-xs-7 form-group" >
				<label>International name*</label>
				<input class='form-control input-xs' name="nameInt" ng-model="editRow.nameInt"  />
			</div>
		</div>
    	<div class="row">
    		<div class="col-xs-6 form-group">
				<label>Starts</label>
				<span class="input-group">
					<input type="text" class="form-control input-xs" datepicker-popup="dd.MM.yyyy" ng-model="editRow.startDate" is-open="openStartDate" ng-required="true" close-text="Close" />
			        <span class="input-group-btn">
			           	<button type="button" class="btn btn-default input-xs" ng-click="open($event,'openStartDate')">
			           		<i class="glyphicon glyphicon-calendar"></i>
			           	</button>
			        </span>
			    </span>
			</div>
			<div class="col-xs-6 form-group">
				<label>Ends</label>
				<span class="input-group">
					<input type="text" class="form-control input-xs" datepicker-popup="dd.MM.yyyy" ng-model="editRow.endDate" is-open="openEndDate" ng-required="true" close-text="Close" />
			        <span class="input-group-btn">
			           	<button type="button" class="btn btn-default input-xs" ng-click="open($event,'openEndDate')">
			           		<i class="glyphicon glyphicon-calendar"></i>
			           	</button>
			        </span>
			    </span>
			</div>
		</div>
	</div>
    <div class="modal-footer">
    	<button  type="submit" class="btn btn-primary" tc-message="Snimi korisnika!">Pospremi</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div> 
    </form>
</script>
		<div class="tc-simple-toolbar">
			<button type="button" class="btn btn-default btn-xs" ng-click="openModalEvent()"> 
				<span class="glyphicon glyphicon-folder-open" aria-hidden="true">
					<span > New</span>
				</span>
			</button>
  			<span style="display:inline-block;width:50px;">&nbsp;</span>
  			<button type="button" class="btn btn-default btn-xs" ng-click="addPair()"> 
				<span class="glyphicon glyphicon-plus" aria-hidden="true">
					<span> Dodaj</span>
				</span>	
			</button>
			<button type="button" class="btn btn-default btn-xs" ng-click="search()"> 
				<span class="glyphicon glyphicon-search" aria-hidden="true">
					<span> Potraži</span>
				</span>
			</button>
		</div>

					<div class="row">
						<div ng-repeat="pair in searchPairs" class="col-xs-15">
					    	<div class="col-2 col-sm-5 col-md-3 col-lg-2 col-xs-11 panel panel-primary" >	
					    		<div class="row" >
					    			<div class="col-xs-9 form-group tc-min-margin">
			            				<select ng-model="pair.key" ng-options="opt as opt.label for opt in searchOptions" class="form-control input-xs min-margin" ></select>
			            			</div>
			            			<div class="col-xs-2 form-group tc-min-margin">
						    			<button  type="button" class="btn btn-default btn-xs min-nmargin" ng-click="deletePair($index)"> 
						    				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
										</button>	
									</div>
								</div>	
								<div class="row">		
									<div class="col-xs-11 form-group tc-min-margin">   
			            				<input  ng-model="pair.value" type="text"  class="form-control input-xs"/>
			            			</div>
		            			</div>
		            		</div>
	        			</div>
	        		</div>


	<div class="row">
		<!--  <td style="vertical-align: top;"></td>-->
					<table class="resizable table table-hover">
						<thead>
							<tr>
								<th>&nbsp;</th>		
								<th>
									<a href="" ng-click="reverse = predicate == 'caseNo' && !reverse; predicate = 'caseNo'">Code</a>
								</th>
								<th>
									<a href="" ng-click="reverse = predicate == 'caseName' && !reverse; predicate = 'caseName'">Name</a>
								</th>
								<th>
									<a href="" ng-click="reverse = predicate == 'applyDate' && !reverse; predicate = 'applyDate'">Name int.</a>
								</th>
								<th>
									<a href="" ng-click="reverse = predicate == 'applyNo' && !reverse; predicate = 'applyNo'">Starts</a>
								</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in rows | orderBy:predicate:reverse" ng-dblclick="openEvent(row);">
								<td>
									<span >
										<button type="button" class="btn  btn-xs" ng-class="getMarkedClass('markedEvent',row)" title="Mark stage for result enter" ng-click="markItem('markedEvent', row);"> 
											<span class="glyphicon glyphicon-ok" aria-hidden="true">
											</span>
										</button>

										<button type="button" class="btn btn-default btn-xs" ng-click="openModalEvent(row);"> 
											<span class="glyphicon glyphicon-edit" aria-hidden="true">
											</span>
										</button>
									</span>
								</td>		
								<td>{{ row.code }}</td>
								<td>{{ row.name }}</td>
								<td>{{ row.nameInt }}</td>
								<td>{{ row.startDate | date:'dd.MM.yyyy.' }}</td>		
								<td>
									<button type="button" class="btn btn-default btn-xs" ng-click="remove(row._id);"> 
										<span class="glyphicon glyphicon-remove" aria-hidden="true">
										</span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
	</div>
	<div>
  		Selected: {{selected}}
	</div>
</div>

<script type="text/javascript">
	$('select').selectpicker();
</script>