<div style="font-family:arial;font-size:12px;" ng-init="init();"></div>
<div ng-controller="subjectsEdit" ng-include="'views/menu.html'"></div>
<table width="1150px" cellspacing="0" cellpadding="0" >
	<tr>
		<td width="150px"></td>
		<td width="1000px"></td>
	<tr>
	<tr>
		<td  style="vertical-align: top;"><div ng-include="'views/tools.html'"></div></td>
		<td align="center" bgcolor="#81DAF5"><p>Welcome to Producta!</p>
			<a href="http://www.producta.hr" ><img src="../css/images/Producta.png"/></a>
		</td>
	</tr>
</table>