<div style="font-family:arial;font-size:12px;" ng-init="init();"></div>

<script type="text/ng-template" id="modalOperations.html">
	<div class="modal-header">
    	<h3 class="modal-title">Radnja u roku</h3>
    </div>
    <div class="modal-body">
		Ažurirao:	<input id='operationsList' style='width:50%;' class='form-control input-xs' ng-model="editRow.operationId.name" ng-keyup='complete()' operation-name-validate/>
					<span style="float:left;">Izvršena:<input id='operationsList' style='width:50%;' class='form-control input-xs' ng-model="editRow.operationId.name" ng-keyup='complete()' operation-name-validate/></span>
		Datum:		<span style="width:30%;" class="input-group">
						<input type="text" class="form-control input-xs" ng-model="editRow.deadlineDate"  datepicker-popup="dd.MM.yyyy" is-open="openOperationDate" ng-required="true" close-text="Close" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default input-xs" ng-click="open($event,'openOperationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</span>
		<hr>
		Radnja:<input id='operationsList' class='form-control input-xs' ng-model="editRow.operationId.name" ng-keyup='complete()' operation-name-validate/>
		Opis:<input id='operationsList' class='form-control input-xs' ng-model="editRow.desc"/>
		Dokument:<input class='form-control input-xs' style='width:100%;' type='text' ng-model="editRow.document"/>
		<hr>				    
		<span style="float:left;width:30%">
			Datum:	<span style="" class="input-group">
						<input type="text" class="form-control input-xs" ng-model="someData2" datepicker-popup="dd.MM.yyyy" is-open="openOperationDate2" ng-required="true" close-text="Close" />
					    <span class="input-group-btn">
					    	<button type="button" class="btn btn-default input-xs" ng-click="open($event,'openOperationDate2')"><i class="glyphicon glyphicon-calendar"></i></button>
					    </span>
					</span>
		</span>
		<br>
		<span style="float:right;">
			Fakturirati:<input type='checkbox' ng-model="editRow.invoicable">
		</span>
		<br><br>
		Opis:<input class='form-control input-xs' style='width:100%;' type='text' ng-model="editRow.invoiceId.desc"/>
		Faktura:<input class='form-control input-xs' style='width:100%;' type='text' ng-model="editRow.invoiceId.inoviceNo"/>
    </div>
    <div class="modal-footer">
    	<button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div> 
</script>

<div style="width:1000px;">
	<button title="Pospremi podatke" ng-click="save()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-floppy-save" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Pospremi</span>
  		</span>
	</button>
	<button title="Pošalji e-mail" ng-click="emailIt()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-envelope" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> E-Mail</span>
  		</span>
	</button>
	<button title="Kopiraj osobu u međuspremnik" ng-click="copy()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-arrow-up" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Kopiraj</span>
  		</span>
	</button>
	<button title="Zalijepi podatke iz međuspremnika" ng-click="paste()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-arrow-down" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Zalijepi</span>
  		</span>
	</button>
	<button title="Izvezi osobu" ng-click="exportIt()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-export" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Export</span>
  		</span>
	</button>
	<button style="position:relative;float:right;" title="Obriši osobu" ng-click="deleteIt()" type="button" class="btn btn-danger btn-xs">
  		<span class="glyphicon glyphicon-trash" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Delete</span>
  		</span>
	</button>
</div>
<div ng-include="'views/tabs.html'"></div>	
<div growl></div>
<div id="mainDiv" ng-class="{disabled: !locked}">
<table width="1000px" bgcolor="#e7e7e7">
	<tr>
		<td bgcolor="#e7e7e7">	
			<table width="1000px" bgcolor="#BDBDBD" style="padding-right:10px;">
				<tr>
					<td width="200px"><label>Broj predmeta:</label></td>
					<td width="700px"><label>Naziv patenta:</label></td>
					<td width="100px"><label>Država:</label></td>
				</tr>
				<tr>
					<td width="200px"><input class="form-control input-xs" style="width:90%;" type="text" ng-model="editRow.caseNo" readonly/></td>
					<td width="700px"><input class="form-control input-xs" style="width:97%;" type="text" ng-model="editRow.caseName" readonly/></td>
					<td width="100px"><input class="form-control input-xs text-uppercase" style="width:100%;" type="text" ng-model="editRow.countryId.iso2" maxlength="2" readonly/></td>
				</tr>
			</table>
			<table width="1000px" style="padding-right:10px;">
				<tr>
					<td width="200px"><input type="checkbox" readonly>Odustajanje/Prestanak:</td>
					<td width="800px"><input class="form-control input-xs" style="width:100%;" type="text" ng-model="editRow.terminationReason" readonly/></td>
				</tr>
			</table>
			<table width="1000px">
				<tr>
					<br><br>
					<td width="150px"><label>Direktorij predmeta:</label></td>
					<td width="830px"><input class="form-control input-xs" style="width:100%;" type="text" ng-model="editRow.caseDir"/></td>
				</tr>
			</table>
			<table width="1000px">
				<tr>
					<td width="1000px">
						<br>
						<label>Radnja u roku:</label>
					</td>
				</tr>
				<tr>
					<td width="1000px">
						<table class="resizable table table-hover" style="width:1000px;">
							<thead>
								<tr>
									<th>
										<label>Datum</label>
									</th>
									<th>
										<label>Radnja</label>
									</th>
									<th>
										<label>dokument</label>
									</th>
									<th>
										<label>Fakturirati</label>
									</th>
									<th>
										<label>datum</label>
									</th>
									<th>
										<label>faktura</label>
									</th>
									<th>
										<label></label>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="operation in editRow.operations track by operation._id" ng-dblclick="openModalOperation('modalOperations.html', operation)">
									<td>
										<span>{{ operation.executionDate | date : 'dd.MM.yyyy' }}</span>		
									</td>
									<td>
										<span>{{ operation.operationId.name }}</span>		
									</td>
									<td>
										<span>{{ operation.document }}</span>		
									</td>
									<td>
										<span><input style="margin:0;padding:0;" type="checkbox" ng-model="operation.invoicable">{{ operation.invoicable }}</span>		
									</td>
									<td>
										<span>{{ operation.deadlineDate | date : 'dd.MM.yyyy' }}</span>		
									</td>
									<td>
										<span>{{ operation.invoiceId }}</span>		
									</td>
									<td>
										<span>
											<a  tc-confirmation="deleteOperation(operation)" href="" item="operation"  tc-message="Brisanje!" ><span style="float:right;" title="Obriši" class="ui-icon ui-icon-trash"></span></a>
										</span>		
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<button  title="Dodaj1" ng-click="openModalOperation('modalOperations.html')" class="btn btn-default btn-xs" style="float:right;">
  							<span class="glyphicon glyphicon-plus" aria-hidden="true"><span style="font-family:arial;font-size:12px;"> Dodaj</span></span>
						</button>
					</td>
				</tr>
			</table>
			<table width="1000px">
				<tr>
					<td width="1000px">
						<label>Napomena:</label>
					</td>
				</tr>
				<tr>
					<td width="1000px">
						<textarea class="form-control input-sm" rows="15" cols="120"></textarea>
						<br>
					</td>
				</tr>
			</table>	
		</td>
	</tr>
</table>	
</div>