<div style="font-family:arial;font-size:12px;" ng-init="init();"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">TrailOS</h1>
            <div class="account-wall">
                <form class="form-signin">
                	<input type="text" class="form-control" placeholder="username" required autofocus ng-model="username">
                	<input type="password" class="form-control" placeholder="password" required ng-model="password">
                	<button class="btn btn-lg btn-primary btn-block" ng-click="login()">
                    	SignIn
                	</button>
                </form>
            </div>
            <br><br>
        </div>
    </div>
</div>