<div class="navbar navbar-default" ng-init="init();" style="margin-bottom: 0px !important" ng-controller="menuCtrl">
	<ul class="nav navbar-nav">
   		<li ng-class="getClass('')">
   			<a href='http://localhost:8000/#/'>
   				<span>Početna</span>
   			</a>
   		</li>
   		<li ng-class="getClass('temp2')">
   			<a href='#'>
   				<span>Prijava</span>
   			</a>
   		</li>
   		<li ng-class="getClass('temp2')">
   			<a href=''>
   				<span>Pomoć</span>
   			</a>
   		</li>
   		<li ng-class="getClass('temp2')">
   			<a href='#' ng-click="logout()">
   				<span>Odjava</span>
   			</a>
   		</li>
	</ul>
</div>