<div style="width:1000px;">
	<button type="button" class="btn btn-default btn-xs" ng-click="newClient()"> 
		<span class="glyphicon glyphicon-folder-open" aria-hidden="true">
			<span style="font-family:arial;font-size:12px;"> Novi</span>
		</span>
	</button>
  	<span style="display:inline-block;width:50px;">&nbsp;</span>
  	<button type="button" class="btn btn-default btn-xs" ng-click="addPair()"> 
		<span class="glyphicon glyphicon-plus" aria-hidden="true">
			<span style="font-family:arial;font-size:12px;"> Dodaj</span>
		</span>
	</button>
	<button type="button" class="btn btn-default btn-xs" ng-click="search()"> 
		<span class="glyphicon glyphicon-search" aria-hidden="true">
			<span style="font-family:arial;font-size:12px;"> Potraži</span>
		</span>
	</button>
</div>
<div class="navbar navbar-default" ng-init="init();" style="margin:0;padding:0;">
	<ul class="nav navbar-nav">
   		<li ng-class="getClass('/modelsSearch')">
   			<a href="">
   				<span>Modeli</span>
   			</a>
   		</li>
	</ul>
</div>
<table width="100%" cellspacing="0" cellpadding="0" style="position:relative;">
	<tr>
		<td width="100%" bgcolor="#e7e7e7" style="position:relative;">
			<div style="margin-left:30px;font-family:arial;font-size:12px;">
				<div ng-init="init();" style="font-family:arial;font-size:12px;">
					<br>
					<div class="row">
						<div ng-repeat="pair in searchPairs" class="col-2 col-sm-5 col-md-3 col-lg-2 panel panel-primary">
					    	<span class="pull-right" >	
					    		<button style="position:relative;float:right;" type="button" class="btn btn-default btn-xs" ng-click="deletePair($index)"> 
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
							</span>			
		            		<select style="width:80%;padding-right:50px;position:relative;float:left;" ng-model="pair.key" ng-options="opt as opt.label for opt in searchOptions" class="form-control input-xs" ></select>
		            		<br>
		            		<input  ng-model="pair.value" type="text"  class="form-control input-xs"/>
	        			</div>
	        		</div>
        		</div>
				<br>
			</div>
		</td>
	<tr>
	<tr style="position:relative;">
		<td bgcolor="#e7e7e7" style="position:relative;">
			<div style="width:100%;height:100%;overflow: auto;">
				<ul style="width:100%;margin:0; padding:0;list-style-type: none;font-size:11px;">
					<table class="resizable table table-hover">
						<thead>
							<tr>
								<th>&nbsp;</th>		
								<th>
									<a href="" ng-click="reverse = predicate == 'caseNo' && !reverse; predicate = 'caseNo'">Broj</a>
								</th>
								<th>
									<a href="" ng-click="reverse = predicate == 'caseName' && !reverse; predicate = 'caseName'">Naziv</a>
								</th>
								<th>
									<a href="" ng-click="reverse = predicate == 'applyDate' && !reverse; predicate = 'applyDate'">Datum prijave</a>
								</th>
								<th>
									<a href="" ng-click="reverse = predicate == 'applyNo' && !reverse; predicate = 'applyNo'">Broj prijave</a>
								</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in subjects | orderBy:predicate:reverse" ng-dblclick="openSubject(row._id);">
								<td>
									<span style="float: left;">
										<input type="checkbox" ng-click="select(row.id)" name="group" style="float:left;" id="{{row.id}}" />
										<a href="#/search" ng-click="remove()"><span title="OBRIŠI" style="float:left;" class="ui-icon ui-icon-trash"></span></a>
									</span>
								</td>		
								<td>{{ row.caseNo }}</td>
								<td>{{ row.caseName }}</td>
								<td>{{ row.applyDate }}</td>		
								<td>{{ row.applyNo }}</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</ul>
			</div>
			<br>
			<div>
  				Odabir: {{selected}}
			</div>
		</td>
	</tr>
</table>

<script type="text/javascript">
	$('select').selectpicker();
</script>