<div style="font-family:arial;font-size:12px;" ng-init="init();"></div>
<script type="text/ng-template" id="modalNewFile.html">
	<div class="modal-header">
		<h3 class="modal-title">Učitaj sliku</h3>
	</div>
    <div class="modal-body">
		<div style="position:relative; width:150px; height:170px; outline: thin solid">
			<img width="150px" height="170px" ng-src="{{imageUrl}}" ></img>
		</div>
		<br>
		<div>
			<span style="float: left; width: 250px;" ng-click="showPic(image._id)" ng-model="editRow.images.name">{{ editRow.images.name }}</span>
			<a tc-confirmation="deleteImage(image)" href="" item="image"  tc-message="Brisanje slike!" >
				<span style="float:right;" title="Obriši" class="ui-icon ui-icon-trash"></span>
			</a>
		</div>
		<input type="file" ng-file-select="uploadPic($files)" name="file" accept="image/*" />				
    </div>
	<div class="modal-footer">
      	<button class="btn btn-primary" ng-click="ok(0)">OK</button>
       	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div> 
</script>
<script type="text/ng-template" id="modalOperations.html">
	<div class="modal-header">
    	<h3 class="modal-title">Radnja u roku</h3>
    </div>
    <div class="modal-body">
		Ažurirao:<input id='operationsList' style='width:50%;' class='form-control input-xs' ng-model="editRow.operationId.name" ng-keyup='complete()' operation-name-validate/>
		<span style="float:left;">
			Izvršena:<input id='operationsList' style='width:50%;' class='form-control input-xs' ng-model="editRow.operationId.name" ng-keyup='complete()' operation-name-validate/>
		</span>
		Datum:	<span style="width:30%;" class="input-group">
					<input type="text" class="form-control input-xs" ng-model="editRow.deadlineDate"  datepicker-popup="dd.MM.yyyy" is-open="openOperationDate" ng-required="true" close-text="Close" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default input-xs" ng-click="open($event,'openOperationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</span>
		<hr>
			Radnja:<input id='operationsList' class='form-control input-xs' ng-model="editRow.operationId.name" ng-keyup='complete()' operation-name-validate/>
			Opis:<input id='operationsList' class='form-control input-xs' ng-model="editRow.desc"/>
			Dokument:<input class='form-control input-xs' style='width:100%;' type='text' ng-model="editRow.document"/>
		<hr>				    
		<span style="float:left;width:30%">
			Datum:	<span style="" class="input-group">
						<input type="text" class="form-control input-xs" ng-model="someData2" datepicker-popup="dd.MM.yyyy" is-open="openOperationDate2" ng-required="true" close-text="Close" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default input-xs" ng-click="open($event,'openOperationDate2')"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</span>
		</span>
		<br>
		<span style="float:right;">Fakturirati:<input type='checkbox' ng-model="editRow.invoicable"></span>
		<br><br>
		Opis:<input class='form-control input-xs' style='width:100%;' type='text' ng-model="editRow.invoiceId.desc"/>
		Faktura:<input class='form-control input-xs' style='width:100%;' type='text' ng-model="editRow.invoiceId.inoviceNo"/>		
	</div>
	<div class="modal-footer">
    	<button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div> 
</script>
<script type="text/ng-template" id="modalPriorities.html">
	<div class="modal-header">
    	<h3 class="modal-title">Prioriteti</h3>
    </div>
    <div class="modal-body">
		Datum:	<span style="width:30%;" class="input-group">
					<input type="text" class="form-control input-xs" ng-model="editRow.date"  datepicker-popup="dd.MM.yyyy" is-open="openPriorityDate" ng-required="true" close-text="Close" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default input-xs" ng-click="open($event,'openPriorityDate')"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</span>
		Država:<input class='form-control input-xs text-uppercase' style='width:30%;' ng-model="editRow.countryId.iso2" type='text' maxlength='2'  country-iso2-validate/>
		Broj:<input class='form-control input-xs' style='width:100%;' ng-model="editRow.number" type='text'/>
		Komentar:<textarea class='form-control input-xs' rows='8' cols='20' ng-model="editRow.comment"></textarea>				
    </div>
    <div class="modal-footer">
    	<button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div> 
</script>
<script type="text/ng-template" id="modalApplicant.html">
	<div class="modal-header">
    	<h3 class="modal-title">Prijavitelj</h3>
    </div>
    <div class="modal-body">
		Tip:<input class='form-control input-xs text-uppercase' style='width:50%;' type='text' ng-model="editRow.category4Id.domain"/>
		Naziv:<input class='form-control input-xs' style='width:100%;' type='text' ng-model="editRow.clientName"/>
		Adresa:<input class='form-control input-xs' style='width:100%;' type='text' ng-model="editRow.homeAddress.street"/>
		Mjesto:<input class='form-control input-xs' style='width:100%;' type='text' ng-model="editRow.homeAddress.stateProvince"/>
		Država:<input class='form-control input-xs text-uppercase' style='width:20%;' type='text' maxlength='2' ng-model="editRow.homeAddress.countryId.iso2"/>
	</div>
    <div class="modal-footer">
    	<button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div> 
</script>

<div style="width:1000px;">
	<button title="Pospremi podatke" ng-click="save()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-floppy-save" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Pospremi</span>
  		</span>
	</button>
	<button title="Pošalji e-mail" ng-click="emailIt()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-envelope" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> E-Mail</span>
  		</span>
	</button>
	<button title="Kopiraj osobu u međuspremnik" ng-click="copy()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-arrow-up" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Kopiraj</span>
  		</span>
	</button>
	<button title="Zalijepi podatke iz međuspremnika" ng-click="paste()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-arrow-down" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Zalijepi</span>
  		</span>
	</button>
	<button title="Izvezi osobu" ng-click="exportIt()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-export" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Export</span>
  		</span>
	</button>
	<button style="position:relative;float:right;" title="Obriši osobu" ng-click="deleteIt()" type="button" class="btn btn-danger btn-xs">
  		<span class="glyphicon glyphicon-trash" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Delete</span>
  		</span>
	</button>
</div>
<div ng-include="'views/modelsTabs.html'"></div>	
<div growl></div>
<table width="1000px" >
	<tr>
		<td bgcolor="#e7e7e7">	
			<table width="1000px" style="padding-right:10px;">
				<tr>
					<td width="200px"><label>Broj predmeta:</label></td>
					<td width="700px"><label>Naziv modela:</label></td>
					<td width="100px"><label>Država:</label></td>
				</tr>
				<tr>
					<td width="200px"><input class="form-control input-xs" style="width:90%;" type="text" ng-model="editRow.caseNo"/></td>
					<td width="700px"><input class="form-control input-xs" style="width:97%;" type="text" ng-model="editRow.caseName"/></td>
					<td width="100px"><span><input class="form-control input-xs text-uppercase" style="width:100%;" type="text" ng-model="editRow.countryId.iso2" maxlength="2" required="required" country-iso2-validate/></span></td>
				</tr>
			</table>
			<table width="1000px" style="padding-right:10px;">
				<tr>
					<td width="200px"><input type="checkbox">Odustajanje/Prestanak:</td>
					<td width="800px"><input class="form-control input-xs" style="width:100%;" type="text" ng-model="editRow.terminationReason"/></td>
				</tr>
			</table>
			<table width="500px">
				<tr>
					<td width="475px">
						<table width="475px">
							<tr>
								<td width="225px"><label>Datum podnošenja:</label></td>
								<td width="25px"></td>
								<td width="225px"><label>Broj modela:</label></td>
							</tr>
							<tr>
								<td width="225px">
						            <span class="input-group">
						            	<input type="text" class="form-control input-xs" datepicker-popup="dd.MM.yyyy" ng-model="editRow.applyDate" is-open="openApplayDate" ng-required="true" close-text="Close" />
							            <span class="input-group-btn">
							            	<button type="button" class="btn btn-default input-xs" ng-click="open($event,'openApplayDate')"><i class="glyphicon glyphicon-calendar"></i></button>
							            </span>
							        </span>
								</td>
								<td width="25px"></td>
								<td width="225px"><input class="form-control input-xs" style="width:100%;" type="text" ng-model="editRow.applyNo"/></td>
							</tr>
							<tr>
								<td width="225px"><label>Broj prijave:</label></td>
								<td width="25px"></td>
								<td width="225px"><label>Datum registracije:</label></td>
							</tr>
							<tr>
								<td width="225px"><input class="form-control input-xs" style="width:100%;" type="text" ng-model="editRow.applyNo"/></td>
								<td width="25px"></td>
								<td width="225px">
									<span class="input-group">
					              		<input type="text" class="form-control input-xs" datepicker-popup="dd.MM.yyyy" ng-model="editRow.registrationDate" is-open="openRegistrationDate" ng-required="true" close-text="Close" />
							            <span class="input-group-btn">
							            	<button type="button" class="btn btn-default input-xs"  ng-click="open($event,'openRegistrationDate');"><i class="glyphicon glyphicon-calendar"></i></button>
							            </span>
							        </span>
							    </td>
							</tr>
							<tr>
								<td width="225px"><label>Klasifikacijski broj:</label></td>
								<td width="25px"></td>
								<td width="225px"><label>Datum objave registracije:</label></td>
							</tr>
							<tr>
								<td width="225px"><input class="form-control input-xs" style="width:100%;" type="text" ng-model="editRow.classificationNo"/></td>
								<td width="25px"></td>
								<td width="225px">
									<span class="input-group">
						            	<input type="text" class="form-control input-xs" datepicker-popup="dd.MM.yyyy" ng-model="editRow.applyAnnouncmentDate" is-open="openApplyAnnouncmentDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
							            <span class="input-group-btn">
							            	<button type="button" class="btn btn-default input-xs" ng-click="open($event,'openApplyAnnouncmentDate')"><i class="glyphicon glyphicon-calendar"></i></button>
							            </span>
							        </span>
							    </td>
							</tr>
							<tr>
								<td width="225px"><label>Datum objave prijave:</label></td>
								<td width="25px"></td>
								<td width="225px"><label>Datum važenja:</label></td>
							</tr>
							<tr>
								<td width="225px">
									<span class="input-group">
								        <input type="text" class="form-control input-xs" datepicker-popup="dd.MM.yyyy" ng-model="editRow.registrationAnnouncmentDate" is-open="openRegistrationAnnouncmentDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
							            <span class="input-group-btn">
							    	        <button type="button" class="btn btn-default input-xs" ng-click="open($event,'openRegistrationAnnouncmentDate')"><i class="glyphicon glyphicon-calendar"></i></button>
							            </span>
							        </span>
							    </td>
								<td width="25px"></td>
								<td width="225px">
									<span class="input-group">
					              		<input type="text" class="form-control input-xs" datepicker-popup="dd.MM.yyyy" ng-model="editRow.expirationsDate" is-open="openExpirationDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
							            <span class="input-group-btn">
							                <button type="button" class="btn btn-default input-xs" ng-click="open($event,'openExpirationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
							            </span>
							        </span>
								</td>
							</tr>
						</table>
					</td>
					<td width="50px"></td>
					<td width="475px" style="vertical-align:top;">
						<table width="475px">
							<tr>
								<td width="25px"></td>
								<td width="150px">
									<label>Slika:</label>
								</td>
								<td width="25px"></td>
								<td style="padding-left: 25px;" width="300px">
									<label>Slika</label>
								</td>
							</tr>
							<tr>
								<td width="25px"></td>
								<td style="position:absolute; width:150px; height:170px; outline: thin solid">
									<img width="150px" height="170px" ng-src="{{imageUrl}}" ></img>
								</td>
								<td></td>
								<td style="padding-left: 25px;">
									<table class="resizable table table-hover">
										<thead>
											<tr>	
												<th>
													<label>Ime</label>
												</th>
												<th>
													<label></label>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="image in editRow.images track by image._id" ng-dblclick="openModalImages('modalNewFile.html')">
												<td>
													<span ng-click="showPic(image._id)">{{ image.name }}</span>
												</td>
												<td>
													<a  tc-confirmation="deleteImage(image)" href="" item="image"  tc-message="Brisanje slike!" ><span style="float:right;" title="Obriši" class="ui-icon ui-icon-trash"></span></a>
												</td>
											</tr>
										</tbody>
									</table>	
								</td>
							</tr>
							<tr>
								<td width="25px"></td>
								<td></td>
								<td></td>
								<td>
										<!-- <button title="Dodaj" ng-click="" type="button" class="btn btn-default btn-xs" style="float:right;">
  											<span class="glyphicon glyphicon-plus" aria-hidden="true"><span style="font-family:arial;font-size:12px;"> Dodaj</span></span>
										</button>
										<input type="file" ng-file-select="uploadPic($files)" name="file" accept="image/*" />
										 -->
									<button style="float:right;" ng-click="openModalImages('modalNewFile.html')" class="btn btn-default btn-xs">
  										<span class="glyphicon glyphicon-plus" aria-hidden="true">
  											<span style="font-family:arial;font-size:12px;"> Dodaj</span>
  										</span>										
  									</button>
								</td>
							</tr>
							<tr>
								<td width="25px"></td>
								<td></td>
								<td></td>
								<td>
									<br><br><br><br><br><br><br><br>
									<label>Prioriteti:</label>
								</td>
							</tr>
							<tr>
								<td width="25px"></td>
								<td></td>
								<td></td>
								<td>
									<table class="resizable table table-hover">
										<thead>
											<tr>
												<th>
													<label>Datum</label>
												</th>
												<th>
													<label>Država</label>
												</th>
												<th>
													<label>Broj</label>
												</th>
												<th>
													<label></label>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="priority in editRow.priorities track by priority._id" ng-dblclick="openModalPriorities('modalPriorities.html', priority)">
												<td>
													<span>{{ priority.date | date : 'dd.MM.yyyy' }}</span>
												</td>
												<td>
													<span>{{ priority.country }}</span>
												</td>
												<td>
													<span>{{ priority.number }}</span>
												</td>
												<td>
													<a  tc-confirmation="deletePriority(priority)" href="" item="priority"  tc-message="Brisanje!" ><span style="float:right;" title="Obriši" class="ui-icon ui-icon-trash"></span></a>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td width="25px"></td>
								<td></td>
								<td></td>
								<td>
									<button  title="Dodaj3" ng-click="openModalPriorities('modalPriorities.html')" class="btn btn-default btn-xs" style="float:right;">
  										<span class="glyphicon glyphicon-plus" aria-hidden="true">
  											<span style="font-family:arial;font-size:12px;"> Dodaj</span></span>
									</button>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table width="1000px">
				<tr>
					<td width="750px">
						<table width="750px">
							<tr>
								<td width="750px">
									<label>Naziv modela:</label>
								</td>
							</tr>
							<tr>
								<td width="750px">
									<input class="form-control input-xs" style="width:100%;" type="text" ng-model="editRow.caseName"/>
								</td>
							</tr>
							<tr>
								<td width="750px">
									<label>Engleski naziv modela:</label>
								</td>
							</tr>
							<tr>
								<td width="750px">
									<input class="form-control input-xs" style="width:100%;" type="text" ng-model="editRow.internationalCaseName"/>
								</td>
							</tr>
						</table>
					</td>
					<td></td>
				</tr>
			</table>
			<table width="1000px">
				<tr>
					<td width="1000px">
						<br>
						<label>Prijavitelj/izumitelj:</label>
					</td>
				</tr>
				<tr>
					<td>
						<table class="resizable table table-hover" style="width:1000px;">
							<thead>
								<tr>
									<th>
										<label>Tip</label>
									</th>
									<th>
										<label>Naziv</label>
									</th>
									<th>
										<label>Adresa</label>
									</th>
									<th>
										<label>Mjesto</label>
									</th>
									<th>
										<label>Država</label>
									</th>
									<th>
										<label></label>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="applicant in editRow.clients track by applicant._id" ng-dblclick="openModalApplicant('modalApplicant.html', applicant)">
									<td>				
										<span>{{ applicant.category4Id.domain }}</span>
									</td>
									<td>				
										<span>{{ applicant.clientName }}</span>
									</td>
									<td>				
										<span>{{ applicant.homeAddress.street }}</span>
									</td>
									<td>				
										<span>{{ applicant.homeAddress.stateProvince }}</span>
									</td>
									<td>				
										<span>{{ applicant.homeAddress.countryId.iso2 }}</span>
									</td>
									<td>				
										<span>
											<a  tc-confirmation="deleteApplicant(applicant)" href="" item="applicant"  tc-message="Brisanje!" ><span style="float:right;" title="Obriši" class="ui-icon ui-icon-trash"></span></a>
										</span>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<button  title="Dodaj2" ng-click="openModalApplicant('modalApplicant.html')" class="btn btn-default btn-xs" style="float:right;">
							<span class="glyphicon glyphicon-plus" aria-hidden="true">
								<span style="font-family:arial;font-size:12px;"> Dodaj</span>
							</span>
						</button>
					</td>
				</tr>
			</table>
			<br>
			<table width="1000px">
				<tr>
					<td width="1000px">
						<br>
						<label>Radnja u roku:</label>
					</td>
				</tr>
				<tr>
					<td width="1000px">
						<table class="resizable table table-hover" style="width:1000px;">
							<thead>
								<tr>
									<th>
										<label>Datum</label>
									</th>
									<th>
										<label>Radnja</label>
									</th>
									<th>
										<label>dokument</label>
									</th>
									<th>
										<label>Fakturirati</label>
									</th>
									<th>
										<label>datum</label>
									</th>
									<th>
										<label>faktura</label>
									</th>
									<th>
										<label></label>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="operation in editRow.operations track by operation._id" ng-dblclick="openModalOperation('modalOperations.html', operation)">
									<td>
										<span>{{ operation.executionDate | date : 'dd.MM.yyyy' }}</span>		
									</td>
									<td>
										<span>{{ operation.operationId.name }}</span>		
									</td>
									<td>
										<span>{{ operation.document }}</span>		
									</td>
									<td>
										<span><input style="margin:0;padding:0;" type="checkbox" ng-model="operation.invoicable">{{ operation.invoicable }}</span>		
									</td>
									<td>
										<span>{{ operation.deadlineDate | date : 'dd.MM.yyyy' }}</span>		
									</td>
									<td>
										<span>{{ operation.invoiceId }}</span>		
									</td>
									<td>
										<span>
											<a  tc-confirmation="deleteOperation(operation)" href="" item="operation"  tc-message="Brisanje!" ><span style="float:right;" title="Obriši" class="ui-icon ui-icon-trash"></span></a>
										</span>		
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<button  title="Dodaj1" ng-click="openModalOperation('modalOperations.html')" class="btn btn-default btn-xs" style="float:right;">
  							<span class="glyphicon glyphicon-plus" aria-hidden="true">
  								<span style="font-family:arial;font-size:12px;"> Dodaj</span>
  							</span>
						</button>
					</td>
				</tr>
			</table>
			<br>
		</td>
	</tr>
</table>