<div class="navbar navbar-default" ng-init="init();" style="padding:0;margin:0;">
	<ul class="nav navbar-nav">
   		<li ng-class="getClass('/modelsEdit')">
   			<a href="#/modelsEdit/{{editRow._id}}">
   				<span>Modeli</span>
   			</a>
   		</li>
   		<li ng-class="getClass('/modelsClientsEdit')">
   			<a href="#/modelsClientsEdit/{{editRow._id}}">
   				<span>Klijenti</span>
   			</a>
   		</li>
   		<li ng-class="getClass('/modelsInstructionsEdit')">
   			<a href="#/modelsInstructionsEdit/{{editRow._id}}">
   				<span>Instrukcije</span>
   			</a>
   		</li>
   		<li ng-class="getClass('/modelsListsEdit')">
   			<a href="#/modelsListsEdit/{{editRow._id}}">
   				<span>Popis</span>
   			</a>
   		</li>
	</ul>
</div>