<div ng-init="init()">
	<input  ng-model="editRow.id" type="text"/>
	<input  ng-model="editRow.ime" type="text"/>
	<input  ng-model="editRow.prezime" type="text"/>
	<a ng-click="save()">Save</a>
</div>