<script type="text/ng-template" id="modalOperations.html">
	<div class="modal-header">
    	<h3 class="modal-title">Instrukcije</h3>
    </div>
    <div class="modal-body">
		Predmet:<input class='form-control input-xs' style='width:30%;' type='text' ng-model="editRow.subjectTypeId.name"/>
		Redosljed:<input class='form-control input-xs' style='width:30%;' type='text' ng-model="editRow.order"/>
		Naziv:<input class='form-control input-xs' style='width:100%;' type='text' ng-model="editRow.name"/>
		Alias:<input class='form-control input-xs' style='width:100%;' type='text' ng-model="editRow.alias"/>
		Opis:<textarea class='form-control input-xs' rows='8' cols='20' ng-model="editRow.desc"></textarea>
	</div>
    <div class="modal-footer">
    	<button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div> 
</script>

<div style="width:1000px;">
	<button type="button" class="btn btn-default btn-xs" ng-click="openModalOperations('modalOperations.html')"> 
		<span class="glyphicon glyphicon-folder-open" aria-hidden="true">
			<span style="font-family:arial;font-size:12px;"> Novi</span>
		</span>
	</button>
  	<span style="display:inline-block;width:50px;">&nbsp;</span>
  	<button type="button" class="btn btn-default btn-xs" ng-click="addPair()"> 
		<span class="glyphicon glyphicon-plus" aria-hidden="true">
			<span style="font-family:arial;font-size:12px;"> Dodaj</span>
		</span>
	</button>
	<button type="button" class="btn btn-default btn-xs" ng-click="search()"> 
		<span class="glyphicon glyphicon-search" aria-hidden="true">
			<span style="font-family:arial;font-size:12px;"> Potraži</span>
		</span>
	</button>
</div>
<div class="navbar navbar-default" ng-init="init();" style="margin:0;padding:0;">
	<ul class="nav navbar-nav">
   		<li ng-class="getClass('')">
   			<a href="">
   				<span>Instrukcije</span>
   			</a>
   		</li>
	</ul>
</div>
<table width="100%" cellspacing="0" cellpadding="0" style="position:relative;">
	<tr>
		<td width="100%" bgcolor="#e7e7e7" style="position:relative;">
			<div style="margin-left:30px;font-family:arial;font-size:12px;">
				<div ng-init="init();" style="font-family:arial;font-size:12px;">
					<br>
					<div class="row">
						<div ng-repeat="pair in searchPairs" class="col-2 col-sm-5 col-md-3 col-lg-2 panel panel-primary">
					    	<span class="pull-right" >	
					    		<button style="position:relative;float:right;" type="button" class="btn btn-default btn-xs" ng-click="deletePair($index)"> 
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
							</span>			
		            		<select style="width:80%;padding-right:50px;position:relative;float:left;" ng-model="pair.key" ng-options="opt as opt.label for opt in searchOptions" class="form-control input-xs" ></select>
		            		<br>
		            		<input  ng-model="pair.value" type="text"  class="form-control input-xs"/>
	        			</div>
	        		</div>
        		</div>
				<br>
			</div>
		</td>
	<tr>
	<tr style="position:relative;">
		<td bgcolor="#e7e7e7" style="position:relative;">
			<div style="width:100%;height:100%;overflow: auto;">
				<ul style="width:100%;margin:0; padding:0;list-style-type: none;font-size:11px;">
					<table class="resizable table table-hover">
						<thead>
							<tr>
								<th>&nbsp;</th>		
								<th>Predmet</th>
								<th>Redosljed</th>
								<th>Instrukcija</th>
								<th>Alias</th>
								<th>Opis</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in operations" ng-dblclick="openModalOperations('modalOperations.html', row)">
								<td>
									<span style="float: left;">
										<input type="checkbox" ng-click="select(row.id)" name="group" style="float:left;" id="{{row._id}}" />
										<a href="" ng-click="remove()"><span title="OBRIŠI" style="float:left;" class="ui-icon ui-icon-trash"></span></a>
									</span>
								</td>		
								<td>{{ row.subjectTypeId.name }}</td>
								<td>{{ row.order }}</td>
								<td>{{ row.name }}</td>		
								<td>{{ row.alias }}</td>
								<td>{{ row.desc }}</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</ul>
			</div>
			<br>
			<div>
  				Odabir: {{selected}}
			</div>
		</td>
	</tr>
</table>

<script type="text/javascript">
	$('select').selectpicker();
</script>