<!-- <div ng-include="'views/menu.html'"></div> -->
<div ng-init="init()" >
	<div class="bs-example">
	    <ul class="nav nav-tabs">
	        <li ><a href="#/{{eventCode}}/{{competitionCode}}/runSearch">Stages</a></li>
	        <li ><a href="#/{{eventCode}}/{{competitionCode}}/cmpCmrEdit">Competitors</a></li>
	        <li >
	        	<a href="#/{{eventCode}}/{{competitionCode}}/{{getMarkedItem('markedRun').code}}/startTimes">Start times</a>
	        </li>
	        <li class="active"><a href="#/{{eventCode}}/{{competitionCode}}/ranking">Ranking</a></li>
	    </ul>
	</div>

	<div>
  			<button type="button" class="btn btn-default btn-xs" ng-click="addPair()"> 
				<span class="glyphicon glyphicon-plus" aria-hidden="true"> Add criteria</span>
			</button>
			<button type="button" class="btn btn-default btn-xs" ng-click="search()"> 
				<span class="glyphicon glyphicon-search" aria-hidden="true">
					<span> Show</span>
				</span>
			</button>
			<button type="button" class="btn btn-default btn-xs" ng-click="print()"> 
				<span class="glyphicon glyphicon-print" aria-hidden="true">
					<span> Print</span>
				</span>
			</button>
			<button type="button" class="btn btn-default btn-xs" ng-click="send()"> 
				<span class="glyphicon glyphicon-hdd" aria-hidden="true">
					<span> Send preliminary</span>
				</span>
			</button>
			<span style="display:inline-block;width:375px;">&nbsp;</span>


					<div class="row">
						<div ng-repeat="pair in searchPairs" class="col-xs-15">
					    	<div class="col-2 col-sm-5 col-md-3 col-lg-2 col-xs-11 panel panel-primary" >	
					    		<div class="row" >
					    			<div class="col-xs-9 form-group tc-min-margin">
			            				<select ng-model="pair.key" ng-options="opt as opt.label for opt in searchOptions" class="form-control input-xs min-margin" ></select>
			            			</div>
			            			<div class="col-xs-2 form-group tc-min-margin">
						    			<button  ng-hide="pair.key.required" type="button" class="btn btn-default btn-xs min-nmargin" ng-click="deletePair($index)"> 
						    				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
										</button>	
									</div>
								</div>	
									<div class="row">		
										<div class="col-xs-11 form-group tc-min-margin" ng-show="pair.key.typeahead=='competitors'">   
						       				<input  ng-model="pair.value" type="text"  class="form-control input-xs"  typeahead="value as value.fullName for value in getCollection('competitors','fullName',$viewValue)" />
										</div>
										<div class="col-xs-11 form-group tc-min-margin" ng-show="pair.key.typeahead=='categorys'">   
						       				<input  ng-model="pair.value" type="text"  class="form-control input-xs"  typeahead="value as value.name for value in getCollection('categorys','name',$viewValue)" />
										</div>
										<div class="col-xs-11 form-group tc-min-margin" ng-show="pair.key.typeahead=='countrys'">   
						       				<input  ng-model="pair.value" type="text"  class="form-control input-xs"  typeahead="value as value.nameLocal for value in getCollection('countrys','nameLocal',$viewValue)" />
										</div>
										<div class="col-xs-11 form-group tc-min-margin" ng-show="!pair.key.typeahead">   
						       				<input  ng-model="pair.value" type="text"  class="form-control input-xs"  />
										</div>
									</div>
		            		</div>
	        			</div>
	        		</div>


	<div class="row">
		<!--  <td style="vertical-align: top;"></td>-->
					<table class="resizable table table-hover">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th>
									Pos.
								</th>
								<th>
									Name
								</th>	
								<th>Country</th>
								<th>&nbsp;</th>
								<th>Points</th>
								<th>Time</th>
								<th>Processed</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in rows | orderBy:'rank'" >
								<td>
								</td>	
								<td>{{ row.rank}}.</td>	
								<td>{{ row.competitor.fullName }}</td>
								<td>{{ row.competitor.country.localCode }}</td>
								<td><img ng-src="/pub/trailos/countrys/{{row.competitor.country._id}}/flagImg" width="32px" /></td>
								<td>{{ row.points}}</td>
								<td>{{ row.time}}</td>	
								<td>{{ processed(row)}}</td>						
							</tr>
						</tbody>
					</table>
	</div>
	</div>
</div>
