<!-- <div ng-include="'views/menu.html'"></div> -->
<div ng-init="init()" >
	<script type="text/ng-template" id="modalRunEdit.html">
	    <form id="runEditForm" novalidate ng-init="init()"  > 
			<div class="modal-header">
		    	<h3 class="modal-title">Stage</h3>
		    </div>
		    <div class="modal-body" >
		    	<div class="row">
		    		<div class="col-xs-4 form-group">
						<label>Code*</label>
						<input class='form-control input-xs' name="code" ng-model="editRow.code" type='text' ng-required  />
					</div>
					<div class="col-xs-8 form-group">
						<label>Name*</label>
						<input class='form-control input-xs' name="name" ng-model="editRow.name" ng-required  />
					</div>
				</div>
				<div class="row" >
					<div class="col-xs-6 form-group">
						<label>Type*</label>
						<select class="form-control input-xs" ng-model="editRow.type" ng-options="value as value for value in runTypes">
						</select>
					</div>
					<div class="col-xs-6 form-group" >
						<label>Status*</label>
						<select class="form-control input-xs" ng-model="editRow.status" ng-options="value as value for value in cmpStatus">
						</select>
					</div>
				</div>
		    	<div class="row">
		    		<div class="col-xs-6 form-group">
		    			<div class="row">
			    			<div class="col-xs-6 form-group" >
								<label>Starts</label>
								<span class="input-group">
									<input type="text" class="form-control input-xs" datepicker-popup="dd.MM.yyyy H:mm"  ng-model="editRow.startTime" is-open="openStartDate" ng-required="true" close-text="Close" />
							        <span class="input-group-btn">
							           	<button type="button" class="btn btn-default input-xs" ng-click="open($event,'openStartDate')">
							           		<i class="glyphicon glyphicon-calendar"></i>
							           	</button>
							        </span>
							    </span>
						    </div>
						</div>
						<div class="row">
							<div class="col-xs-6 form-group" >
								<label>Num. of. intrp.</label>
								<input class='form-control input-xs' name="breaks" ng-model="editRow.breaks" />
							</div>
						</div>
					</div>
					<div class="col-xs-6 form-group">
						<label>Time limits</label>
						<div class="row" ng-repeat="limit in editRow.timeLimits">
							<div class="col-xs-3 form-group">
								<span>{{limit.limitType.name}}</span“>
							</div>
							<div class="col-xs-3 form-group">
								<input class='form-control input-xs' ng-model="limit.limit" />
							</div>
						</div>
					</div>
				</div>
			</div>
		    <div class="modal-footer">
		    	<button  type="submit" class="btn btn-primary">Save</button>
		        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		    </div> 
	    </form>
	</script>
	<div class="bs-example">
	    <ul class="nav nav-tabs">
	        <li class="active"><a href="#/"{{eventCode}}"/"{{competitionCode}}"/runSearch">Stages</a></li>
	        <li ><a href="#/{{eventCode}}/{{competitionCode}}/cmpCmrEdit">Competitors</a></li>
	        <li ng-hide="!getMarkedItem('markedRun')">
	        	<a href="#/{{eventCode}}/{{competitionCode}}/{{getMarkedItem('markedRun').code}}/startTimes">Start times</a>
	        </li>
	        <li ng-show="getMarkedItem('markedRun')"><a  href="#/{{eventCode}}/{{competitionCode}}/{{getMarkedItem('markedRun').code}}/ranking">Ranking</a>
	        </li>
	        <li ng-show="!getMarkedItem('markedRun')" >
	        	<a href="#/{{eventCode}}/{{competitionCode}}/ranking">Ranking</a>
	        </li>
	    </ul>
	</div>
	<button type="button" class="btn btn-default btn-xs" ng-click="openModalRun()"> 
		<span class="glyphicon glyphicon-folder-open" aria-hidden="true">
			<span > New</span>
		</span>
	</button>
  	<span style="display:inline-block;width:50px;">&nbsp;</span>
  	<button type="button" class="btn btn-default btn-xs" ng-click="addPair()"> 
		<span class="glyphicon glyphicon-plus" aria-hidden="true">
			<span> Add criteria</span>
		</span>	
	</button>
	<button type="button" class="btn btn-default btn-xs" ng-click="search()"> 
		<span class="glyphicon glyphicon-search" aria-hidden="true">
			<span> Search</span>
		</span>
	</button>


	<div class="row">
		<div ng-repeat="pair in searchPairs" class="col-xs-15">
	    <div class="col-2 col-sm-5 col-md-3 col-lg-2 col-xs-11 panel panel-primary" >	
	    	<div class="row" >
	    		<div class="col-xs-9 form-group tc-min-margin">
	         		<select ng-model="pair.key" ng-options="opt as opt.label for opt in searchOptions" class="form-control input-xs min-margin" ></select>
	        </div>
	        <div class="col-xs-2 form-group tc-min-margin">
		    		<button  type="button" class="btn btn-default btn-xs min-nmargin" ng-click="deletePair($index)"> 
		    			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>	
					</div>
				</div>	
				<div class="row">		
					<div class="col-xs-11 form-group tc-min-margin">   
	         	<input  ng-model="pair.value" type="text"  class="form-control input-xs"/>
	        </div>
	      </div>
	    </div>
	 	</div>
	</div>


	<div class="row">
		<!--  <td style="vertical-align: top;"></td>-->
		<table class="resizable table table-hover">
			<thead>
				<tr>
					<th>&nbsp;</th>		
					<th>
						Code
					</th>
					<th>
						Name
					</th>
					<th>
						Name int.
					</th>
					<th>
						Starts
					</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in rows | orderBy:predicate:reverse" ng-dblclick="openRun(row);">
					<td>
						<button type="button" class="btn  btn-xs" ng-class="getMarkedClass('markedRun',row)" title="Mark stage for result enter" ng-click="markItem('markedRun', row);"> 
							<span class="glyphicon glyphicon-ok" aria-hidden="true">
							</span>
						</button>
						<span >
							<button type="button" class="btn btn-default btn-xs" ng-click="openModalRun(row);"> 
								<span class="glyphicon glyphicon-edit" aria-hidden="true">
								</span>
							</button>
						</span>	
					</td>		
					<td>{{ row.code }}</td>
					<td>{{ row.name }}</td>
					<td>{{ row.nameInt }}</td>
					<td>{{ row.startTime | date:'dd.MM.yyyy. H:mm' }}</td>		
					<td>
						<span >
							<button type="button" class="btn btn-default btn-xs" ng-click="remove(row._id);"> 
								<span class="glyphicon glyphicon-remove" aria-hidden="true">
								</span>
							</button>
						</span>				
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
  	Selected: {{selected}}
	</div>
</div>

<script type="text/javascript">
	$('select').selectpicker();
</script>