<!-- <div ng-include="'views/menu.html'"></div> -->
<div ng-init="init()" >
	<script type="text/ng-template" id="modalGenerate.html">
		<form id="formGenerateStartTimes" novalidate  > 
			<div class="modal-header">
		    	<h3 class="modal-title">Country</h3>
		    </div>
		    <div class="modal-body">
		    	<div class="row">
		    		<div class="col-xs-3 form-group">
						<label>Group</label>
						<select class='form-control input-xs' name="group" ng-model="editRow.group" ng-options="value as value for value in startGroups">
						</select>
					</div>
		    		<div class="col-xs-3 form-group">
						<label>Check grpup</label>
						<select class='form-control input-xs' name="checkGroup" ng-model="editRow.checkGroup" ng-options="value as value for value in startGroups">
							<option value="">None</option>
						</select>
					</div>
					<div class="col-xs-3 form-group">
						<label>Delay(sec)</label>
						<input class='form-control input-xs' name="delay" ng-model="editRow.delay"  />
					</div>
					<div class="col-xs-3 form-group">
						<label>Delta(sec)</label>
						<input class='form-control input-xs' name="delta" ng-model="editRow.delta"  />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 form-group">
						<input type="checkbox" class='form-control input-xs' name="startOnOnly" ng-model="editRow.startNoOnly" />
					</div>
		    		<div class="col-xs-4 form-group">
		    			<label>Gen. start no</label>
						<select class='form-control input-xs' name="startNos" ng-model="editRow.startNoAlg">
							<option value="">None</option>
							<option value="byStartTimes">By start Time</option>
						</select>		    			
		    		</div>
		    		<div class="col-xs-4 form-group">
		    			<label>Start with</label>
						<input class='form-control input-xs' name="startAt" ng-model="editRow.startAt" />	    	
		    		</div>
		    	</div>
			</div>
		    <div class="modal-footer">
		    	<button type="submit" class="btn btn-primary" >OK</button>
		        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		    </div> 
	    </form>
	</script>

	<div class="bs-example">
	    <ul class="nav nav-tabs">
	        <li ><a href="#/{{eventCode}}/{{competitionCode}}/runSearch">Stages</a></li>
	        <li ><a href="#/{{eventCode}}/{{competitionCode}}/cmpCmrEdit">Competitors</a></li>
	        <li class="active"><a href="#/{{eventCode}}/{{competitionCode}}/{{getMarkedItem('markedRun').code}}/startTimes">Start times</a></li>
	        <li ng-show="getMarkedItem('markedRun')"><a  href="#/{{eventCode}}/{{competitionCode}}/{{getMarkedItem('markedRun').code}}/ranking">Ranking</a>
	        </li>
	        <li ng-show="!getMarkedItem('markedRun')" >
	        	<a href="#/{{eventCode}}/{{competitionCode}}/ranking">Ranking</a>
	        </li>
	    </ul>
	</div>

	<div>
  			<button type="button" class="btn btn-default btn-xs" ng-click="addPair()"> 
				<span class="glyphicon glyphicon-plus" aria-hidden="true"> Add criteria</span>
			</button>
			<button type="button" class="btn btn-default btn-xs" ng-click="search()"> 
				<span class="glyphicon glyphicon-search" aria-hidden="true">
					<span> Search</span>
				</span>
			</button>
			<button type="button" class="btn btn-default btn-xs" ng-click="openModalGenerate()"> 
				<span class="glyphicon glyphicon-cog" aria-hidden="true">
					<span> Generate</span>
				</span>
			</button>
			<button type="button" class="btn btn-default btn-xs" ng-click="print()"> 
				<span class="glyphicon glyphicon-print" aria-hidden="true">
					<span> Print</span>
				</span>
			</button>
			<span style="display:inline-block;width:375px;">&nbsp;</span>


					<div class="row">
						<div ng-repeat="pair in searchPairs" class="col-xs-15">
					    	<div class="col-2 col-sm-5 col-md-3 col-lg-2 col-xs-11 panel panel-primary" >	
					    		<div class="row" >
					    			<div class="col-xs-9 form-group tc-min-margin">
			            				<select ng-model="pair.key" ng-options="opt as opt.label for opt in searchOptions" class="form-control input-xs min-margin" ></select>
			            			</div>
			            			<div class="col-xs-2 form-group tc-min-margin">
						    			<button  type="button" class="btn btn-default btn-xs min-nmargin" ng-click="deletePair($index)"> 
						    				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
										</button>	
									</div>
								</div>	
									<div class="row">		
										<div class="col-xs-11 form-group tc-min-margin" ng-show="pair.key.typeahead=='competitors'">   
						       				<input  ng-model="pair.value" type="text"  class="form-control input-xs"  typeahead="value as value.fullName for value in getCollection('competitors','fullName',$viewValue)" />
										</div>
										<div class="col-xs-11 form-group tc-min-margin" ng-show="pair.key.typeahead=='categorys'">   
						       				<input  ng-model="pair.value" type="text"  class="form-control input-xs"  typeahead="value as value.name for value in getCollection('categorys','name',$viewValue)" />
										</div>
										<div class="col-xs-11 form-group tc-min-margin" ng-show="!pair.key.typeahead">   
						       				<input  ng-model="pair.value" type="text"  class="form-control input-xs"  />
										</div>
									</div>
		            		</div>
	        			</div>
	        		</div>


	<div class="row">
		<!--  <td style="vertical-align: top;"></td>-->
					<table class="resizable table table-hover">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th>
									First name
								</th>
								<th>
									Last name
								</th>
								<th>
									Start no.
								</th>
								<th>
									Country
								</th>									
								<th>
									Category
								</th>		
								<th>Group</th>				
								<th>Start min.</th>
								<th>Start sec.</th>
								<th>Status</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in rows | orderBy:'genStartMin'" >
								<td>
									<span >
										<input type="checkbox" ng-click="select(row._id)" name="group" />
									</span>
								</td>		
								<td>{{ row.competitor.firstName }}</td>
								<td>{{ row.competitor.lastName }}</td>
								<td>{{ row.cmpCmrs.startNo}}</td>
								<td>{{ row.competitor.country.localCode }}</td>
								<td>{{ row.category.name }}</td>
								<td>{{row.group}}
								<td><input ng-model="row.genStartMin" class="form-control input-xs" size="2"/></td>		
								<td><input ng-model="row.genStartSec" class="form-control input-xs" size="2" /></td>
							<td><input ng-model="row.status" class="form-control input-xs"  /></td>
								<td>
									<button type="button" class="btn btn-default btn-xs" ng-click="save(row);"> 
										<span class="glyphicon glyphicon-ok" aria-hidden="true"> Apply</span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
	</div>
	</div>
	<div>
  		Selected: {{selected}}
	</div>
</div>
