<div style="font-family:arial;font-size:12px;" ng-init="init();">
<script type="text/ng-template" id="modalNewFile.html">
	<div class="modal-header">
		<h3 class="modal-title">Učitaj sliku</h3>
	</div>
    <div class="modal-body">
		<div class="row">
    		<div class="col-xs-12 form-group">
				<img width="150px" height="170px" ng-src="{{imageUrl}}" ></img>
			</div>
		</div>
		<div class="row">
    		<div class="col-xs-7 form-group">
				<input type="file" ng-file-select="uploadPic($files)" name="file" accept="image/*" />
			</div>
		</div>			
    </div>
	<div class="modal-footer">
      	<button class="btn btn-primary" ng-click="ok(0)">OK</button>
       	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div> 
</script>
<script type="text/ng-template" id="modalOperations.html">
    <div class="modal-header">
    	<h3 class="modal-title">Radnja u roku</h3>
    </div>
    <div class="modal-body">
		<div class="row">
    		<div class="col-xs-7 form-group">
				<label>Ažurirao</label>
				<input id='operationsList' class='form-control input-xs' ng-model="editRow.operationId.name" ng-keyup='complete()' operation-name-validate/>
			</div>
			<div class="col-xs-5 form-group">
			</div>
		</div>
		<div class="row">
    		<div class="col-xs-5 form-group">
				<label>Izvršena</label>
				<input id='operationsList' class='form-control input-xs' ng-model="editRow.operationId.name" ng-keyup='complete()' operation-name-validate/>
			</div>
			<div class="col-xs-3 form-group">
				<label>Datum</label>
				<span class="input-group">
					<input type="text" class="form-control input-xs" ng-model="editRow.deadlineDate"  datepicker-popup="dd.MM.yyyy" is-open="openOperationDate" ng-required="true" close-text="Close" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default input-xs" ng-click="open($event,'openOperationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</span>
			</div>
			<div class="col-xs-4 form-group">
			</div>
		</div>
		<hr>
		<div class="row">
    		<div class="col-xs-7 form-group">
				<label>Radnja</label>
				<input id='operationsList' class='form-control input-xs' ng-model="editRow.operationId.name" ng-keyup='complete()' operation-name-validate/>
			</div>
			<div class="col-xs-5 form-group">
			</div>
		</div>
		<div class="row">
    		<div class="col-xs-7 form-group">
				<label>Opis</label>
				<input id='operationsList' class='form-control input-xs' ng-model="editRow.desc"/>
			</div>
			<div class="col-xs-5 form-group">
			</div>
		</div>
		<div class="row">
    		<div class="col-xs-7 form-group">
				<label>Dokument</label>
				<input class='form-control input-xs' type='text' ng-model="editRow.document"/>
			</div>
			<div class="col-xs-5 form-group">
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-3 form-group">
				<label>Datum</label>
				<span class="input-group">
					<input type="text" class="form-control input-xs" ng-model="someData2" datepicker-popup="dd.MM.yyyy" is-open="openOperationDate2" ng-required="true" close-text="Close" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default input-xs" ng-click="open($event,'openOperationDate2')"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</span>
			</div>
			<div class="col-xs-9 form-group">
				<label>Fakturirati:</label>
				<br>
				<input type='checkbox' ng-model="editRow.invoicable">
			</div>
		</div>		
		<div class="row">
    		<div class="col-xs-7 form-group">
				<label>Opis</label>
				<input class='form-control input-xs' type='text' ng-model="editRow.invoiceId.desc"/>
			</div>
			<div class="col-xs-5 form-group">
			</div>
		</div>
		<div class="row">
    		<div class="col-xs-7 form-group">
				<label>Faktura</label>
				<input class='form-control input-xs' type='text' ng-model="editRow.invoiceId.inoviceNo"/>
			</div>
			<div class="col-xs-5 form-group">
			</div>
		</div>
    </div>
    <div class="modal-footer">
    	<button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div> 
</script>
<script type="text/ng-template" id="modalPriorities.html">
    <div class="modal-header">
        <h3 class="modal-title">Prioriteti</h3>
    </div>
    <div class="modal-body">	
	    <div class="row">
			<div class="col-xs-3 form-group">
				<label>Datum</label>
				<span class="input-group">
					<input type="text" class="form-control input-xs" ng-model="editRow.date"  datepicker-popup="dd.MM.yyyy" is-open="openPriorityDate" ng-required="true" close-text="Close" />
				    <span class="input-group-btn">
				        <button type="button" class="btn btn-default input-xs" ng-click="open($event,'openPriorityDate')"><i class="glyphicon glyphicon-calendar"></i></button>
				    </span>
				</span>
			</div>
			<div class="col-xs-2 form-group">
				<label>Država</label>
				<input class='form-control input-xs text-uppercase' ng-model="editRow.countryId.iso2" type='text' maxlength='2'  country-iso2-validate/>
			</div>
			<div class="col-xs-10 form-group">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5 form-group">
				<label>Broj</label>
				<input class='form-control input-xs' ng-model="editRow.number" type='text'/>
			</div>
			<div class="col-xs-7 form-group">
			</div>
		</div>	
		<div class="row">
			<div class="col-xs-12 form-group">
				<label>Komentar</label>
				<textarea class='form-control input-sm' rows='8' cols='20' ng-model="editRow.comment"></textarea>
			</div>
		</div>
    </div>
    <div class="modal-footer">
    	<button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div> 
</script>
<script type="text/ng-template" id="modalApplicant.html">
    <div class="modal-header">
        <h3 class="modal-title">Prijavitelj/Izumitelj</h3>
    </div>
    <div class="modal-body">
		<div class="row">
			<div class="col-xs-5 form-group">
				<label>Tip</label>
				<input class='form-control input-xs text-uppercase' type='text' ng-model="editRow.category4Id.domain"/>
			</div>
			<div class="col-xs-7 form-group">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-7 form-group">
				<label>Naziv</label>
				<input class='form-control input-xs' type='text' ng-model="editRow.clientName"/>
			</div>
			<div class="col-xs-5 form-group">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-7 form-group">
				<label>Adresa</label>
				<input class='form-control input-xs' type='text' ng-model="editRow.homeAddress.street"/>
			</div>
			<div class="col-xs-5 form-group">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-7 form-group">
				<label>Mjesto</label>
				<input class='form-control input-xs' type='text' ng-model="editRow.homeAddress.stateProvince"/>
			</div>
			<div class="col-xs-2 form-group">
				<label>Država</label>
				<input class='form-control input-xs text-uppercase' type='text' maxlength='2' ng-model="editRow.homeAddress.countryId.iso2"/>
			</div>
			<div class="col-xs-3 form-group">
			</div>
		</div>
	</div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div> 
</script>

<div style="width:1000px;">
	<button title="Pospremi podatke" ng-click="save()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-floppy-save" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Pospremi</span>
  		</span>
	</button>
	<button title="Pošalji e-mail" ng-click="emailIt()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-envelope" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> E-Mail</span>
  		</span>
	</button>
	<button title="Kopiraj osobu u međuspremnik" ng-click="copy()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-arrow-up" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Kopiraj</span>
  		</span>
	</button>
	<button title="Zalijepi podatke iz međuspremnika" ng-click="paste()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-arrow-down" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Zalijepi</span>
  		</span>
	</button>
	<button title="Izvezi osobu" ng-click="exportIt()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-export" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Export</span>
  		</span>
	</button>
	<button title="Zaključavanje" ng-model="locked" ng-click="lockForm()" type="button" class="btn btn-default btn-xs">
  		<span ng-class="{'glyphicon-eye-close': locked, 'glyphicon-eye-open': !locked}" class="glyphicon glyphicon-eye-open" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;">{{ lockedUnlockedLabel }}</span>
  		</span>
	</button>
	<button style="position:relative;float:right;" title="Obriši osobu" ng-click="deleteIt()" type="button" class="btn btn-danger btn-xs">
  		<span class="glyphicon glyphicon-trash" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Delete</span>
  		</span>
	</button>
</div>
<div ng-include="'views/tabs.html'"></div>	
<div growl></div>
<div id="mainDiv" ng-class="{disabled: !locked}" style="width:1000px;">
			<div>
				<div class="row">
					<div class="col-xs-2 form-group">
						<label>Broj predmeta:</label>
						<input class="form-control input-xs" type="text" ng-model="editRow.caseNo"/>
					</div>
					<div class="col-xs-8 form-group">
						<label>Naziv patenta:</label>
						<input class="form-control input-xs" type="text" ng-model="editRow.caseName"/>
					</div>
					<div class="col-xs-2 form-group">
						<label>Država:</label>
						<input class="form-control input-xs text-uppercase" type="text" ng-model="editRow.countryId.iso2" maxlength="2" required="required" country-iso2-validate/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3 form-group">
						<input type="checkbox">
						<label>Odustajanje/Prestanak:</label>
					</div>
					<div class="col-xs-9 form-group">
						<input class="form-control input-xs" type="text" ng-model="editRow.terminationReason"/>
					</div>
				</div>
			</div>
			<div>
				<div class="row">
					<div class="col-xs-6 form-group">
						<div class="row">
							<div class="col-xs-6 form-group">
								<label>Datum prijave:</label>
								<span class="input-group">
							        <input type="text" class="form-control input-xs" datepicker-popup="dd.MM.yyyy" ng-model="editRow.applyDate" is-open="openApplayDate" ng-required="true" close-text="Close" />
							        <span class="input-group-btn">
							           	<button type="button" class="btn btn-default input-xs" ng-click="open($event,'openApplayDate')"><i class="glyphicon glyphicon-calendar"></i></button>
							        </span>
							    </span>
							</div>
							<div class="col-xs-6 form-group">
								<label>Broj patenta:</label>
								<input class="form-control input-xs" type="text" ng-model="editRow.applyNo"/>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 form-group">
								<label>Broj prijave:</label>
								<input class="form-control input-xs" type="text" ng-model="editRow.applyNo"/>
							</div>
							<div class="col-xs-6 form-group">
								<label>Datum registracije:</label>
								<span class="input-group">
							        <input type="text" class="form-control input-xs" datepicker-popup="dd.MM.yyyy" ng-model="editRow.registrationDate" is-open="openRegistrationDate" ng-required="true" close-text="Close" />
							        <span class="input-group-btn">
							            <button type="button" class="btn btn-default input-xs"  ng-click="open($event,'openRegistrationDate');"><i class="glyphicon glyphicon-calendar"></i></button>
							        </span>
							    </span>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 form-group">
								<label>Klasifikacijski broj:</label>
								<input class="form-control input-xs" type="text" ng-model="editRow.classificationNo"/>
							</div>
							<div class="col-xs-6 form-group">
								<label>Datum objave registracije:</label>
								<span class="input-group">
							        <input type="text" class="form-control input-xs" datepicker-popup="dd.MM.yyyy" ng-model="editRow.applyAnnouncmentDate" is-open="openApplyAnnouncmentDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
							        <span class="input-group-btn">
							            <button type="button" class="btn btn-default input-xs" ng-click="open($event,'openApplyAnnouncmentDate')"><i class="glyphicon glyphicon-calendar"></i></button>
							        </span>
							    </span>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 form-group">
								<label>Datum objave prijave:</label>
								<span class="input-group">
							        <input type="text" class="form-control input-xs" datepicker-popup="dd.MM.yyyy" ng-model="editRow.registrationAnnouncmentDate" is-open="openRegistrationAnnouncmentDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
							        <span class="input-group-btn">
							            <button type="button" class="btn btn-default input-xs" ng-click="open($event,'openRegistrationAnnouncmentDate')"><i class="glyphicon glyphicon-calendar"></i></button>
							        </span>
							    </span>
							</div>
							<div class="col-xs-6 form-group">
								<label>Datum važenja/plaćeni anuitet:</label>
								<span class="input-group">
							    	<input type="text" class="form-control input-xs" datepicker-popup="dd.MM.yyyy" ng-model="editRow.expirationDate" is-open="openExpirationDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
							       	<span class="input-group-btn">
							    		<button type="button" class="btn btn-default input-xs" ng-click="open($event,'openExpirationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
							        </span>
							        <input class="form-control input-xs" type="text" ng-model="editRow.annuities"/>
							    </span>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 form-group">
								<label>Broj međunarodne prijave:</label>
								<input class="form-control input-xs" type="text" ng-model="editRow.internationalApplyNo"/>
							</div>
							<div class="col-xs-6 form-group">
								<label>Datum međunarodne prijave:</label>
								<span class="input-group">
							        <input type="text" class="form-control input-xs" datepicker-popup="dd.MM.yyyy" ng-model="editRow.internationalApplyDate" is-open="openInternationalApplyDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
							        <span class="input-group-btn">
							            <button type="button" class="btn btn-default input-xs" ng-click="open($event,'openInternationalApplyDate')"><i class="glyphicon glyphicon-calendar"></i></button>
						            </span>
						        </span>
							</div>
						</div>
					</div>
					<div class="col-xs-6 form-group">
						<div class="row">
							<div class="col-xs-4 form-group">
								<label>Slika:</label>
								<img width="150px" height="170px" ng-src="{{imageUrl}}" ></img>
							</div>
							<div class="col-xs-8 form-group">
								<label>Slika:</label>
								<table class="resizable table table-hover">
									<thead>
										<tr>	
											<th>
												<label>Ime</label>
											</th>
											<th>
												<label></label>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="image in editRow.images track by image._id" ng-dblclick="openModalImages('modalNewFile.html')">
											<td>
												<span ng-click="showPic(image._id)">{{ image.name }}</span>
											</td>
											<td>
												<a tc-confirmation="deleteImage(image)" href="" item="image"  tc-message="Brisanje slike!" ><span style="float:right;" title="Obriši" class="ui-icon ui-icon-trash"></span></a>
											</td>
										</tr>
									</tbody>
								</table>
								<!-- <button title="Dodaj" ng-click="" type="button" class="btn btn-default btn-xs" style="float:right;">
  										<span class="glyphicon glyphicon-plus" aria-hidden="true"><span style="font-family:arial;font-size:12px;"> Dodaj</span></span>
									</button>
									<input type="file" ng-file-select="uploadPic($files)" name="file" accept="image/*" />
									 -->
								<button style="float:right;" ng-click="openModalImages('modalNewFile.html')" class="btn btn-default btn-xs">
  									<span class="glyphicon glyphicon-plus" aria-hidden="true">
  										<span style="font-family:arial;font-size:12px;"> Dodaj</span>
  									</span>										
  								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4 form-group">
							</div>
							<div class="col-xs-8 form-group">
								<label>Prioriteti:</label>
								<table class="resizable table table-hover">
									<thead>
										<tr>
											<th>
												<label>Datum</label>
											</th>
											<th>
												<label>Država</label>
											</th>
											<th>
												<label>Broj</label>
											</th>
											<th>
												<label></label>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="priority in editRow.priorities track by priority._id" ng-dblclick="openModalPriorities('modalPriorities.html', priority)">
											<td>
												<span>{{ priority.date | date : 'dd.MM.yyyy' }}</span>
											</td>
											<td>
												<span>{{ priority.country }}</span>
											</td>
											<td>
												<span>{{ priority.number }}</span>
											</td>
											<td>
												<a tc-confirmation="deletePriority(priority)" href="" item="priority"  tc-message="Brisanje!" ><span style="float:right;" title="Obriši" class="ui-icon ui-icon-trash"></span></a>
											</td>
										</tr>
									</tbody>
								</table>
								<button  title="Dodaj3" ng-click="openModalPriorities('modalPriorities.html')" class="btn btn-default btn-xs" style="float:right;">
  									<span class="glyphicon glyphicon-plus" aria-hidden="true">
  										<span style="font-family:arial;font-size:12px;"> Dodaj</span>
  									</span>
								</button>
							</div>
						</div>
					</div>							
				</div>
			</div>
			<div>
				<div class="row">
					<div class="col-xs-8 form-group">
						<label>Naziv patenta:</label>
						<input class="form-control input-xs" type="text" ng-model="editRow.caseName"/>
					</div>
					<div class="col-xs-4 form-group">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-8 form-group">
						<label>Engleski naziv patenta:</label>
						<input class="form-control input-xs" type="text" ng-model="editRow.internationalCaseName"/>
					</div>
					<div class="col-xs-4 form-group">
					</div>
				</div>
			</div>
			<div>
				<div class="row">
					<div class="col-xs-12 form-group">
						<label>Prijavitelj/izumitelj:</label>
						<table class="resizable table table-hover">
							<thead>
								<tr>
									<th>
										<label>Tip</label>
									</th>
									<th>
										<label>Naziv</label>
									</th>
									<th>
										<label>Adresa</label>
									</th>
									<th>
										<label>Mjesto</label>
									</th>
									<th>
										<label>Država</label>
									</th>
									<th>
										<label></label>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="applicant in editRow.clients track by applicant._id" ng-dblclick="openModalApplicant('modalApplicant.html', applicant)">
									<td>				
										<span>{{ applicant.category4Id.domain }}</span>
									</td>
									<td>				
										<span>{{ applicant.clientName }}</span>
									</td>
									<td>				
										<span>{{ applicant.homeAddress.street }}</span>
									</td>
									<td>				
										<span>{{ applicant.homeAddress.stateProvince }}</span>
									</td>
									<td>				
										<span>{{ applicant.homeAddress.countryId.iso2 }}</span>
									</td>
									<td>				
										<span>
											<a  tc-confirmation="deleteApplicant(applicant)" href="" item="applicant"  tc-message="Brisanje!" ><span style="float:right;" title="Obriši" class="ui-icon ui-icon-trash"></span></a>
										</span>
									</td>
								</tr>
							</tbody>
						</table>
						<button  title="Dodaj2" ng-click="openModalApplicant('modalApplicant.html')" class="btn btn-default btn-xs" style="float:right;">
  							<span class="glyphicon glyphicon-plus" aria-hidden="true">
  								<span style="font-family:arial;font-size:12px;"> Dodaj</span>
  							</span>
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 form-group">
						<label>Radnja u roku:</label>
						<table class="resizable table table-hover">
							<thead>
								<tr>
									<th>
										<label>Datum</label>
									</th>
									<th>
										<label>Radnja</label>
									</th>
									<th>
										<label>dokument</label>
									</th>
									<th>
										<label>Fakturirati</label>
									</th>
									<th>
										<label>datum</label>
									</th>
									<th>
										<label>faktura</label>
									</th>
									<th>
										<label></label>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="operation in editRow.operations track by operation._id" ng-dblclick="openModalOperation('modalOperations.html', operation)">
									<td>
										<span>{{ operation.executionDate | date : 'dd.MM.yyyy' }}</span>		
									</td>
									<td>
										<span>{{ operation.operationId.name }}</span>		
									</td>
									<td>
										<span>{{ operation.document }}</span>		
									</td>
									<td>
										<span><input style="margin:0;padding:0;" type="checkbox" ng-model="operation.invoicable">{{ operation.invoicable }}</span>		
									</td>
									<td>
										<span>{{ operation.deadlineDate | date : 'dd.MM.yyyy' }}</span>		
									</td>
									<td>
										<span>{{ operation.invoiceId }}</span>		
									</td>
									<td>
										<span>
											<a  tc-confirmation="deleteOperation(operation)" href="" item="operation"  tc-message="Brisanje!" ><span style="float:right;" title="Obriši" class="ui-icon ui-icon-trash"></span></a>
										</span>		
									</td>
								</tr>
							</tbody>
						</table>
						<button  title="Dodaj1" ng-click="openModalOperation('modalOperations.html')" class="btn btn-default btn-xs" style="float:right;">
  							<span class="glyphicon glyphicon-plus" aria-hidden="true">
  								<span style="font-family:arial;font-size:12px;"> Dodaj</span>
  							</span>
						</button>
					</div>
				</div>
			</div>
		
</div>