<div ng-controller="subjectsEdit" ng-include="'views/menu.html'"></div>
<table width="1150px" cellspacing="0" cellpadding="0">
	<tr>
		<td width="150px"></td>
		<td width="1000px"></td>
	<tr>
	<tr>
		<td  style="vertical-align: top;">
			<div ng-include="'views/tools.html'"></div>
		</td>
		<td  bgcolor="#e7e7e7">
			<div style="width:1000px;font-family:arial;font-size:12px;" ng-init="init();">
				<form action="http://localhost:8000/#/subjectsEdit/">
					<button title="NOVI PREDMET" type="submit" ng-click=""><span class="ui-icon ui-icon-folder-open"></span></button>
				</form>
				<br>
				<input  style="float:left;" type="text" placeholder="naziv predmeta..." ng-model="searchName"/>
				<input  style="float:left;" type="text" placeholder="broj predmeta..." ng-model="searchNo"/>
  				<button title="PRETRAŽI" type="submit" ng-click="search()">
  					<span class="ui-icon ui-icon-search"></span>
  				</button>
  				<br><br>
				<ul style="list-style-type: none;" >
					<lh><span style="float: left;width:50px;">ID</span></lh>
					<lh><span style="float: left;width:150px;">BROJ PREDMETA</span></lh>
					<lh><span style="float: left;width:250px;">NAZIV PREDMETA</span></lh>
					<lh><span style="float: left;width:100px;">ID PREDMETA</span></lh>
					<lh><span style="float: left;width:150px;">TIP KLIJENTA</span></lh>
					<lh><span style="float: left;width:250px;">IME KLIJENTA</span></lh><br><br>
					<li style="border-bottom:1px solid #80bee3;height:20px;" ng-repeat="row in subjects track by row.id ">
						<span style="float: left;width:50px;">{{ row.id }}</span>
						<span style="float: left;width:150px;">{{ row.caseNo }}</span>
						<span style="float: left;width:250px;">{{ row.caseName }}</span>			
						<span ng-repeat="sub in row.clients">
							<span style="float: left;width:100px;">{{ sub.clientsId }}</span>
							<span style="float: left;width:150px;">{{ sub.type }}</span>
						</span>			
						<span ng-repeat="name in clients | filter: { clients: { clientsId: 1 } }">
							<span style="float: left;width:250px;">{{ name.clientsName }}</span>
						</span>			
						<span style="float: right;width:70px;">
							<input type="checkbox" ng-click="select(row.id)" name="group" id="{{row.id}}" />
							<a href="#/search" ng-click="remove()"><span title="OBRIŠI" style="float:right;" class="ui-icon ui-icon-trash"></span></a>
							<a href="#/subjectsEdit/{{row.id}}"><span title="UREDI" style="float:right;" class="ui-icon ui-icon-pencil"></span></a>
						</span>
					</li>
				</ul>
				<div>
  					Odabir: {{selected}}
				</div>
			</div>
		</td>
	</tr>
</table>