<div ng-include="'views/menu.html'"></div>
<table width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td width="10%"></td>
		<td width="90%"></td>
	<tr>
	<tr>
		<td style="vertical-align: top;">
			<div ng-include="'views/tools.html'"></div>
		</td>
		<td  bgcolor="#81DAF5">
			<div style="font-family:arial;font-size:12px;" ng-init="init();">
				<button title="Novi predmet" type="new" ng-click="newSubject()">Novi</button>
				<select title="TIP PREDMETA">
					<option>Patenti</option>
					<option>Žigovi</option>
					<option>WIPO</option>
					<option>Modeli</option>
				</select>
				<br>
				<div style="overflow: auto;">
					<div>	
						<table>
							<tr>
								<td>
									<div style="overflow-y:scroll;height:100px;border-bottom:1px solid #80bee3;border-top:1px solid #80bee3;">
										<div ng-repeat="pair in searchPairs">
            								<label></label>
            								<button title="OBRIŠI" type="submit" ng-click="deletePair($index)">
            									<span class="ui-icon ui-icon-trash"></span>
            								</button>
            								<select ng-model="pair.key" ng-options="opt as opt.label for opt in searchOptions"></select>
            								<input  ng-model="pair.value" type="text"/>
            								<label>
            									<input type="checkbox" name="checkbox" value="value">i
            								</label>
            								<label>
            									<input type="checkbox" name="checkbox2" value="value">ili
            								</label>
            								<br>
        								</div>
        							</div>
        							<button ng-click="addPair()" type="plus" style="display:inline-block">Dodaj</button>
        							<button title="Potraži" type="search" ng-click="search()" style="display:inline-block">Potraži</button>

        						</td>
							</tr>
						</table>
					</div>
				</div>
  				<br>
				<div style="width:100%;height:100%;overflow: auto;">
					<div style="width:200%;margin:0; padding:0;list-style-type: none;font-size:11px;">
						<table style="width:200%;" id="table-css-border-1" class="ui-widget-content">
							<thead>
								<tr>
									<th style="width:70px;">&nbsp;</th>		
									<th style="width:100px;">Broj</th>
									<th style="width:200px;">Naziv</th>
									<th style="width:80px;">Datum prijave</th>
									<th style="width:100px;">Broj prijave</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="row in subjects track by row._id ">
									<td>
										<span style="float: left;">
											<input type="checkbox" ng-click="select(row.id)" name="group" style="float:left;" id="{{row.id}}" />
											<a href="#/search" ng-click="remove()"><span title="OBRIŠI" style="float:left;" class="ui-icon ui-icon-trash"></span></a>
											<a href="#/" ng-click="openSubject(row._id);" ><span title="UREDI" style="float:left;" class="ui-icon ui-icon-pencil"></span></a>
										</span>
									</td>		
									<td>{{ row.caseNo }}</td>
									<td>{{ row.caseName }}</td>
									<td>{{ row.applyDate }}</td>		
									<td>{{ row.applyNo }}</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<br>
				<div>
  					Odabir: {{selected}}
				</div>
			</div>
		</td>
	</tr>
</table>