<div style="width:1000px;" ng-init="init()">
  	<button type="button" class="btn btn-default btn-xs" ng-click="addPair()"> 
		<span class="glyphicon glyphicon-plus" aria-hidden="true">
			<span style="font-family:arial;font-size:12px;"> Dodaj</span>
		</span>
	</button>
	<button type="button" class="btn btn-default btn-xs" ng-click="search()"> 
		<span class="glyphicon glyphicon-search" aria-hidden="true">
			<span style="font-family:arial;font-size:12px;"> Potraži</span>
		</span>
	</button>
</div>
<div class="navbar navbar-default" ng-init="init();" style="margin:0;padding:0;">
	<ul class="nav navbar-nav">
   		<li class="active">
   			<a href="">
   				<span>Rokovi</span>
   			</a>
   		</li>
	</ul>
</div>
<table width="100%" cellspacing="0" cellpadding="0" style="position:relative;">
	<tr>
		<td width="100%" bgcolor="#e7e7e7" style="position:relative;">
			<br>
			<table class="table">
				<tr>
					<td width="15%">
						<span>
							<label>Prikaz unaprijed dana:</label>
							<input style="width:30px;" type="text"  class="form-control input-xs"/>
						</span>
					</td>
					<td width="15%">
						<label>Korisnik:</label>
						<select class="form-control input-xs" ng-options="">
						</select>
					</td>
					<td width="10%">
						<label>Tip predmeta:</label>
						<select class="form-control input-xs" ng-options="">
						</select>
					</td>
					<td width="60%"></td>
				</tr>
			</table>			
		</td>
	<tr>
	
	
	<tr>
		<td width="100%" bgcolor="#e7e7e7" style="position:relative;">
			<div style="margin-left:30px;font-family:arial;font-size:12px;">
				<div ng-init="init();" style="font-family:arial;font-size:12px;">
					<div class="row">
						<div ng-repeat="pair in searchPairs" class="col-2 col-sm-5 col-md-3 col-lg-2 panel panel-primary">
					    	<span class="pull-right" >	
					    		<button style="position:relative;float:right;" type="button" class="btn btn-default btn-xs" ng-click="deletePair($index)"> 
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
							</span>			
		            		<select style="width:80%;padding-right:50px;position:relative;float:left;" ng-model="pair.key" ng-options="opt as opt.label for opt in searchOptions" class="form-control input-xs" ></select>
		            		<br>
		            		<input  ng-model="pair.value" type="text"  class="form-control input-xs"/>
	        			</div>
	        		</div>
        		</div>
			</div>
		</td>
	<tr>
	<tr style="position:relative;">
		<td bgcolor="#e7e7e7" style="position:relative;">
			<table class="resizable table table-hover">
				<thead>
					<tr>
						<th>&nbsp;</th>		
						<th>Rok</th>
						<th>Izvršeno</th>
						<th>Radnja</th>
						<th>Predmet</th>
						<th>Korisnik</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in selectOperations">
						<td>
							<span style="float: left;">
								<input type="checkbox" ng-click="select(row.id)" name="group" style="float:left;" id="{{row._id}}" />
								<a href="" ng-click="remove()"><span title="OBRIŠI" style="float:left;" class="ui-icon ui-icon-trash"></span></a>
							</span>
						</td>		
						<td>{{ row.operations.deadlineDate }}</td>
						<td>{{ row.operations.executionDate }}</td>
						<td>{{ row.operations.operationId.name }}</td>		
						<td>{{ row.caseName }}</td>
						<td>{{ row.caseNo }}</td>
					</tr>
				</tbody>
			</table>
			<br>
			<div>
  				Odabir: {{selected}}
			</div>
		</td>
	</tr>
</table>

<script type="text/javascript">
	$('select').selectpicker();
</script>