<div class="navbar navbar-default" ng-init="init();" style="margin:0;padding:0;">
	<ul class="nav navbar-nav">
   		<li ng-class="getClass('/subjectsEdit')">
   			<a href="#/subjectsEdit/{{editRow._id}}">
   				<span>Patenti</span>
   			</a>
   		</li>
   		<li ng-class="getClass('/clientsEdit')">
   			<a href="#/clientsEdit/{{editRow._id}}">
   				<span>Klijenti</span>
   			</a>
   		</li>
   		<li ng-class="getClass('/instructionsEdit')">
   			<a href="#/instructionsEdit/{{editRow._id}}">
   				<span>Instrukcije</span>
   			</a>
   		</li>
   		<li ng-class="getClass('/listsEdit')">
   			<a href="#/listsEdit/{{editRow._id}}">
   				<span>Popis</span>
   			</a>
   		</li>
	</ul>
</div>
