<!-- <div ng-include="'views/menu.html'"></div> -->
<div ng-init="init()" >
	<script type="text/ng-template" id="modalTaskEdit.html">
	  <form id="taskEditForm" novalidate ng-init="init()"  > 
			<div class="modal-header">
		    	<h3 class="modal-title">Task definition</h3>
		    </div>
		    <div class="modal-body" >
		    	<div class="row">
		    		<div class="col-xs-4 form-group">
							<label>No*</label>
							<input class='form-control input-xs' name="no" ng-model="editRow.no" type='text'   />
						</div>
						<div class="col-xs-8 form-group">
							<label>Type*</label>
							<select class='form-control input-xs' name="type" ng-model="editRow.type" ng-options="value as value for value in taskTypes"  >
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 form-group" >
							<label>Solution*</label>
							<input class='form-control input-xs' name="solution" ng-model="editRow.solution" type="text"  >
							</input>
						</div>
						<div class="col-xs-8 form-group" >
							<label>Solution*</label>
							<table>
								<thead>
									<tr>
										<th>
											<button type="button" class="btn btn-default input-xs" ng-click="addTimeControl()">
								           		<i class="glyphicon glyphicon-plus"> Add</i>
								      		</button>
								      	</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="tc in editRow.timeControls">
										<td>
											<div class="row">
												<div class="col-xs-2 form-group" >
													<input type="text" class="form-control input-xs" ng-model="tc.no" name="tcno" />
												</div>
												<div class="col-xs-4 form-group" >
													<select class="form-control input-xs" ng-model="tc.status" ng-options="value as value for value in taskStates">											
													</select>
												</div>
												<div class="col-xs-2 form-group" >
													<input type="text" class="form-control input-xs" ng-model="tc.solution" name="tcsol" />
												</div>
												<div class="col-xs-2 form-group" >
													<button type="button" class="btn btn-default input-xs" ng-click="removeTimeControl($index)">
					           				<i class="glyphicon glyphicon-minus"> Remove</i>
					      					</button>
					      				</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row" >
						<div class="col-xs-4 form-group" >
							<label>Order no</label>
							<input class='form-control input-xs' name="nameInt" ng-model="editRow.orderNo" />
						</div>
						<div class="col-xs-8 form-group" >
							<label>Status*</label>
							<select class="form-control input-xs" ng-model="editRow.status" ng-options="value as value for value in taskStates">
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 form-group" >
							<label>Team</label>
							<input type="checkbox" class="form-control input-xs" ng-model="editRow.team" name="team" />	
						</div>
						<div class="col-xs-8 form-group" >
							<label>For categorys</label>
						 	<ui-select multiple ng-model="editRow.categorys" theme="select2" ng-disabled="disabled" name="categorys" style="width:100%">
						    	<ui-select-match multipleplaceholder="Select categorys from list...">{{$item.name}}</ui-select-match>
						    	<ui-select-choices repeat="category in lastCategorys track by $category._id"
						             refresh="getCategorys($select.search)"
						             refresh-delay="0">
						      		<div ng-bind-html="category.name | highlight: $select.search"></div>
						    	</ui-select-choices>
						  	</ui-select>
				  	</div>
					</div>
				</div>
			</div>
		    <div class="modal-footer">
		    	<button  type="submit" class="btn btn-primary" tc-message="Snimi korisnika!">Pospremi</button>
		        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		    </div> 
	  </form>
	</script>
	<div class="bs-example">
	    <ul class="nav nav-tabs">
	        <li class="active"><a>Tasks</a></li>
	    </ul>
	</div>
	<button type="button" class="btn btn-default btn-xs" ng-click="openModalTaskEdit()"> 
		<span class="glyphicon glyphicon-folder-open" aria-hidden="true">
			<span > New</span>
		</span>
	</button>
  	<span style="display:inline-block;width:50px;">&nbsp;</span>
  	<button type="button" class="btn btn-default btn-xs" ng-click="addPair()"> 
		<span class="glyphicon glyphicon-plus" aria-hidden="true">
			<span> Add criteria</span>
		</span>	
	</button>
	<button type="button" class="btn btn-default btn-xs" ng-click="search()"> 
		<span class="glyphicon glyphicon-search" aria-hidden="true">
			<span> Search</span>
		</span>
	</button>


	<div class="row">
		<div ng-repeat="pair in searchPairs" class="col-xs-15">
	    <div class="col-2 col-sm-5 col-md-3 col-lg-2 col-xs-11 panel panel-primary" >	
	    	<div class="row" >
	    		<div class="col-xs-9 form-group tc-min-margin">
	         		<select ng-model="pair.key" ng-options="opt as opt.label for opt in searchOptions" class="form-control input-xs min-margin" ></select>
	        </div>
	        <div class="col-xs-2 form-group tc-min-margin">
		    		<button  type="button" class="btn btn-default btn-xs min-nmargin" ng-click="deletePair($index)"> 
		    			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>	
					</div>
				</div>	
				<div class="row">		
					<div class="col-xs-11 form-group tc-min-margin">   
	         	<input  ng-model="pair.value" type="text"  class="form-control input-xs"/>
	        </div>
	      </div>
	    </div>
	 	</div>
	</div>


	<div class="row">
		<!--  <td style="vertical-align: top;"></td>-->
		<table class="resizable table table-hover">
			<thead>
				<tr>
					<th>&nbsp;</th>		
					<th>
						Type
					</th>
					<th>
						No.
					</th>
					<th>
						Solution
					</th>
					<th>
						Status
					</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in rows | orderBy :'orderNo' " ng-dblclick="openRun(row);">
					<td>
						<span >
							<input type="checkbox" ng-click="select(row._id)" name="group" />
							<button type="button" class="btn btn-default btn-xs" ng-click="remove(row._id);"> 
								<span class="glyphicon glyphicon-remove" aria-hidden="true">
								</span>
							</button>
							<button type="button" class="btn btn-default btn-xs" ng-click="openModalTaskEdit(row);"> 
								<span class="glyphicon glyphicon-edit" aria-hidden="true">
								</span>
							</button>
						</span>
					</td>		
					<td>{{ row.type }}</td>
					<td>{{ row.no }}</td>
					<td>
						<div ng-show="row.type=='ST'"><ul ng-repeat="tc in row.timeControls track by tc.no"><li>{{ tc.no }}  {{tc.solution}} {{tc.status}}</li></ul></div>
						<div ng-show="row.type=='CP'">{{ row.solution }}</div>
					</td>
					<td>{{ row.status}}</td>		
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
  	Selected: {{selected}}
	</div>
</div>

<script type="text/javascript">
	$('select').selectpicker();
</script>