<script type="text/ng-template" id="modalNewFile.html">
	<div class="modal-header">
		<h3 class="modal-title">Učitaj predlošak</h3>
	</div>
    <div class="modal-body">
		<div style="position:relative; width:150px; height:170px; outline: thin solid">
			<img width="150px" height="170px" ng-src="{{imageUrl}}" ></img>
		</div>
		<br>
		<div>
			<span style="float: left; width: 250px;" ng-click="showPic(image._id)">&nbsp;{{ image.name }}</span>
		</div>
		<input type="file" ng-file-select="prepareUpload($files)" name="file" accept=".dot, .dotx" />				
    </div>
	<div class="modal-footer">
      	<button class="btn btn-primary" ng-click="ok(0)">OK</button>
       	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div> 
</script>
<script type="text/ng-template" id="modalNewFolder.html">
	<div class="modal-header">
		<h3 class="modal-title">Nova mapa</h3>
	</div>
    <div class="modal-body">
		<input type="text" ng-model="newFolderName" name="folder" />				
    </div>
	<div class="modal-footer">
      	<button class="btn btn-primary" ng-click="ok(1)">OK</button>
       	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div> 
</script>

<table width="100%" cellspacing="0" cellpadding="0" style="position:relative;">
	<tr>	
		<td width="100%" bgcolor="#e7e7e7" style="position:relative;">
			<div style="width:100%;background-color:white !important;">
				<button ng-click="openModalFiles('modalNewFile.html')" class="btn btn-default btn-xs">
  					<span class="glyphicon glyphicon-folder-open" aria-hidden="true">
  						<span style="font-family:arial;font-size:12px;"> Novi</span>
  					</span>										
  				</button>
				<button ng-click="openModalFiles('modalNewFolder.html')" class="btn btn-default btn-xs">
  					<span class="glyphicon glyphicon-folder-open" aria-hidden="true">
  						<span style="font-family:arial;font-size:12px;"> Nova mapa</span>
  					</span>										
  				</button>
  				<span style="display:inline-block;width:50px;">&nbsp;</span>
  				<button type="button" class="btn btn-default btn-xs" ng-click="addPair()"> 
					<span class="glyphicon glyphicon-plus" aria-hidden="true">
						<span style="font-family:arial;font-size:12px;"> Dodaj</span>
					</span>
				</button>
				<button type="button" class="btn btn-default btn-xs" ng-click="search()"> 
					<span class="glyphicon glyphicon-search" aria-hidden="true">
						<span style="font-family:arial;font-size:12px;"> Potraži</span>
					</span>
				</button>
			</div>
			<div class="navbar navbar-default" style="margin:0;padding:0;">
				<ul class="nav navbar-nav">
   					<li ng-class="getClass('templatesSearch')">
   						<a href="">
   							<span>Predlošci</span>
   						</a>
   					</li>
				</ul>
			</div>
			<div style="margin-left:30px;font-family:arial;font-size:12px;">
				<div ng-init="init();" style="font-family:arial;font-size:12px;">
					<br>
					<div class="row">
						<div ng-repeat="pair in searchPairs" class="col-2 col-sm-5 col-md-3 col-lg-2 panel panel-primary">
					    	<span class="pull-right" >	
					    		<button style="position:relative;float:right;" type="button" class="btn btn-default btn-xs" ng-click="deletePair($index)"> 
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
							</span>			
		            		<select style="width:80%;padding-right:50px;position:relative;float:left;" ng-model="pair.key" ng-options="opt as opt.label for opt in searchOptions" class="form-control input-xs" ></select>
		            		<br>
		            		<input  ng-model="pair.value" type="text"  class="form-control input-xs"/>
	        			</div>
	        		</div>
        		</div>
				<br>
			</div>
		</td>
	<tr>
	<tr style="position:relative;">
		<td bgcolor="#e7e7e7" style="position:relative;">
			<div style="width:100%;height:100%;overflow: auto;">
				<ul style="width:100%;margin:0; padding:0;list-style-type: none;font-size:11px;">
					<table class="resizable table table-hover">
						<thead>
							<tr>
								<th>&nbsp;</th>		
								<th>Naziv</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in files track by row._id " ng-dblclick="openModalFiles('modalImages.html', priority)">
								<td>
									<span style="float: left;">
										<input type="checkbox" ng-click="select(row._id)" name="group" style="float:left;" id="{{row.id}}" />
										<a href="" ng-click="remove()"><span title="Obriši" style="float:left;" class="ui-icon ui-icon-trash"></span></a>
										<a ng-click="showTemplate(row)" href="" ><span style="float:right;" title="PRIKAŽI" class="ui-icon ui-icon-script"></span></a>
									</span>
								</td>		
								<td>{{ row.name }}</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</ul>
			</div>
			<br>
			<div>
  				Odabir: {{selected}}
			</div>
		</td>
	</tr>
</table>

<script type="text/javascript">
	$('select').selectpicker();
</script>