<div ng-init="init()">
	<ul style="list-style-type: none;" >
		<li ng-repeat="row in testRows track by row.id"  >
			<span>{{ row.id }}</span>
			<span>{{ row.ime }}</span>
			<span>{{ row.prezime }}</span>
			<a href="#/edit/{{row.id}}" >Edit</a>
			<span  ng-click="delete(row.id)" >Delete</span>		
		</li>
	</ul>
	<a href="#/edit" >New</a>
</div>