<div style=" background-color: #f8f8f8;width:200px;font-family:arial;font-size:12px;" />
	<div>{{selectedNode.category}}</div>
  <treecontrol class="tree-light" 
     tree-model="dataForTheTree"
     options="treeOptions"
     on-selection="openByNode(node)"
     selected-node="selectedNode" >
     <span>{{node.category}}</span>   
  </treecontrol>
</div>