<div class="navbar navbar-default" ng-init="init();" style="padding:0;margin:0;">
	<ul class="nav navbar-nav">
   		<li ng-class="getClass('/trademarksEdit')">
   			<a href="#/trademarksEdit/{{editRow._id}}">
   				<span>Žigovi</span>
   			</a>
   		</li>
   		<li ng-class="getClass('/trademarksClientsEdit')">
   			<a href="#/trademarksClientsEdit/{{editRow._id}}">
   				<span>Klijenti</span>
   			</a>
   		</li>
   		<li ng-class="getClass('/trademarksInstructionsEdit')">
   			<a href="#/trademarksInstructionsEdit/{{editRow._id}}">
   				<span>Instrukcije</span>
   			</a>
   		</li>
   		<li ng-class="getClass('/trademarksListsEdit')">
   			<a href="#/trademarksListsEdit/{{editRow._id}}">
   				<span>Popis</span>
   			</a>
   		</li>
	</ul>
</div>