<div style="font-family:arial;font-size:12px;" ng-init="init();"></div>
<div style="width:1000px;">
	<button title="Pospremi podatke" ng-click="save()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-floppy-save" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Pospremi</span>
  		</span>
	</button>
	<button title="Pošalji e-mail" ng-click="emailIt()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-envelope" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> E-Mail</span>
  		</span>
	</button>
	<button title="Kopiraj osobu u međuspremnik" ng-click="copy()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-arrow-up" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Kopiraj</span>
  		</span>
	</button>
	<button title="Zalijepi podatke iz međuspremnika" ng-click="paste()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-arrow-down" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Zalijepi</span>
  		</span>
	</button>
	<button title="Izvezi osobu" ng-click="exportIt()" type="button" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-export" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Export</span>
  		</span>
	</button>
	<button style="position:relative;float:right;" title="Obriši osobu" ng-click="deleteIt()" type="button" class="btn btn-danger btn-xs">
  		<span class="glyphicon glyphicon-trash" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Delete</span>
  		</span>
	</button>
</div>
<div ng-include="'views/trademarksTabs.html'"></div>	
<div growl></div>	
<table width="1000px" bgcolor="#e7e7e7">
	<tr>
		<td bgcolor="#e7e7e7">	
			<table width="1000px" bgcolor="#BDBDBD" style="padding-right:10px;">
				<tr>
					<td width="200px">
						<label>Broj predmeta:</label>
					</td>
					<td width="700px">
						<label>Naziv žiga:</label>
					</td>
					<td width="100px">
						<label>Država:</label>
					</td>
				</tr>
				<tr>
					<td width="200px">
						<input class="form-control input-xs" style="width:90%;" type="text" ng-model="editRow.caseNo" readonly/>
					</td>
					<td width="700px">
						<input class="form-control input-xs" style="width:97%;" type="text" ng-model="editRow.caseName" readonly/>
					</td>
					<td width="100px">
						<input class="form-control input-xs text-uppercase" style="width:100%;" type="text" ng-model="editRow.countryId.iso2" maxlength="2" readonly/>
					</td>
				</tr>
			</table>
			<table width="1000px" style="padding-right:10px;">
				<tr>
					<td width="200px">
						<input type="checkbox">Odustajanje/Prestanak:
					</td>
					<td width="800px">
						<input class="form-control input-xs" style="width:100%;" type="text" ng-model="editRow.terminationReason" readonly/>
					</td>
				</tr>
			</table>
			<table>
				<br>
				<tr>
					<td>
						<table width="1000px">
							<tr>
								<td width="475px">
									<label>Popis proizvoda i usluga:</label>
								</td>
								<td width="25px">
									<label></label>
								</td>
								<td width="475px">
									<label>List of goods/services:</label>
								</td>
							</tr>
							<tr>
								<td width="475px">
									<label>Ažurirano <input type="checkbox"></label>
								</td>
								<td width="25px">
									<label></label>
								</td>
								<td width="475px">
									<label>Ažurirano <input type="checkbox"></label>
								</td>
							</tr>
							<tr>
								<td width="475px">
									<textarea class="form-control input-sm" rows="15" cols="57"></textarea>
								</td>
								<td width="25px"></td>
								<td width="475px">
									<textarea class="form-control input-sm" rows="15" cols="57"></textarea>
								</td>
							</tr>
						</table>
						<br>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>