<script type="text/ng-template" id="modalUsersEdit.html">
    <form id="userEditForm" novalidate ng-init="init()"  ng-submit="ok()"> 
	<div class="modal-header">
    	<h3 class="modal-title">Korisnici</h3>
    </div>
    <div class="modal-body" >
    	<div class="row">
    		<div class="col-xs-5 form-group">
				<label>Korisničko ime*</label>
				<input class='form-control input-xs' name="username" ng-model="editRow.username" type='text' ng-required  required="Korisničko ime je obavezno" username-validate />
			</div>
			<div class="col-xs-7 form-group">
				<label>Lozinka*</label>
				<input class='form-control input-xs' name="password" ng-model="editRow.password" type='password' ng-required required="Unesite lozinku" password-validate />
			</div>
		</div>
		<div class="row" >
			<div class="col-xs-5">
			</div>
			<div class="col-xs-7 form-group" >
				<label>Ponovi lozinku*</label>
				<input class='form-control input-xs' name="password2" ng-model="password2" type='password' password-validate/>
			</div>
		</div>
    	<div class="row">
    		<div class="col-xs-5 form-group">
				<label>Ime*</label>
				<input class='form-control input-xs' name="firstName" ng-model="editRow.firstName" type='text'/>
			</div>
			<div class="col-xs-5 form-group">
				<label>Prezime*</label>
				<input class='form-control input-xs' name="lastName" ng-model="editRow.lastName" type='text'/>
			</div>
			<div class="col-xs-2">
				<label>Inicijali</label>
				<input class='form-control input-xs'  disabled ng-model="editRow.initials" type='text'/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div>
					<label>E-Mail</label>
					<input class='form-control input-xs' style='width:100%;' ng-model="editRow.email" type='text'/>
				</div>
			</div>
			<div class="col-xs-12">
				<div>
					<label>Opis</label>
					<textarea class="form-control input-sm" rows="2" cols="10" ng-model="editRow.description"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="btn-group"  ng-repeat="role in allRoles track by role.key">
			    <div class="checkbox col-xs-4 ">
			      <label><input type="checkbox" ng-model="role.value">{{role.label}}</label>
			    </div>
			</div>
		</div>

	</div>
    <div class="modal-footer">
    	<button  type="submit" class="btn btn-primary"  tc-message="Snimi korisnika!">Pospremi</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div> 
    </form>
</script>


<div style="width:1000px;">
	<button ng-click="openModalUsers('modalUsersEdit.html')" class="btn btn-default btn-xs">
  		<span class="glyphicon glyphicon-folder-open" aria-hidden="true">
  			<span style="font-family:arial;font-size:12px;"> Novi</span>
  		</span>										
  	</button>
  	<span style="display:inline-block;width:50px;">&nbsp;</span>
  	<button type="button" class="btn btn-default btn-xs" ng-click="addPair()"> 
		<span class="glyphicon glyphicon-plus" aria-hidden="true">
			<span style="font-family:arial;font-size:12px;"> Dodaj</span>
		</span>
	</button>
	<button type="button" class="btn btn-default btn-xs" ng-click="search()"> 
		<span class="glyphicon glyphicon-search" aria-hidden="true">
			<span style="font-family:arial;font-size:12px;"> Potraži</span>
		</span>
	</button>
</div>
<div growl></div>
<div class="navbar navbar-default" ng-init="init();" style="margin:0;padding:0;">
	<ul class="nav navbar-nav">
   		<li ng-class="getClass('/usersSearch')">
   			<a href="">
   				<span>Korisnici</span>
   			</a>
   		</li>
	</ul>
</div>
<table width="100%" cellspacing="0" cellpadding="0" style="position:relative;">
	<tr>
		<td width="100%" bgcolor="#e7e7e7" style="position:relative;">
			<div style="margin-left:30px;font-family:arial;font-size:12px;">
				<div ng-init="init();" style="font-family:arial;font-size:12px;">
					<br>
					<div class="row">
						<div ng-repeat="pair in searchPairs" class="col-2 col-sm-5 col-md-3 col-lg-2 panel panel-primary">
					    	<span class="pull-right" >	
					    		<button style="position:relative;float:right;" type="button" class="btn btn-default btn-xs" ng-click="deletePair($index)"> 
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
							</span>			
		            		<select style="width:80%;padding-right:50px;position:relative;float:left;" ng-model="pair.key" ng-options="opt as opt.label for opt in searchOptions" class="form-control input-xs" ></select>
		            		<br>
		            		<input  ng-model="pair.value" type="text"  class="form-control input-xs"/>
	        			</div>
	        		</div>
        		</div>
				<br>
			</div>
		</td>
	<tr>
	<tr style="position:relative;">		
		<td bgcolor="#e7e7e7" style="position:relative;">
			<div style="width:100%;height:100%;overflow: auto;">
				<ul style="width:100%;margin:0; padding:0;list-style-type: none;font-size:11px;">
					<table class="resizable table table-hover">
						<thead>
							<tr>
								<th>&nbsp;</th>		
								<th>Korisničko ime</th>
								<th>Ime</th>
								<th>Prezime</th>
								<th>E-Mail</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in users" ng-dblclick="openModalUsers('modalUsersEdit.html', row)">
								<td>
									<span style="float: left;">
										<input type="checkbox" ng-click="select(row.id)" name="group" style="float:left;" id="{{row._id}}" />
										<a href="" ng-click="remove()"><span title="OBRIŠI" style="float:left;" class="ui-icon ui-icon-trash"></span></a>
									</span>
								</td>		
								<td>{{ row.username }}</td>
								<td>{{ row.firstName }}</td>
								<td>{{ row.lastName }}</td>		
								<td>{{ row.email }}</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</ul>	
			</div>
			<br>
			<div>
  				Odabir: {{selected}}
			</div>
		</td>
	</tr>
</table>

<script type="text/javascript">
	$('select').selectpicker();
</script>