<!-- <div ng-include="'views/menu.html'"></div> -->
<div ng-init="init()" >
	<div class="form-group">
		<!--  <td style="vertical-align: top;"></td>-->
		<table>
			<thead>
				<tr>	
					<th>&nbsp;</th>	
					<th>&nbsp;</th>
					<th>
						Last name
					</th>
					<th>&nbsp;</th>
					<th>
						First name
					</th>
					<th>&nbsp;</th>
					<th>
						Country
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in rows " >	
					<td>{{$index+1}}.</td>	
					<th>&nbsp;</th>
					<td>{{ row.lastName }}</td>
					<th>&nbsp;</th>
					<td>{{ row.firstName }}</td>
					<th>&nbsp;</th>
					<td>{{ row.country.localCode}}</td>		
					<td><img ng-src="{{getImgUrl(row)}}" width="24x"/></td>	
				</tr>
			</tbody>
		</table>
	</div>
</div>

