<!-- <div ng-include="'views/menu.html'"></div> -->
<div ng-init="init()" >
	<h4 class="modal-title">{{final ? 'Final' : 'Preliminary'}} results: {{run.name}}&nbsp;{{run.startTime | date:  'dd.MM.yyyy'}}&nbsp; {{run.type==='PreO' ? 'Class: ':''}}{{run.type==='PreO' ? printQuery.category:''}}</h4>
	<h5>Printed: {{now  | date:  'dd.MM.yyyy HH:mm:ss'}}</h5>
	<div class="row">
		<!--  <td style="vertical-align: top;"></td>-->
					<table >
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th>
									Pos.
								</th>
								<th style="padding-left:10px; width:180px;">
									Name
								</th>					
								<th style="padding-left:30px; width:180px;">Country</th>
								<th style="width:40px;">&nbsp;</th>
								<th style="padding-left:30px">Time</th>
								<th style="padding-left:30px" ng-show="run.type=='PreO'">Points</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in rows | orderBy:'rank'" >
								<td>
								</td>	
								<td ng-hide="row.status">{{row.rank}}.</td>	
								<td ng-show="row.status">{{row.status}}</td>	
								<td style="padding-left:10px; width:180px;">{{ row.competitor.fullName }}</td>
								<td style="padding-left:30px; width:180px;">{{ row.competitor.country.nameInt }}</td>
								<td style="width:36px;"><img ng-src="/pub/trailos/countrys/{{row.competitor.country._id}}/flagImg" width="29px" /></td>
								<td style="padding-left:30px; text-align: right;" ng-show="row.time==10000">{{ row.status}}</td>
								<td style="padding-left:30px; text-align: right;" ng-show="row.time<10000">{{ row.time}}</td>
								<td style="padding-left:30px; text-align: right;" ng-show="run.type=='PreO'">{{ row.points}}</td>
							</tr>
						</tbody>
					</table>
	</div>
</div>
