<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>TrailOS</title>
</head>
<body >
<div style="padding-left:30px">
	<h4 ><%= title %></h4>
	<h5 ><%= subTitle %></h5><br/>
	
	<div >
		<!--  <td style="vertical-align: top;"></td>-->
					<table >
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th style="padding-left:30px">
									Pos.
								</th>
								<th style="padding-left:30px">
									Name
								</th>				
								<th style="padding-left:30px">Country</th>
								<th>&nbsp;</th>
								<th style="padding-left:30px">Time</th>
							</tr>
						</thead>
						<tbody>
							<%= rows %>
						</tbody>
					</table>
	</div>
</div>
</body>
</html>