<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link href="resources/css/bootstrap.css" rel="stylesheet">

	<link href="resources/css/style.css" rel="stylesheet" type="text/css"/>

	<title>TrailOS</title>
</head>
<body >
<div style="padding-left:30px">
	<h5 class="modal-title"><%= title %></h5><br/>
	
	<div class="row">
		<!--  <td style="vertical-align: top;"></td>-->
					<table >
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th style="padding-left:30px">
									Pos.
								</th>
								<th style="padding-left:30px">
									Name
								</th>				
								<th style="padding-left:30px">Country</th>
								<th>&nbsp;</th>
								<th style="padding-left:30px">Time</th>
								<th style="padding-left:30px">Points</th>
							</tr>
						</thead>
						<tbody>
							<%= rows %>
						</tbody>
					</table>
	</div>
</div>
</body>
</html>