<div ng-init="init()" >
	<h5 class="modal-title">Preliminary: {{run.code}}&nbsp;{{run.startTime | date:  'dd.MM.yyyy'}}&nbsp;{{printQuery.category}}</h5><br/>
	
	<div >
		<!--  <td style="vertical-align: top;"></td>-->
					<table style="width:100%">
						<thead>
							<tr>
								<th colspan="6">
									
								</th>
								<th colspan="2">
									Day 1(A){{rows[0].runCmrs[0].code}}
								</th>
								<th colspan="2">
									Day 2(B)
								</th>
								<th ng-show="rows[0].runCmrs.length==3" colspan="2">
									Day 3(C)
								</th>
								<th colspan="2">
									Total
								</th>
							</tr
							<tr>
								<th>&nbsp;</th>
								<th style="padding-left:5px">
									Pos.
								</th>
								<th style="padding-left:5px">
									Name
								</th>				
								<th style="padding-left:5px">Country</th>
								<th>&nbsp;</th>
								
								<th style="padding-left:5px">Points</th>
								<th style="padding-left:5px">Time</th>

								<th style="padding-left:5px">Points</th>
								<th style="padding-left:5px">Time</th>

								<th style="padding-left:5px" ng-show="rows[0].runCmrs.length==3">Points</th>
								<th style="padding-left:5px" ng-show="rows[0].runCmrs.length==3">Time</th>

								<th style="padding-left:5px">Points</th>
								<th style="padding-left:5px">Time</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in rows | orderBy:'rank'" >
								<td>
								</td>	
								<td style='padding-left:5px'>{{row.rank}}.</td>
								<td style='padding-left:5px'>{{row.competitor.fullName}}</td>
								<td style='padding-left:5px'>{{row.competitor.country.localCode}}</td>
								<td><img ng-src="/pub/trailos/countrys/{{row.competitor.country._id}}/flagImg" width="32px" /></td>
								<td style='padding-left:5px; text-align: right;'>{{row.runCmrs[0].points}}</td>
								<td style='padding-left:5px; text-align: right;'>{{row.runCmrs[0].time}}</td>
								<td style='padding-left:5px; text-align: right;'>{{row.runCmrs[1].points}}</td>
								<td style='padding-left:5px; text-align: right;'>{{row.runCmrs[1].time}}</td>
								<td ng-show="row.runCmrs.length==3" style='padding-left:30px; text-align: right;'>{{row.runCmrs[2].points}}</td>
								<td ng-show="row.runCmrs.length==3" style='padding-left:30px; text-align: right;'>{{row.runCmrs[2].time}}</td>

								<td style='padding-left:5px; text-align: right;'>{{row.points}}</td>
								<td style='padding-left:5px; text-align: right;'>{{row.time}}</td>
							</tr>
						</tbody>
					</table>
	</div>
</div>
