<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>TrailOS</title>
</head>
<body >
<div style="padding-left:30px">
	<h4 >Preliminary: </h4>
	<h5 ><%= subTitle %></h5><br/>
	
	<div >
		<!--  <td style="vertical-align: top;"></td>-->
					<table >
						<thead>
							<tr>
								<th colspan="5">
									Competitor
								</th>
								<th colspan="2">
									Day 1
								</th>
								<th colspan="2">
									Day 2
								</th>
								<th colspan="2">
									Total
								</th>
							</tr>
							<tr>
								<th>&nbsp;</th>
								<th style="padding-left:30px">
									Pos.
								</th>
								<th style="padding-left:30px">
									Name
								</th>				
								<th style="padding-left:30px">Country</th>
								<th>&nbsp;</th>
								
								<th style="padding-left:30px">Points</th>
								<th style="padding-left:30px">Time</th>

								<th style="padding-left:30px">Points</th>
								<th style="padding-left:30px">Time</th>

								<th style="padding-left:30px">Points</th>
								<th style="padding-left:30px">Time</th>
							</tr>
						</thead>
						<tbody>
							<tr><td></td><td style='padding-left:30px'>1.</td><td style='padding-left:30px'>Tom Dobra</td><td style='padding-left:30px'>GBR</td><td><img src='./resources/flags/gb.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>24</td><td style='padding-left:30px; text-align: right;'>44</td><td style='padding-left:30px; text-align: right;'>25</td><td style='padding-left:30px; text-align: right;'>51</td><td style='padding-left:30px; text-align: right;'>49</td><td style='padding-left:30px; text-align: right;'>95</td></tr><tr><td></td><td style='padding-left:30px'>2.</td><td style='padding-left:30px'>Koji Chino</td><td style='padding-left:30px'>JPN</td><td><img src='./resources/flags/jp.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>23</td><td style='padding-left:30px; text-align: right;'>54.5</td><td style='padding-left:30px; text-align: right;'>25</td><td style='padding-left:30px; text-align: right;'>21.5</td><td style='padding-left:30px; text-align: right;'>48</td><td style='padding-left:30px; text-align: right;'>76</td></tr><tr><td></td><td style='padding-left:30px'>3.</td><td style='padding-left:30px'>Yevhen Hoienko</td><td style='padding-left:30px'>UKR</td><td><img src='./resources/flags/ua.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>21</td><td style='padding-left:30px; text-align: right;'>37.5</td><td style='padding-left:30px; text-align: right;'>26</td><td style='padding-left:30px; text-align: right;'>30.5</td><td style='padding-left:30px; text-align: right;'>47</td><td style='padding-left:30px; text-align: right;'>68</td></tr><tr><td></td><td style='padding-left:30px'>4.</td><td style='padding-left:30px'>Kentaro Iwata</td><td style='padding-left:30px'>JPN</td><td><img src='./resources/flags/jp.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>19</td><td style='padding-left:30px; text-align: right;'>90</td><td style='padding-left:30px; text-align: right;'>25</td><td style='padding-left:30px; text-align: right;'>48.5</td><td style='padding-left:30px; text-align: right;'>44</td><td style='padding-left:30px; text-align: right;'>138.5</td></tr><tr><td></td><td style='padding-left:30px'>5.</td><td style='padding-left:30px'>Anatoly Blyakhman</td><td style='padding-left:30px'>RUS</td><td><img src='./resources/flags/ru.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>20</td><td style='padding-left:30px; text-align: right;'>60</td><td style='padding-left:30px; text-align: right;'>24</td><td style='padding-left:30px; text-align: right;'>118</td><td style='padding-left:30px; text-align: right;'>44</td><td style='padding-left:30px; text-align: right;'>178</td></tr><tr><td></td><td style='padding-left:30px'>6.</td><td style='padding-left:30px'>Sami Hyvönen</td><td style='padding-left:30px'>FIN</td><td><img src='./resources/flags/fi.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>19</td><td style='padding-left:30px; text-align: right;'>216</td><td style='padding-left:30px; text-align: right;'>24</td><td style='padding-left:30px; text-align: right;'>165</td><td style='padding-left:30px; text-align: right;'>43</td><td style='padding-left:30px; text-align: right;'>381</td></tr><tr><td></td><td style='padding-left:30px'>7.</td><td style='padding-left:30px'>Alessio Tenani</td><td style='padding-left:30px'>ITA</td><td><img src='./resources/flags/it.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>22</td><td style='padding-left:30px; text-align: right;'>38.5</td><td style='padding-left:30px; text-align: right;'>20</td><td style='padding-left:30px; text-align: right;'>40.5</td><td style='padding-left:30px; text-align: right;'>42</td><td style='padding-left:30px; text-align: right;'>79</td></tr><tr><td></td><td style='padding-left:30px'>8.</td><td style='padding-left:30px'>Anton Puhovkin</td><td style='padding-left:30px'>UKR</td><td><img src='./resources/flags/ua.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>22</td><td style='padding-left:30px; text-align: right;'>44.5</td><td style='padding-left:30px; text-align: right;'>20</td><td style='padding-left:30px; text-align: right;'>52</td><td style='padding-left:30px; text-align: right;'>42</td><td style='padding-left:30px; text-align: right;'>96.5</td></tr><tr><td></td><td style='padding-left:30px'>9.</td><td style='padding-left:30px'>Magdalena Kurfurstova</td><td style='padding-left:30px'>CZE</td><td><img src='./resources/flags/cz.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>18</td><td style='padding-left:30px; text-align: right;'>98</td><td style='padding-left:30px; text-align: right;'>23</td><td style='padding-left:30px; text-align: right;'>22</td><td style='padding-left:30px; text-align: right;'>41</td><td style='padding-left:30px; text-align: right;'>120</td></tr><tr><td></td><td style='padding-left:30px'>10.</td><td style='padding-left:30px'>Esko Junttila</td><td style='padding-left:30px'>FIN</td><td><img src='./resources/flags/fi.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>21</td><td style='padding-left:30px; text-align: right;'>128</td><td style='padding-left:30px; text-align: right;'>20</td><td style='padding-left:30px; text-align: right;'>45.5</td><td style='padding-left:30px; text-align: right;'>41</td><td style='padding-left:30px; text-align: right;'>173.5</td></tr><tr><td></td><td style='padding-left:30px'>11.</td><td style='padding-left:30px'>Martin Aarholt Waaler</td><td style='padding-left:30px'>NOR</td><td><img src='./resources/flags/no.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>21</td><td style='padding-left:30px; text-align: right;'>148</td><td style='padding-left:30px; text-align: right;'>20</td><td style='padding-left:30px; text-align: right;'>151</td><td style='padding-left:30px; text-align: right;'>41</td><td style='padding-left:30px; text-align: right;'>299</td></tr><tr><td></td><td style='padding-left:30px'>12.</td><td style='padding-left:30px'>Lenka Forstova</td><td style='padding-left:30px'>CZE</td><td><img src='./resources/flags/cz.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>18</td><td style='padding-left:30px; text-align: right;'>181</td><td style='padding-left:30px; text-align: right;'>22</td><td style='padding-left:30px; text-align: right;'>104.5</td><td style='padding-left:30px; text-align: right;'>40</td><td style='padding-left:30px; text-align: right;'>285.5</td></tr><tr><td></td><td style='padding-left:30px'>13.</td><td style='padding-left:30px'>Jiří Kalousek</td><td style='padding-left:30px'>CZE</td><td><img src='./resources/flags/cz.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>19</td><td style='padding-left:30px; text-align: right;'>38.5</td><td style='padding-left:30px; text-align: right;'>20</td><td style='padding-left:30px; text-align: right;'>148</td><td style='padding-left:30px; text-align: right;'>39</td><td style='padding-left:30px; text-align: right;'>186.5</td></tr><tr><td></td><td style='padding-left:30px'>14.</td><td style='padding-left:30px'>Nenad Lovrec</td><td style='padding-left:30px'>CRO</td><td><img src='./resources/flags/hr.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>17</td><td style='padding-left:30px; text-align: right;'>346.5</td><td style='padding-left:30px; text-align: right;'>22</td><td style='padding-left:30px; text-align: right;'>61</td><td style='padding-left:30px; text-align: right;'>39</td><td style='padding-left:30px; text-align: right;'>407.5</td></tr><tr><td></td><td style='padding-left:30px'>15.</td><td style='padding-left:30px'>Masatoshi Arai</td><td style='padding-left:30px'>JPN</td><td><img src='./resources/flags/jp.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>16</td><td style='padding-left:30px; text-align: right;'>82.5</td><td style='padding-left:30px; text-align: right;'>23</td><td style='padding-left:30px; text-align: right;'>388</td><td style='padding-left:30px; text-align: right;'>39</td><td style='padding-left:30px; text-align: right;'>470.5</td></tr><tr><td></td><td style='padding-left:30px'>16.</td><td style='padding-left:30px'>Gintaras Mikolavičius</td><td style='padding-left:30px'>LTU</td><td><img src='./resources/flags/lt.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>13</td><td style='padding-left:30px; text-align: right;'>472</td><td style='padding-left:30px; text-align: right;'>25</td><td style='padding-left:30px; text-align: right;'>253.5</td><td style='padding-left:30px; text-align: right;'>38</td><td style='padding-left:30px; text-align: right;'>725.5</td></tr><tr><td></td><td style='padding-left:30px'>17.</td><td style='padding-left:30px'>Christine Roberts</td><td style='padding-left:30px'>GBR</td><td><img src='./resources/flags/gb.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>17</td><td style='padding-left:30px; text-align: right;'>146</td><td style='padding-left:30px; text-align: right;'>20</td><td style='padding-left:30px; text-align: right;'>139.5</td><td style='padding-left:30px; text-align: right;'>37</td><td style='padding-left:30px; text-align: right;'>285.5</td></tr><tr><td></td><td style='padding-left:30px'>18.</td><td style='padding-left:30px'>Noritoshi Matsuhashi</td><td style='padding-left:30px'>JPN</td><td><img src='./resources/flags/jp.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>16</td><td style='padding-left:30px; text-align: right;'>79</td><td style='padding-left:30px; text-align: right;'>19</td><td style='padding-left:30px; text-align: right;'>83</td><td style='padding-left:30px; text-align: right;'>35</td><td style='padding-left:30px; text-align: right;'>162</td></tr><tr><td></td><td style='padding-left:30px'>19.</td><td style='padding-left:30px'>Kyrylo Butskyi</td><td style='padding-left:30px'>UKR</td><td><img src='./resources/flags/ua.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>17</td><td style='padding-left:30px; text-align: right;'>265.5</td><td style='padding-left:30px; text-align: right;'>18</td><td style='padding-left:30px; text-align: right;'>127</td><td style='padding-left:30px; text-align: right;'>35</td><td style='padding-left:30px; text-align: right;'>392.5</td></tr><tr><td></td><td style='padding-left:30px'>20.</td><td style='padding-left:30px'>Ole-Johan Waaler</td><td style='padding-left:30px'>NOR</td><td><img src='./resources/flags/no.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>16</td><td style='padding-left:30px; text-align: right;'>58.5</td><td style='padding-left:30px; text-align: right;'>18</td><td style='padding-left:30px; text-align: right;'>224</td><td style='padding-left:30px; text-align: right;'>34</td><td style='padding-left:30px; text-align: right;'>282.5</td></tr><tr><td></td><td style='padding-left:30px'>21.</td><td style='padding-left:30px'>Ruth Rhodes</td><td style='padding-left:30px'>GBR</td><td><img src='./resources/flags/gb.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>14</td><td style='padding-left:30px; text-align: right;'>362</td><td style='padding-left:30px; text-align: right;'>18</td><td style='padding-left:30px; text-align: right;'>390</td><td style='padding-left:30px; text-align: right;'>32</td><td style='padding-left:30px; text-align: right;'>752</td></tr><tr><td></td><td style='padding-left:30px'>22.</td><td style='padding-left:30px'>Eva Fredholm</td><td style='padding-left:30px'>SWE</td><td><img src='./resources/flags/se.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>14</td><td style='padding-left:30px; text-align: right;'>320</td><td style='padding-left:30px; text-align: right;'>15</td><td style='padding-left:30px; text-align: right;'>185</td><td style='padding-left:30px; text-align: right;'>29</td><td style='padding-left:30px; text-align: right;'>505</td></tr><tr><td></td><td style='padding-left:30px'>23.</td><td style='padding-left:30px'>Pentti Koponen</td><td style='padding-left:30px'>FIN</td><td><img src='./resources/flags/fi.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>10</td><td style='padding-left:30px; text-align: right;'>261</td><td style='padding-left:30px; text-align: right;'>19</td><td style='padding-left:30px; text-align: right;'>360</td><td style='padding-left:30px; text-align: right;'>29</td><td style='padding-left:30px; text-align: right;'>621</td></tr><tr><td></td><td style='padding-left:30px'>24.</td><td style='padding-left:30px'>Ruta Čaikovskiene</td><td style='padding-left:30px'>LTU</td><td><img src='./resources/flags/lt.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>12</td><td style='padding-left:30px; text-align: right;'>285</td><td style='padding-left:30px; text-align: right;'>16</td><td style='padding-left:30px; text-align: right;'>151</td><td style='padding-left:30px; text-align: right;'>28</td><td style='padding-left:30px; text-align: right;'>436</td></tr><tr><td></td><td style='padding-left:30px'>25.</td><td style='padding-left:30px'>Geir Myhr Øien</td><td style='padding-left:30px'>NOR</td><td><img src='./resources/flags/no.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>26</td><td style='padding-left:30px; text-align: right;'>21</td><td style='padding-left:30px; text-align: right;'>26</td><td style='padding-left:30px; text-align: right;'>21</td></tr><tr><td></td><td style='padding-left:30px'>26.</td><td style='padding-left:30px'>Atis Rukšāns</td><td style='padding-left:30px'>UKR</td><td><img src='./resources/flags/ua.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>25</td><td style='padding-left:30px; text-align: right;'>229</td><td style='padding-left:30px; text-align: right;'>25</td><td style='padding-left:30px; text-align: right;'>229</td></tr><tr><td></td><td style='padding-left:30px'>27.</td><td style='padding-left:30px'>Taro Koyama</td><td style='padding-left:30px'>JPN</td><td><img src='./resources/flags/jp.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>12</td><td style='padding-left:30px; text-align: right;'>204.5</td><td style='padding-left:30px; text-align: right;'>12</td><td style='padding-left:30px; text-align: right;'>213</td><td style='padding-left:30px; text-align: right;'>24</td><td style='padding-left:30px; text-align: right;'>417.5</td></tr><tr><td></td><td style='padding-left:30px'>28.</td><td style='padding-left:30px'>Lauri Mäkinen</td><td style='padding-left:30px'>FIN</td><td><img src='./resources/flags/fi.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>24</td><td style='padding-left:30px; text-align: right;'>438</td><td style='padding-left:30px; text-align: right;'>24</td><td style='padding-left:30px; text-align: right;'>438</td></tr><tr><td></td><td style='padding-left:30px'>29.</td><td style='padding-left:30px'>Elena Zhirnova</td><td style='padding-left:30px'>RUS</td><td><img src='./resources/flags/ru.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>12</td><td style='padding-left:30px; text-align: right;'>372.5</td><td style='padding-left:30px; text-align: right;'>12</td><td style='padding-left:30px; text-align: right;'>118</td><td style='padding-left:30px; text-align: right;'>24</td><td style='padding-left:30px; text-align: right;'>490.5</td></tr><tr><td></td><td style='padding-left:30px'>30.</td><td style='padding-left:30px'>Sondre Ruud Bråten</td><td style='padding-left:30px'>NOR</td><td><img src='./resources/flags/no.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>23</td><td style='padding-left:30px; text-align: right;'>22.5</td><td style='padding-left:30px; text-align: right;'>23</td><td style='padding-left:30px; text-align: right;'>22.5</td></tr><tr><td></td><td style='padding-left:30px'>31.</td><td style='padding-left:30px'>Richard Keighley</td><td style='padding-left:30px'>GBR</td><td><img src='./resources/flags/gb.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>11</td><td style='padding-left:30px; text-align: right;'>303.5</td><td style='padding-left:30px; text-align: right;'>12</td><td style='padding-left:30px; text-align: right;'>82</td><td style='padding-left:30px; text-align: right;'>23</td><td style='padding-left:30px; text-align: right;'>385.5</td></tr><tr><td></td><td style='padding-left:30px'>32.</td><td style='padding-left:30px'>Hana Poležalova</td><td style='padding-left:30px'>CZE</td><td><img src='./resources/flags/cz.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>23</td><td style='padding-left:30px; text-align: right;'>453</td><td style='padding-left:30px; text-align: right;'>23</td><td style='padding-left:30px; text-align: right;'>453</td></tr><tr><td></td><td style='padding-left:30px'>33.</td><td style='padding-left:30px'>Susy De Pieri</td><td style='padding-left:30px'>ITA</td><td><img src='./resources/flags/it.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>22</td><td style='padding-left:30px; text-align: right;'>24</td><td style='padding-left:30px; text-align: right;'>22</td><td style='padding-left:30px; text-align: right;'>24</td></tr><tr><td></td><td style='padding-left:30px'>34.</td><td style='padding-left:30px'>Timi Čižek</td><td style='padding-left:30px'>SLO</td><td><img src='./resources/flags/si.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>22</td><td style='padding-left:30px; text-align: right;'>54</td><td style='padding-left:30px; text-align: right;'>22</td><td style='padding-left:30px; text-align: right;'>54</td></tr><tr><td></td><td style='padding-left:30px'>35.</td><td style='padding-left:30px'>Thorunn Aamodt Ovesen</td><td style='padding-left:30px'>NOR</td><td><img src='./resources/flags/no.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>10</td><td style='padding-left:30px; text-align: right;'>195.5</td><td style='padding-left:30px; text-align: right;'>11</td><td style='padding-left:30px; text-align: right;'>254</td><td style='padding-left:30px; text-align: right;'>21</td><td style='padding-left:30px; text-align: right;'>449.5</td></tr><tr><td></td><td style='padding-left:30px'>36.</td><td style='padding-left:30px'>Agnieška Kurmin</td><td style='padding-left:30px'>LTU</td><td><img src='./resources/flags/lt.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>11</td><td style='padding-left:30px; text-align: right;'>221.5</td><td style='padding-left:30px; text-align: right;'>9</td><td style='padding-left:30px; text-align: right;'>150.5</td><td style='padding-left:30px; text-align: right;'>20</td><td style='padding-left:30px; text-align: right;'>372</td></tr><tr><td></td><td style='padding-left:30px'>37.</td><td style='padding-left:30px'>David Coton</td><td style='padding-left:30px'>GBR</td><td><img src='./resources/flags/gb.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>8</td><td style='padding-left:30px; text-align: right;'>234.5</td><td style='padding-left:30px; text-align: right;'>11</td><td style='padding-left:30px; text-align: right;'>119</td><td style='padding-left:30px; text-align: right;'>19</td><td style='padding-left:30px; text-align: right;'>353.5</td></tr><tr><td></td><td style='padding-left:30px'>38.</td><td style='padding-left:30px'>Harun TunÇ</td><td style='padding-left:30px'>TUR</td><td><img src='./resources/flags/tr.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>8</td><td style='padding-left:30px; text-align: right;'>307</td><td style='padding-left:30px; text-align: right;'>11</td><td style='padding-left:30px; text-align: right;'>279</td><td style='padding-left:30px; text-align: right;'>19</td><td style='padding-left:30px; text-align: right;'>586</td></tr><tr><td></td><td style='padding-left:30px'>39.</td><td style='padding-left:30px'>Gintare Mikolavičiute</td><td style='padding-left:30px'>LTU</td><td><img src='./resources/flags/lt.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>9</td><td style='padding-left:30px; text-align: right;'>280</td><td style='padding-left:30px; text-align: right;'>7</td><td style='padding-left:30px; text-align: right;'>28.5</td><td style='padding-left:30px; text-align: right;'>16</td><td style='padding-left:30px; text-align: right;'>308.5</td></tr><tr><td></td><td style='padding-left:30px'>40.</td><td style='padding-left:30px'>Almas Matulaitis</td><td style='padding-left:30px'>LAT</td><td><img src='./resources/flags/lv.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>8</td><td style='padding-left:30px; text-align: right;'>224.5</td><td style='padding-left:30px; text-align: right;'>5</td><td style='padding-left:30px; text-align: right;'>402</td><td style='padding-left:30px; text-align: right;'>13</td><td style='padding-left:30px; text-align: right;'>626.5</td></tr><tr><td></td><td style='padding-left:30px'>41.</td><td style='padding-left:30px'>Roland Ekelof</td><td style='padding-left:30px'>SWE</td><td><img src='./resources/flags/se.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>12</td><td style='padding-left:30px; text-align: right;'>239</td><td style='padding-left:30px; text-align: right;'>12</td><td style='padding-left:30px; text-align: right;'>239</td></tr><tr><td></td><td style='padding-left:30px'>42.</td><td style='padding-left:30px'>Tatjana Strmčnik</td><td style='padding-left:30px'>SLO</td><td><img src='./resources/flags/si.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>12</td><td style='padding-left:30px; text-align: right;'>332.5</td><td style='padding-left:30px; text-align: right;'>12</td><td style='padding-left:30px; text-align: right;'>332.5</td></tr><tr><td></td><td style='padding-left:30px'>43.</td><td style='padding-left:30px'>Jasminka Cindrić</td><td style='padding-left:30px'>CRO</td><td><img src='./resources/flags/hr.png' width='31px' /></td><td style='padding-left:30px; text-align: right;'>10</td><td style='padding-left:30px; text-align: right;'>168.5</td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>0</td><td style='padding-left:30px; text-align: right;'>10</td><td style='padding-left:30px; text-align: right;'>168.5</td></tr>
						</tbody>
					</table>
	</div>
</div>
</body>
</html>