<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>TrailOS</title>
	<style>
		table, th, td {
    		border: 1px solid black;
    		border-collapse: collapse;
    		text-align: center;
    		padding-top: 2px;
    		padding-bottom: 1px;
    		padding-left: 5px;
    		padding-right: 5px;
    		font-size: 11px;
		}
		.verySmall {
			font-size: 8px;
		}
		.left {
			text-align: left !important;
		}
		.fstc{
			width: 20px;
		}
		.sndc{
			width: 200px;
		}
		/?
		.flag {
			/* width: 190px !important; */
			 white-space: nowrap !important;
		}
		.correct {
			font-weight: bold;
		}
		.wrong {
			font-style: italic;
		}
	</style>
</head>
<body >
<div style="padding-left:30px">
	<h5 ><%= title %></h5>
	
	<div >
		<!--  <td style="vertical-align: top;"></td>-->
					<table >
						<tbody>
							<%= rows %>
						</tbody>
					</table>
	</div>
</div>
</body>
</html>