<!-- <div ng-include="'views/menu.html'"></div> -->
<div ng-init="init()" >
	<h4 class="modal-title">Startlist: {{run.name}}<br/>{{run.startTime | date:  'dd.MM.yyyy HH:mm'}}<br/><span ng-show="printQuery.category">Class: {{printQuery.category}}</span><span style="display:inline-block;width:50px;">&nbsp;</span><span ng-show="printQuery.group">Group: {{printQuery.group}}</span><span ng-show="groupStart" style="padding-left:50px">{{groupStart}}</span></h4><br/>
	
	
		<!--  <td style="vertical-align: top;"></td>-->
					<table width="700px">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th>
									&nbsp;
								</th>
								<th style="padding-left:10px; width:180px">
									Name
								</th>
								<th style="padding-left:10px; width:80px;text-align: right;" ng-show="run.type==='PreO'">
									SI&nbsp;no.
								</th>
								<th style="padding-left:30px" ng-show="run.type==='PreO'">
									Category
								</th>					
								<th style="padding-left:30px">Country</th>
								<th>&nbsp;</th>
								<th style="padding-left:30px; text-align: right;">Pre-Start</th>
								<th style="padding-left:30px">Start&nbsp;minute</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in rows | orderBy:'genStartMin'" >
								<td>
								</td>	
								<td >{{row.cmpCmrs.startNo}}</td>	
								<td style="padding-left:10px">{{ row.competitor.fullName }}</td>
								<td style="padding-left:10px;text-align: right;" ng-show="run.type==='PreO'">{{ row.competitor.siChipNo}}</td>
								<td style="padding-left:30px"  ng-show="run.type==='PreO'">{{ row.category.name }}</td>
								<td style="padding-left:30px">{{ row.competitor.country.localCode }}</td>
								<td><img ng-src="/pub/trailos/countrys/{{ row.competitor.country._id}}/flagImg" width="30px" /></td>
								<td style="padding-left:30px; text-align: right;">{{row.genStartMin<=9? "0":""}}{{ row.genStartMin}}:{{row.genStartSec<=9? "0":""}}{{row.genStartSec}}</td>		
								<td style="padding-left:30px">__________</td>						
							</tr>
						</tbody>
					</table>

</div>
