<!-- <div ng-include="'views/menu.html'"></div> -->
<div ng-init="init()" >
	<h4 class="modal-title">Startlist: {{run.name}}<br/>{{run.startTime | date:  'dd.MM.yyyy HH:mm'}}<br/><span ng-show="printQuery.category">Class: {{printQuery.category}}</span><span style="display:inline-block;width:50px;">&nbsp;</span><span ng-show="printQuery.group">Group: {{printQuery.group}}</span><span ng-show="groupStart" style="padding-left:50px">{{groupStart}}</span></h4><br/>
	
	
		<!--  <td style="vertical-align: top;"></td>-->
					<table width="700px">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th>
									&nbsp;
								</th>
								<th style="padding-left:10px; width:180px">
									Name
								</th>
								<th style="padding-left:30px">Finish</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in rows | orderBy:'genStartMin'" >
								<td>
								</td>	
								<td >{{row.cmpCmrs.startNo}}</td>	
								<td style="padding-left:10px">{{ row.competitor.fullName }}</td>
										
								<td style="padding-left:30px">__________</td>						
							</tr>
						</tbody>
					</table>

</div>
